/*

  Flex grid

 */

@define-mixin flexGrid $flex-grow, $flex-basis, $grid-gap {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-1 * $grid-gap);
  margin-left: calc(-1 * $grid-gap);
  
  & > * {
    flex: $flex-grow 1 $flex-basis;
    padding-right: $grid-gap;
    padding-left: $grid-gap;
  }
}

.FlexGrid {
  @mixin flexGrid 1, auto, var(--s-2);
}

.FlexGrid--noGrow {
  @mixin flexGrid 0, auto, var(--s-2);
}