:root {
  --Popover-triangle-height: 8px;
}

.Popover {
  backface-visibility: hidden;
  opacity: 0;
  outline: 0;
  position: absolute;
  transform: scale(0);
  transition: z-index 0s, opacity 500ms ease-out;
  z-index: -1;
  
  &.is-active {
    opacity: 1;
    transform: scale(1);
    transition: z-index 0s, opacity 150ms ease-out;
    z-index: 1000;
  }
}

.Popover-translate {
  transform: translateY(0);
  transition: all ease-out 150ms;
}

.is-active .Popover-translate {
  transform: translateY(16px);
  transition: all ease-out 150ms;
}

.Popover-triangle {
  display: block;
  line-height: var(--Popover-triangle-height);
  position: absolute;
  z-index: 1;
}

.Popover-list {
  background: var(--c-bg);
  border: 1px solid var(--c-border);
  border-radius: var(--border-radius);
  box-shadow: 0 18px 30px 0 rgba(0,0,0,0.12);
  color: var(--c-text);
  display: inline-block;
  margin-top: var(--Popover-triangle-height);
  outline: 0;
  position: relative;
  text-align: left;
  transition: all ease-out 500ms;
  width: 200px;

  & li {
    &:not(:last-child) {
      border-bottom: 1px solid var(--c-border);
    }
  }
  
  & li a {
    @include textRgMedium();
    display: block;
    padding: var(--s-3);
  }
}


.Popover--memberNav.is-active {
  right: 0;
  top: 34px;
    
  & .Popover-triangle {
    text-align: right;
    width: 95%;
  }
}

.Popover--share.is-active {
  right: 50%;
  top: space(2.5);
  transform: translateX(50%);
  
  & .Popover-triangle {
    text-align: center;
    width: 100%;
  }
}
