/*

  CSS Grid

  * Klim's site
  * https://alligator.io/css/css-grid-layout-grid-areas/
  * grid-template-columns with repeat, autfill & minmax = https://rachelandrew.co.uk/archives/2016/04/12/flexible-sized-grids-with-auto-fill-and-minmax/
  * https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout
  * https://css-tricks.com/snippets/css/complete-guide-grid/

  * grid-row — shorthand for grid-row-start / grid-row-end
  * grid-column — shorthand for grid-column-start / grid-column-end
  * grid-template-columns — eg. 2fr 2fr 1fr 2fr;
  * grid-area — shorthand for…
      grid-row-start: a;
      grid-column-start: a;
      grid-row-end: a;
      grid-column-end: a;
    eg: grid-area: a / a / a / a;
  * grid-auto-flow: how the auto-placement algorithm works
    see: https://developer.mozilla.org/en-US/docs/Web/CSS/grid-auto-flow

  * start / end examples
    .item1 {
      grid-column: 1 / 5;
    }
    .item2 {
      grid-column: 1 / 3;
      grid-row: 2 / 4;
    }
    .item3 {
      grid-column: 3 / 5;
    }

  Tailwind:
    * https://github.com/chrisrowe/tailwindcss-grid
    * https://tailwindcss.github.io/plugin-examples/#css-grid

 */

/*

  Variables
  1. Klim: calc(12 / 1680 * 100vw)
  2. Klim: calc(56 / 1680)

 */

:root {
  --gridColumnCount: 12;
  --gridColumnGap: calc(42 / 1680 * 100vw); /* 1 */
  --gridMarginGapRelative: calc(84 / 1680); /* 2 */
  --gridMarginGap: calc(var(--gridMarginGapRelative) * 100vw);
  --gridTemplateColumnsDefault: repeat(var(--gridColumnCount), minmax(0, 1fr));
}
@screen xl {
  :root {
    /* --gridMarginGapRelative: calc(224 / 1680); */
  }
}

/*

  Grid applied
  …taken from Klim

 */

.frame {
  display: grid;
  grid-template-columns: var(--gridTemplateColumnsDefault);
  grid-column-gap: var(--gridColumnGap);
  grid-row-gap: var(--spacing5);
  height: auto;
  margin: 0 var(--gridMarginGap);
}

/* .frame--intro {
  grid-template-areas:
    "b b b b b b b b b b b b"
    "a a a a a a a a a a a a";
}
@screen md {
  .frame--intro {
    grid-template-areas: "a b b b b b b b . . . .";
  }
}
@screen hu {
  .frame--intro {
    grid-template-areas: "a b b b b . . . . . . .";
  }
} */

/* header (PageTitle) */

.frame--header {
  grid-template-areas:
    "b b b b b b b b b b b b"
    "a a a a a a a a a a a a";
}
@screen md {
  .frame--header {
    grid-template-areas: "a a b b b b b b b . . .";
  }
}
@screen hu {
  .frame--header {
    grid-template-areas: "a a . b b b b b . . . .";
  }
}
@screen su {
  .frame--header {
    grid-template-areas: "a a . b b b b . . . . .";
  }
}

/* article */

.frame--article {
  grid-template-areas: "a a a a a a a a a a a a";
}
@screen md {
  .frame--article {
    grid-template-areas: ". . a a a a a a a . . .";
  }
}
@screen hu {
  .frame--article {
    grid-template-areas: ". . . a a a a a a . . .";
  }
}
@screen su {
  .frame--article {
    grid-template-areas: ". . . a a a a . . . . .";
  }
}

/* dual columns within article */

.frame--columns {
  --gridColumnCount: 1;
  grid-template-columns: repeat(var(--gridColumnCount), 1fr);
  grid-template-areas:
    "a"
    "b";
  margin: 0;
}
@screen lg {
  .frame--columns {
    --gridColumnCount: 2;
    grid-template-areas: "a b";
  }
}

/* home page projects */

.frame--projectRows {
  grid-row-gap: 0;
}

.frame--projectCards {
  --gridColumnCount: 1;
  grid-template-columns: repeat(var(--gridColumnCount), minmax(0, 1fr));
}
@screen sm {
  .frame--projectCards {
    --gridColumnCount: 2;
  }
}
@screen md {
  .frame--projectCards {
    --gridColumnCount: 3;
  }
}
/* @screen hu {
  .frame--projectCards {
    --gridColumnCount: 4;
  }
} */
@screen su {
  .frame--projectCards {
    --gridColumnCount: 4;
  }
}

/* footer */

.frame--footer {
  grid-template-areas: "a a a a a a a a a a . .";
}
@screen md {
  .frame--footer {
    grid-template-areas: ". a a a a . . . . . . .";
  }
}
@screen hu {
  .frame--footer {
    grid-template-areas: ". . a a a . . . . . . .";
  }
}

/*

  UTILS

 */

.frame-area-a {
  grid-area: a;
}
.frame-area-b {
  grid-area: b;
}
.frame-area-c {
  grid-area: c;
}
.frame-area-d {
  grid-area: d;
}
