/*

  Container variations

*/

.container--text {
  @apply mx-auto;
  max-width: theme(screens.sm) !important;
}

.container--list {
  @apply mx-auto;
  max-width: 740px !important;
}

@media (max-width: 740px) {
  .container--removeListInset {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.container--hero {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

@screen lg {
  .container {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

/*

  Super container.
  Rather than define a width, define how
  much it insets from the browser window.

*/

/* .container--su {
  max-width: none !important;
}
@screen su {
  .container--su {
    padding-left: 7vw !important;
    padding-right: 7vw !important;
  }
}
@media (min-width: 1800px) {
  .container--su {
    padding-left: 14vw !important;
    padding-right: 14vw !important;
  }
} */
