
@font-face {
    font-family:"JeanLuc-Bold";
    src:url("JeanLuc-Bold.woff2") format("woff2"),url("JeanLuc-Bold.woff") format("woff"),url("JeanLuc-Bold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        