/*

  Figures

 */

:root {
  --container-rg-img: 800px;
}

.figure {
  margin-top: var(--s-3);
  margin-bottom: calc(1.1 * var(--s-3));
  position: relative;

  @media (--md) {
    margin-top: var(--s-4);
    margin-bottom: calc(1.1 * var(--s-4));
  }
  @media (--lg) {
    margin-top: var(--s-4a);
    margin-bottom: calc(1.1 * var(--s-4a));
  }

  &:first-child {
    margin-top: 0;
  }

  & img {
    width: 100%;
  }
}

.figure--bottomSpace {
  margin-bottom: calc(1.1 * var(--s-3));

  @media (--md) {
    margin-bottom: calc(1.1 * var(--s-4));
  }
  @media (--lg) {
    margin-bottom: calc(1.1 * var(--s-4a));
  }
}

.figure--frame {
  border: 1px solid var(--c-border);
}

.figure--project,
.figure--post {
  left: calc(-50vw + 50%);
  width: 100vw;

  @media (--md) {
    left: calc((-0.5 * var(--container-rg-img)) + 50%);
    width: var(--container-rg-img);
  }
}

.Project-figure {
  margin-top: var(--rs-block-space);
  margin-bottom: var(--rs-block-space);
}

.figure--large {
  width: 100%;

  @media (min-width: 1136px) {
    left: calc(-40vw + 50%);
    width: 80vw;
  }
  @media (min-width: 1840px) {
    left: calc(-30vw + 50%);
    width: 60vw;
  }
}

.figure--portrait {
  overflow: hidden;
  margin: 0 auto;
}
