.Projects {
  /* border-top: 1px solid var(--c-text); */
  padding-left: var(--text-indent);
}

.Projects-year {
  margin-bottom: 0;
  padding-top: var(--s-heading);

  &:first-of-type {
    padding-top: 0;
  }
}
