
@font-face {
    font-family:"JeanLuc-Thin";
    src:url("JeanLuc-Thin.woff2") format("woff2"),url("JeanLuc-Thin.woff") format("woff"),url("JeanLuc-Thin.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        