/*
 * https://next.tailwindcss.com/docs/installation
 *
 * @tailwind directives cannot come before @import so they exist in seperate
 * files under `tailwind/`
 */

/* Tailwind base & components */
@import "./tailwind/base.css";

/* CFd themeable components */
@import "./theme/theme-fontface";
@import "./theme/theme-modal";
@import "./theme/theme-modal-transitions";
@import "./theme/theme-page-transitions";
@import "./theme/theme-scale";
/* @import "./theme/theme-typography"; */
@import "./theme/theme-grid-extractor.css";
@import "./theme/theme-logo.css";

/* CFd standard components */
@import "./layout/layout";
@import "./layout/layout-grid";
@import "./layout/layout-grid2";
@import "./layout/layout-block";
@import "./layout/layout-block2";
@import "./layout/layout-container";
@import "./layout/layout-column";
/* @import "./layout/layout-media"; */
@import "./typography/typography-link";
@import "./typography/typography-text";
@import "./typography/typography-headings2";
@import "./typography/typography-spacing";
@import "./typography/typography-spacing2";
@import "./typography/typography-code";
@import "./element/element-button";
@import "./element/element-form";
@import "./element/element-icon";

/* custom components */
/* …anything written from scratch for the project goes here… */
@import "./custom/custom-tabs.css";

/* Tailwind utils */
@import "./tailwind/utilities.css";

/* CFd standard utils */
@import "./element/element-aria";
@import "./custom/custom-utils";
