/*

  Blocks use responsive spaces that change size at breakpoints 
  to create better white space across responsive screen sizes.
  See: https://philipwalton.com/articles/why-im-excited-about-native-css-variables/

  Responsive margin blocks

 */

.b-my0 {
  margin-top: calc(0.5 * var(--rs-block-space));
  margin-bottom: calc(0.5 * var(--rs-block-space));
}
.b-my1 {
  margin-top: calc(0.75 * var(--rs-block-space));
  margin-bottom: calc(0.75 * var(--rs-block-space));
}
.b-my2 {
  margin-top: var(--rs-block-space);
  margin-bottom: var(--rs-block-space);
}
.b-my3 {
  margin-top: calc(2 * var(--rs-block-space));
  margin-bottom: calc(2 * var(--rs-block-space));
}
.b-my4 {
  margin-top: calc(3 * var(--rs-block-space));
  margin-bottom: calc(3 * var(--rs-block-space));
}

.b-mt0 {
  margin-top: calc(0.5 * var(--rs-block-space));
}
.b-mt1 {
  margin-top: calc(0.75 * var(--rs-block-space));
}
.b-mt2 {
  margin-top: var(--rs-block-space);
}
.b-mt3 {
  margin-top: calc(2 * var(--rs-block-space));
}
.b-mt4 {
  margin-top: calc(3 * var(--rs-block-space));
}

.b-mb0 {
  margin-bottom: calc(0.5 * var(--rs-block-space));
}
.b-mb1 {
  margin-bottom: calc(0.75 * var(--rs-block-space));
}
.b-mb2 {
  margin-bottom: var(--rs-block-space);
}
.b-mb3 {
  margin-bottom: calc(2 * var(--rs-block-space));
}
.b-mb4 {
  margin-bottom: calc(3 * var(--rs-block-space));
}

/* 

  Responsive padding blocks

 */

.b-py0 {
  padding-top: calc(0.5 * var(--rs-block-space));
  padding-bottom: calc(0.5 * var(--rs-block-space));
}
.b-py1 {
  padding-top: calc(0.75 * var(--rs-block-space));
  padding-bottom: calc(0.75 * var(--rs-block-space));
}
.b-py2 {
  padding-top: var(--rs-block-space);
  padding-bottom: var(--rs-block-space);
}
.b-py3 {
  padding-top: calc(2 * var(--rs-block-space));
  padding-bottom: calc(2 * var(--rs-block-space));
}
.b-py4 {
  padding-top: calc(3 * var(--rs-block-space));
  padding-bottom: calc(3 * var(--rs-block-space));
}

.b-pt1 {
  padding-top: calc(0.75 * var(--rs-block-space));
}
.b-pt2 {
  padding-top: var(--rs-block-space);
}
.b-pt3 {
  padding-top: calc(2 * var(--rs-block-space));
}
.b-pt4 {
  padding-top: calc(3 * var(--rs-block-space));
}

.b-pb1 {
  padding-bottom: calc(0.75 * var(--rs-block-space));
}
.b-pb2 {
  padding-bottom: var(--rs-block-space);
}
.b-pb3 {
  padding-bottom: calc(2 * var(--rs-block-space));
}
.b-pb4 {
  padding-bottom: calc(3 * var(--rs-block-space));
}
