/*

  colors

 */

.c-brand {
  color: var(--c-brand);
}
.c-brandHover {
  color: var(--c-brandHover);
}
.c-brandLight {
  color: var(--c-brandLight);
}

.c-black {
  color: black;
}
.c-text {
  color: var(--c-text);
}
.c-textLight {
  color: var(--c-textLight);
}
.c-gray {
  color: var(--c-gray);
}
.c-border {
  color: var(--c-border);
}
.c-neutral {
  color: var(--c-brand);
}
.c-bg {
  color: var(--c-brand);
}
.c-white {
  color: white;
}

.c-success {
  color: var(--c-success);
}
.c-warning {
  color: var(--c-warning);
}
.c-danger {
  color: var(--c-danger);
}

.c-textBlock > * {
  color: var(--c-text);
}

/*

  bg colors

 */

.bg-brand {
  background-color: var(--c-brand);
}

.bg-black {
  background-color: black;
}
.bg-ash {
  background-color: var(--c-ash);
}
.bg-text {
  background-color: var(--c-text);
}
.bg-textLight {
  background-color: var(--c-textLight);
}
.bg-gray {
  background-color: var(--c-gray);
}
.bg-rule {
  background-color: var(--c-rule);
}
.bg-border {
  background-color: var(--c-border);
}
.bg-neutral {
  background-color: var(--c-brand);
}
.bg-bg {
  background-color: var(--c-brand);
}
.bg-white {
  background-color: white;
}

.bg-success {
  background-color: var(--c-success);
}
.bg-warning {
  background-color: var(--c-warning);
}
.bg-danger {
  background-color: var(--c-danger);
}
