/*

  https://github.com/suitcss/utils-display

*/

.u-flex {
  display: flex;
}

.u-block {
  display: block;
}

.u-hidden {
  display: none;
}

/**
  Completely remove from the flow but leave available to screen readers.
*/

.u-hiddenVisually {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.u-inline {
  display: inline;
}

/*
  Has inline children.
  Useful for `ul` and `ol` elements.
*/

.u-inlineBlockChildren {
  & > * {
    display: inline-block;
    &:not(:last-child) {
      margin-right: var(--inlineBlockChildrenSpace);
    }
  }
}

/**
 * 1. Fix for Firefox bug: an image styled `max-width:100%` within an
 * inline-block will display at its default size, and not limit its width to
 * 100% of an ancestral container.
 */

.u-inlineBlock {
  display: inline-block;
  max-width: 100%; /* 1 */
}

.u-table {
  display: table;
}

.u-tableCell {
  display: table-cell;
}

.u-tableRow {
  display: table-row;
}

/*

  RS

 */

@media (--sm) {
  .u-sm-inlineBlock {
    display: inline-block;
    max-width: 100%; /* 1 */
  }
  .u-sm-block {
    display: block;
  }
  .u-sm-flex {
    display: flex;
  }
}

@media (--md) {
  .u-md-hidden {
    display: none;
  }
  .u-md-block {
    display: block;
  }
  .u-md-flex {
    display: flex;
  }
}

@media (--lg) {
  .u-lg-block {
    display: block;
  }
  .u-lg-flex {
    display: flex;
  }
  .u-lg-hidden {
    display: none;
  }
}
