/*

  Flexbox

  https://github.com/suitcss/utils-flex
  https://github.com/tachyons-css/tachyons/blob/master/src/_flexbox.css

*/

/* Applies to flex container */

.f {
  display: flex !important;
}
.f-inline {
  display: inline-flex !important;
}

.f-row {
  flex-direction: row !important;
}
.f-rowReverse {
  flex-direction: row-reverse !important;
}

.f-column {
  flex-direction: column !important;
}
.f-columnReverse {
  flex-direction: column-reverse !important;
}

.f-wrap {
  flex-wrap: wrap !important;
}
.f-noWrap {
  flex-wrap: nowrap !important;
}
.f-wrapReverse {
  flex-wrap: wrap-reverse !important;
}

.f-justifyStart {
  justify-content: flex-start !important;
}
.f-justifyEnd {
  justify-content: flex-end !important;
}
.f-justifyCenter {
  justify-content: center !important;
}
.f-justifyBetween {
  justify-content: space-between !important;
}
.f-justifyAround {
  justify-content: space-around !important;
}

.f-alignItemsStart {
  align-items: flex-start !important;
}
.f-alignItemsEnd {
  align-items: flex-end !important;
}
.f-alignItemsCenter {
  align-items: center !important;
}
.f-alignItemsStretch {
  align-items: stretch !important;
}
.f-alignItemsBaseline {
  align-items: baseline !important;
}

.f-alignContentStart {
  align-content: flex-start !important;
}
.f-alignContentEnd {
  align-content: flex-end !important;
}
.f-alignContentCenter {
  align-content: center !important;
}
.f-alignContentStretch {
  align-content: stretch !important;
}
.f-alignContentBetween {
  align-content: space-between !important;
}
.f-alignContentAround {
  align-content: space-around !important;
}

.f > *,
.f-Inline > * {
  flex-shrink: 1 !important;
}

/* Applies to flex items */

.f-alignSelfStart {
  align-self: flex-start !important;
}
.f-alignSelfEnd {
  align-self: flex-end !important;
}
.f-alignSelfCenter {
  align-self: center !important;
}
.f-alignSelfStretch {
  align-self: stretch !important;
}
.f-alignSelfBaseline {
  align-self: baseline !important;
}
.f-alignSelfAuto {
  align-self: auto !important;
}

.f-orderFirst {
  order: -1 !important;
}
.f-orderLast {
  order: 1 !important;
}
.f-orderNone {
  order: 0 !important;
}

.f-grow1 {
  flex: 1 1 0% !important;
}
.f-grow2 {
  flex: 2 1 0% !important;
}
.f-grow3 {
  flex: 3 1 0% !important;
}
.f-grow4 {
  flex: 4 1 0% !important;
}
.f-grow5 {
  flex: 5 1 0% !important;
}

.f-expand {
  margin: auto !important;
}
.f-expandLeft {
  margin-left: auto !important;
}
.f-expandRight {
  margin-right: auto !important;
}
.f-expandTop {
  margin-top: auto !important;
}
.f-expandBottom {
  margin-bottom: auto !important;
}

/*

  Helpers

*/

@define-mixin FlexChildrenCenter {
  align-items: center;
  display: flex;
  height: inherit;
  justify-content: center;
  min-height: 100%;

  & > * {
    align-items: stretch;
    align-self: center;
  }
}

.f-childrenCenter {
  @mixin FlexChildrenCenter;
  align-items: center;
  display: flex;
  height: inherit;
  justify-content: center;
  min-height: 100%;

  & > * {
    align-items: stretch;
    align-self: center;
  }
}

/*

  Responsive

*/

/* @media (--sm) { */
@media (min-width: 512px) {
  .f-sm {
    display: flex !important;
  }
  .f-sm-row {
    flex-direction: row !important;
  }
  .f-sm-col {
    flex-direction: column !important;
  }
  .f-sm-justifyBetween {
    justify-content: space-between !important;
  }
  .f-sm-justifyStart {
    justify-content: flex-start !important;
  }
}

/* @media (--lg) { */
@media (min-width: 1280px) {
  .f-lg {
    display: flex !important;
  }
  .f-lg-row {
    flex-direction: row !important;
  }
  .f-lg-col {
    flex-direction: column !important;
  }
  .f-lg-justifyBetween {
    justify-content: space-between !important;
  }
  .f-lg-justifyStart {
    justify-content: flex-start !important;
  }
}
