/*

  SVG icon
  NB: https://css-tricks.com/scale-svg/ 

 */

.u-iconWrapper {
  cursor: pointer;
  display: inline-block;
  margin: calc(-1 * var(--space));
  padding: var(--space);
}

.u-icon {
  display: inline-block;
  fill: currentColor;
  line-height: 1;
  max-width: 100%;
  position: relative;
  text-align: center;
  user-select: none;

  & > svg {
    fill: currentColor;
    transition: fill 400ms ease;
  }
}

/*

  Target blank icon

 */

.icon-targetblank {
  position: relative;
}

.icon-targetblank:after {
  content: "\2192";
  display: inline-block;
  font-family: var(--ff-stack-sans);
  font-weight: 400;
  font-size: 60%;
  position: absolute;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  vertical-align: top;
  right: -1em;
  top: 0.25em;
}
