/* 
  Media
  Source: hiq
 */

@custom-selector :--media img, embed, object, video;

:--media {
  max-width: 100%;
  height: auto;
}

figure {
  /* margin: 0 0 var(--figure-space) 0; */
  padding: 0;
}

figcaption {
  margin-top: var(--figcaption-margin-top);
  font-weight: var(--figcaption-font-weight);
  color: var(--figcaption-text-color);
}

img {
  display: block;
  vertical-align: middle;
}

video:focus {
  box-shadow: 0 0 0 0.2rem hsl(210, 100%, 85%);
  outline: 0;
}

audio {
  max-width: 100%;
}

iframe {
  margin: 0;
  padding: 0;
}
