/*

  https://github.com/suitcss/utils-position

*/

/**
  Useful pin mixins.
 */

@define-mixin pin {
  bottom: 0;
  height: 100%;
  left: 0;
  margin: auto;
  top: 0;
  width: 100%;
}

@define-mixin absolutePin {
  @mixin pin;
  position: absolute;
}

.u-absolutePin {
  @mixin absolutePin;
}

@define-mixin fullScreen {
  @mixin pin;
  position: fixed;
}

.u-fullScreen {
  @mixin fullScreen;
}

/**
  Absolutes.
 */

.u-absolute,
.u-absoluteCenter {
  position: absolute;
}

/**
  Center method w/o pinning: to its nearest relatively-positioned ancestor.
 */

.u-fixedCenter,
.u-absoluteCenter {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/**
  1. Promote fixed elements into a new layer, for performance reasons.
 */

.u-fullScreen,
.u-fixedCenter,
.u-fixed {
  backface-visibility: hidden; /* 1 */
  position: fixed;
}

.u-relative {
  position: relative;
}

.u-static {
  position: static;
}
