/*

  https://github.com/suitcss/utils-position

*/

.u-absolutePin {
  bottom: 0;
  height: 100%;
  left: 0;
  margin: auto;
  position: absolute;
  top: 0;
  width: 100%;
}

.u-fullScreen {
  bottom: 0;
  height: 100%;
  left: 0;
  margin: auto;
  position: fixed;
  top: 0;
  width: 100%;
}

/**
  Absolutes.
 */

.u-absolute,
.u-absoluteCenter {
  position: absolute;
}

/**
  Center method w/o pinning: to its nearest relatively-positioned ancestor.
 */

.u-fixedCenter,
.u-absoluteCenter {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/**
  1. Promote fixed elements into a new layer, for performance reasons.
 */

.u-fullScreen,
.u-fixedCenter,
.u-fixed {
  backface-visibility: hidden; /* 1 */
  position: fixed;
}

.u-relative {
  position: relative;
}

.u-static {
  position: static;
}
