/* 

  Padding

 */

.rp-a0 {
  padding: 0 !important;
}
.rp-a1 {
  padding: calc(0.25 * var(--rs-space)) !important;
}
.rp-a2 {
  padding: calc(0.5 * var(--rs-space)) !important;
}
.rp-a3 {
  padding: calc(1 * var(--rs-space)) !important;
}
.rp-a4 {
  padding: calc(1.5 * var(--rs-space)) !important;
}
.rp-a5 {
  padding: calc(3 * var(--rs-space)) !important;
}
.rp-a6 {
  padding: calc(6 * var(--rs-space)) !important;
}

.rp-t0 {
  padding-top: 0 !important;
}
.rp-t1 {
  padding-top: calc(0.25 * var(--rs-space)) !important;
}
.rp-t2 {
  padding-top: calc(0.5 * var(--rs-space)) !important;
}
.rp-t3 {
  padding-top: calc(1 * var(--rs-space)) !important;
}
.rp-t4 {
  padding-top: calc(1.5 * var(--rs-space)) !important;
}
.rp-t5 {
  padding-top: calc(3 * var(--rs-space)) !important;
}
.rp-t6 {
  padding-top: calc(6 * var(--rs-space)) !important;
}

/* 

  Margins

 */

.rm-t0 {
  margin-top: 0 !important;
}
.rm-t1 {
  margin-top: calc(0.25 * var(--rs-space)) !important;
}
.rm-t2 {
  margin-top: calc(0.5 * var(--rs-space)) !important;
}
.rm-t3 {
  margin-top: calc(1 * var(--rs-space)) !important;
}
.rm-t4 {
  margin-top: calc(1.5 * var(--rs-space)) !important;
}
.rm-t5 {
  margin-top: calc(3 * var(--rs-space)) !important;
}
.rm-t6 {
  margin-top: calc(6 * var(--rs-space)) !important;
}

.rm-b0 {
  margin-bottom: 0 !important;
}
.rm-b1 {
  margin-bottom: calc(0.25 * var(--rs-space)) !important;
}
.rm-b2 {
  margin-bottom: calc(0.5 * var(--rs-space)) !important;
}
.rm-b3 {
  margin-bottom: calc(1 * var(--rs-space)) !important;
}
.rm-b4 {
  margin-bottom: calc(1.5 * var(--rs-space)) !important;
}
.rm-b5 {
  margin-bottom: calc(3 * var(--rs-space)) !important;
}
.rm-b6 {
  margin-bottom: calc(6 * var(--rs-space)) !important;
}
