/*
   
   Spacing

   http://tachyons.io/docs/layout/spacing/

   An eight step powers of two scale ranging from 0 to 16rem.

   Base:
     p = padding
     m = margin

   Modifiers:
     a = all
     h = horizontal
     v = vertical
     t = top
     r = right
     b = bottom
     l = left

     0 = 0
     1 = 1st step in spacing scale
     2 = 2nd step in spacing scale
     3 = 3rd step in spacing scale
     4 = 4th step in spacing scale
     5 = 5th step in spacing scale
     6 = 6th step in spacing scale
     7 = 7th step in spacing scale

   Media Query Extensions:
     -ns = not small
     -m  = medium
     -l  = large

*/

.p-a0 {
  padding: var(--s-0);
}
.p-a1 {
  padding: var(--s-1);
}
.p-a2 {
  padding: var(--s-2);
}
.p-a3 {
  padding: var(--s-3);
}
.p-a4 {
  padding: var(--s-4);
}
.p-a5 {
  padding: var(--s-5);
}
.p-a6 {
  padding: var(--s-6);
}
.p-a7 {
  padding: var(--s-7);
}

.p-l0 {
  padding-left: var(--s-0);
}
.p-l1 {
  padding-left: var(--s-1);
}
.p-l2 {
  padding-left: var(--s-2);
}
.p-l3 {
  padding-left: var(--s-3);
}
.p-l4 {
  padding-left: var(--s-4);
}
.p-l5 {
  padding-left: var(--s-5);
}
.p-l6 {
  padding-left: var(--s-6);
}
.p-l7 {
  padding-left: var(--s-7);
}

.p-r0 {
  padding-right: var(--s-0);
}
.p-r1 {
  padding-right: var(--s-1);
}
.p-r2 {
  padding-right: var(--s-2);
}
.p-r3 {
  padding-right: var(--s-3);
}
.p-r4 {
  padding-right: var(--s-4);
}
.p-r5 {
  padding-right: var(--s-5);
}
.p-r6 {
  padding-right: var(--s-6);
}
.p-r7 {
  padding-right: var(--s-7);
}

.p-b0 {
  padding-bottom: var(--s-0);
}
.p-b1 {
  padding-bottom: var(--s-1);
}
.p-b2 {
  padding-bottom: var(--s-2);
}
.p-b3 {
  padding-bottom: var(--s-3);
}
.p-b4 {
  padding-bottom: var(--s-4);
}
.p-b5 {
  padding-bottom: var(--s-5);
}
.p-b6 {
  padding-bottom: var(--s-6);
}
.p-b7 {
  padding-bottom: var(--s-7);
}

.p-t0 {
  padding-top: var(--s-0);
}
.p-t1 {
  padding-top: var(--s-1);
}
.p-t2 {
  padding-top: var(--s-2);
}
.p-t3 {
  padding-top: var(--s-3);
}
.p-t4 {
  padding-top: var(--s-4);
}
.p-t5 {
  padding-top: var(--s-5);
}
.p-t6 {
  padding-top: var(--s-6);
}
.p-t7 {
  padding-top: var(--s-7);
}

.p-y0 {
  padding-top: var(--s-0);
  padding-bottom: var(--s-0);
}
.p-y1 {
  padding-top: var(--s-1);
  padding-bottom: var(--s-1);
}
.p-y2 {
  padding-top: var(--s-2);
  padding-bottom: var(--s-2);
}
.p-y3 {
  padding-top: var(--s-3);
  padding-bottom: var(--s-3);
}
.p-y4 {
  padding-top: var(--s-4);
  padding-bottom: var(--s-4);
}
.p-y5 {
  padding-top: var(--s-5);
  padding-bottom: var(--s-5);
}
.p-y6 {
  padding-top: var(--s-6);
  padding-bottom: var(--s-6);
}

.p-y7 {
  padding-top: var(--s-7);
  padding-bottom: var(--s-7);
}

.p-x0 {
  padding-left: var(--s-0);
  padding-right: var(--s-0);
}

.p-x1 {
  padding-left: var(--s-1);
  padding-right: var(--s-1);
}

.p-x2 {
  padding-left: var(--s-2);
  padding-right: var(--s-2);
}

.p-x3 {
  padding-left: var(--s-3);
  padding-right: var(--s-3);
}

.p-x4 {
  padding-left: var(--s-4);
  padding-right: var(--s-4);
}

.p-x5 {
  padding-left: var(--s-5);
  padding-right: var(--s-5);
}

.p-x6 {
  padding-left: var(--s-6);
  padding-right: var(--s-6);
}

.p-x7 {
  padding-left: var(--s-7);
  padding-right: var(--s-7);
}

.m-a0 {
  margin: var(--s-0);
}
.m-a1 {
  margin: var(--s-1);
}
.m-a2 {
  margin: var(--s-2);
}
.m-a3 {
  margin: var(--s-3);
}
.m-a4 {
  margin: var(--s-4);
}
.m-a5 {
  margin: var(--s-5);
}
.m-a6 {
  margin: var(--s-6);
}
.m-a7 {
  margin: var(--s-7);
}

.m-l0 {
  margin-left: var(--s-0);
}
.m-l1 {
  margin-left: var(--s-1);
}
.m-l2 {
  margin-left: var(--s-2);
}
.m-l3 {
  margin-left: var(--s-3);
}
.m-l4 {
  margin-left: var(--s-4);
}
.m-l5 {
  margin-left: var(--s-5);
}
.m-l6 {
  margin-left: var(--s-6);
}
.m-l7 {
  margin-left: var(--s-7);
}

.m-r0 {
  margin-right: var(--s-0);
}
.m-r1 {
  margin-right: var(--s-1);
}
.m-r2 {
  margin-right: var(--s-2);
}
.m-r3 {
  margin-right: var(--s-3);
}
.m-r4 {
  margin-right: var(--s-4);
}
.m-r5 {
  margin-right: var(--s-5);
}
.m-r6 {
  margin-right: var(--s-6);
}
.m-r7 {
  margin-right: var(--s-7);
}

.m-b0 {
  margin-bottom: var(--s-0);
}
.m-b1 {
  margin-bottom: var(--s-1);
}
.m-b2 {
  margin-bottom: var(--s-2);
}
.m-b3 {
  margin-bottom: var(--s-3);
}
.m-b4 {
  margin-bottom: var(--s-4);
}
.m-b5 {
  margin-bottom: var(--s-5);
}
.m-b6 {
  margin-bottom: var(--s-6);
}
.m-b7 {
  margin-bottom: var(--s-7);
}

.m-t0 {
  margin-top: var(--s-0);
}
.m-t1 {
  margin-top: var(--s-1);
}
.m-t2 {
  margin-top: var(--s-2);
}
.m-t3 {
  margin-top: var(--s-3);
}
.m-t4 {
  margin-top: var(--s-4);
}
.m-t5 {
  margin-top: var(--s-5);
}
.m-t6 {
  margin-top: var(--s-6);
}
.m-t7 {
  margin-top: var(--s-7);
}

.m-y0 {
  margin-top: var(--s-0);
  margin-bottom: var(--s-0);
}
.m-y1 {
  margin-top: var(--s-1);
  margin-bottom: var(--s-1);
}
.m-y2 {
  margin-top: var(--s-2);
  margin-bottom: var(--s-2);
}
.m-y3 {
  margin-top: var(--s-3);
  margin-bottom: var(--s-3);
}
.m-y4 {
  margin-top: var(--s-4);
  margin-bottom: var(--s-4);
}
.m-y5 {
  margin-top: var(--s-5);
  margin-bottom: var(--s-5);
}
.m-y6 {
  margin-top: var(--s-6);
  margin-bottom: var(--s-6);
}
.m-y7 {
  margin-top: var(--s-7);
  margin-bottom: var(--s-7);
}

.m-x0 {
  margin-left: var(--s-0);
  margin-right: var(--s-0);
}
.m-x1 {
  margin-left: var(--s-1);
  margin-right: var(--s-1);
}
.m-x2 {
  margin-left: var(--s-2);
  margin-right: var(--s-2);
}
.m-x3 {
  margin-left: var(--s-3);
  margin-right: var(--s-3);
}
.m-x4 {
  margin-left: var(--s-4);
  margin-right: var(--s-4);
}
.m-x5 {
  margin-left: var(--s-5);
  margin-right: var(--s-5);
}
.m-x6 {
  margin-left: var(--s-6);
  margin-right: var(--s-6);
}
.m-x7 {
  margin-left: var(--s-7);
  margin-right: var(--s-7);
}
