/*
   
   Spacing
   Source: http://tachyons.io/docs/layout/spacing/

   Using the space scale in the `variables`.

   Base:
     p = padding
     m = margin

   Modifiers:
     a = all
     h = horizontal
     v = vertical
     t = top
     r = right
     b = bottom
     l = left

     0 = 0
     1 = 1st step in spacing scale
     2 = 2nd step in spacing scale
     3 = 3rd step in spacing scale
     4 = 4th step in spacing scale
     5 = 5th step in spacing scale
     6 = 6th step in spacing scale
     7 = 7th step in spacing scale

   Media Query Extensions:
     -ns = not small
     -m  = medium
     -l  = large

  ----------------------------------------------------------------

  padding

  ----------------------------------------------------------------
*/

.p-a0 {
  padding: 0 !important;
}
.p-a1 {
  padding: var(--s-1) !important;
}
.p-a2 {
  padding: var(--s-2) !important;
}
.p-a3 {
  padding: var(--s-3) !important;
}
.p-a4 {
  padding: var(--s-4) !important;
}
.p-a5 {
  padding: var(--s-5) !important;
}
.p-a6 {
  padding: var(--s-6) !important;
}
.p-a7 {
  padding: var(--s-7) !important;
}

.p-l0 {
  padding-left: 0 !important;
}
.p-l1 {
  padding-left: var(--s-1) !important;
}
.p-l2 {
  padding-left: var(--s-2) !important;
}
.p-l3 {
  padding-left: var(--s-3) !important;
}
.p-l4 {
  padding-left: var(--s-4) !important;
}
.p-l5 {
  padding-left: var(--s-5) !important;
}
.p-l6 {
  padding-left: var(--s-6) !important;
}
.p-l7 {
  padding-left: var(--s-7) !important;
}

.p-r0 {
  padding-right: 0 !important;
}
.p-r1 {
  padding-right: var(--s-1) !important;
}
.p-r2 {
  padding-right: var(--s-2) !important;
}
.p-r3 {
  padding-right: var(--s-3) !important;
}
.p-r4 {
  padding-right: var(--s-4) !important;
}
.p-r5 {
  padding-right: var(--s-5) !important;
}
.p-r6 {
  padding-right: var(--s-6) !important;
}
.p-r7 {
  padding-right: var(--s-7) !important;
}

.p-b0 {
  padding-bottom: 0 !important;
}
.p-b1 {
  padding-bottom: var(--s-1) !important;
}
.p-b2 {
  padding-bottom: var(--s-2) !important;
}
.p-b3 {
  padding-bottom: var(--s-3) !important;
}
.p-b4 {
  padding-bottom: var(--s-4) !important;
}
.p-b5 {
  padding-bottom: var(--s-5) !important;
}
.p-b6 {
  padding-bottom: var(--s-6) !important;
}
.p-b7 {
  padding-bottom: var(--s-7) !important;
}

.p-t0 {
  padding-top: 0 !important;
}
.p-t1 {
  padding-top: var(--s-1) !important;
}
.p-t2 {
  padding-top: var(--s-2) !important;
}
.p-t3 {
  padding-top: var(--s-3) !important;
}
.p-t4 {
  padding-top: var(--s-4) !important;
}
.p-t5 {
  padding-top: var(--s-5) !important;
}
.p-t6 {
  padding-top: var(--s-6) !important;
}
.p-t7 {
  padding-top: var(--s-7) !important;
}

.p-y0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.p-y1 {
  padding-top: var(--s-1) !important;
  padding-bottom: var(--s-1) !important;
}
.p-y2 {
  padding-top: var(--s-2) !important;
  padding-bottom: var(--s-2) !important;
}
.p-y3 {
  padding-top: var(--s-3) !important;
  padding-bottom: var(--s-3) !important;
}
.p-y4 {
  padding-top: var(--s-4) !important;
  padding-bottom: var(--s-4) !important;
}
.p-y5 {
  padding-top: var(--s-5) !important;
  padding-bottom: var(--s-5) !important;
}
.p-y6 {
  padding-top: var(--s-6) !important;
  padding-bottom: var(--s-6) !important;
}

.p-y7 {
  padding-top: var(--s-7) !important;
  padding-bottom: var(--s-7) !important;
}

.p-x0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.p-x1 {
  padding-left: var(--s-1) !important;
  padding-right: var(--s-1) !important;
}

.p-x2 {
  padding-left: var(--s-2) !important;
  padding-right: var(--s-2) !important;
}

.p-x3 {
  padding-left: var(--s-3) !important;
  padding-right: var(--s-3) !important;
}

.p-x4 {
  padding-left: var(--s-4) !important;
  padding-right: var(--s-4) !important;
}

.p-x5 {
  padding-left: var(--s-5) !important;
  padding-right: var(--s-5) !important;
}

.p-x6 {
  padding-left: var(--s-6) !important;
  padding-right: var(--s-6) !important;
}

.p-x7 {
  padding-left: var(--s-7) !important;
  padding-right: var(--s-7) !important;
}

/*
  ----------------------------------------------------------------

  margin

  ----------------------------------------------------------------
*/

.m-aA {
  margin: auto !important;
}
.m-a0 {
  margin: 0 !important;
}
.m-a1 {
  margin: var(--s-1) !important;
}
.m-a2 {
  margin: var(--s-2) !important;
}
.m-a3 {
  margin: var(--s-3) !important;
}
.m-a4 {
  margin: var(--s-4) !important;
}
.m-a5 {
  margin: var(--s-5) !important;
}
.m-a6 {
  margin: var(--s-6) !important;
}
.m-a7 {
  margin: var(--s-7) !important;
}

.m-lA {
  margin-left: auto !important;
}
.m-l0 {
  margin-left: 0 !important;
}
.m-l1 {
  margin-left: var(--s-1) !important;
}
.m-l2 {
  margin-left: var(--s-2) !important;
}
.m-l3 {
  margin-left: var(--s-3) !important;
}
.m-l4 {
  margin-left: var(--s-4) !important;
}
.m-l5 {
  margin-left: var(--s-5) !important;
}
.m-l6 {
  margin-left: var(--s-6) !important;
}
.m-l7 {
  margin-left: var(--s-7) !important;
}

.m-rA {
  margin-right: auto !important;
}
.m-r0 {
  margin-right: 0 !important;
}
.m-r1 {
  margin-right: var(--s-1) !important;
}
.m-r2 {
  margin-right: var(--s-2) !important;
}
.m-r3 {
  margin-right: var(--s-3) !important;
}
.m-r4 {
  margin-right: var(--s-4) !important;
}
.m-r5 {
  margin-right: var(--s-5) !important;
}
.m-r6 {
  margin-right: var(--s-6) !important;
}
.m-r7 {
  margin-right: var(--s-7) !important;
}

.m-bA {
  margin-bottom: auto !important;
}
.m-b0 {
  margin-bottom: 0 !important;
}
.m-b1 {
  margin-bottom: var(--s-1) !important;
}
.m-b2 {
  margin-bottom: var(--s-2) !important;
}
.m-b3 {
  margin-bottom: var(--s-3) !important;
}
.m-b4 {
  margin-bottom: var(--s-4) !important;
}
.m-b5 {
  margin-bottom: var(--s-5) !important;
}
.m-b6 {
  margin-bottom: var(--s-6) !important;
}
.m-b7 {
  margin-bottom: var(--s-7) !important;
}

.m-tA {
  margin-top: auto !important;
}
.m-t0 {
  margin-top: 0 !important;
}
.m-t1 {
  margin-top: var(--s-1) !important;
}
.m-t2 {
  margin-top: var(--s-2) !important;
}
.m-t3 {
  margin-top: var(--s-3) !important;
}
.m-t4 {
  margin-top: var(--s-4) !important;
}
.m-t5 {
  margin-top: var(--s-5) !important;
}
.m-t6 {
  margin-top: var(--s-6) !important;
}
.m-t7 {
  margin-top: var(--s-7) !important;
}

.m-y0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.m-y1 {
  margin-top: var(--s-1) !important;
  margin-bottom: var(--s-1) !important;
}
.m-y2 {
  margin-top: var(--s-2) !important;
  margin-bottom: var(--s-2) !important;
}
.m-y3 {
  margin-top: var(--s-3) !important;
  margin-bottom: var(--s-3) !important;
}
.m-y4 {
  margin-top: var(--s-4) !important;
  margin-bottom: var(--s-4) !important;
}
.m-y5 {
  margin-top: var(--s-5) !important;
  margin-bottom: var(--s-5) !important;
}
.m-y6 {
  margin-top: var(--s-6) !important;
  margin-bottom: var(--s-6) !important;
}
.m-y7 {
  margin-top: var(--s-7) !important;
  margin-bottom: var(--s-7) !important;
}

.m-xA {
  margin-left: auto !important;
  margin-right: auto !important;
}
.m-x0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.m-x1 {
  margin-left: var(--s-1) !important;
  margin-right: var(--s-1) !important;
}
.m-x2 {
  margin-left: var(--s-2) !important;
  margin-right: var(--s-2) !important;
}
.m-x3 {
  margin-left: var(--s-3) !important;
  margin-right: var(--s-3) !important;
}
.m-x4 {
  margin-left: var(--s-4) !important;
  margin-right: var(--s-4) !important;
}
.m-x5 {
  margin-left: var(--s-5) !important;
  margin-right: var(--s-5) !important;
}
.m-x6 {
  margin-left: var(--s-6) !important;
  margin-right: var(--s-6) !important;
}
.m-x7 {
  margin-left: var(--s-7) !important;
  margin-right: var(--s-7) !important;
}

/*
  ----------------------------------------------------------------

  --mo

  ----------------------------------------------------------------
*/

@media (--mo) {
  .p-mo-a0 {
    padding: 0 !important;
  }

  .p-mo-x0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .p-mo-b0 {
    padding-bottom: 0 !important;
  }
  .p-mo-b1 {
    padding-bottom: var(--s-1) !important;
  }
  .p-mo-b2 {
    padding-bottom: var(--s-2) !important;
  }
  .p-mo-b3 {
    padding-bottom: var(--s-3) !important;
  }
  .p-mo-b4 {
    padding-bottom: var(--s-4) !important;
  }
  .p-mo-b5 {
    padding-bottom: var(--s-5) !important;
  }
  .p-mo-b6 {
    padding-bottom: var(--s-6) !important;
  }
  .p-mo-b7 {
    padding-bottom: var(--s-7) !important;
  }

  /* margin */

  .m-mo-xA {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .m-mo-x0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .m-mo-x1 {
    margin-left: var(--s-1) !important;
    margin-right: var(--s-1) !important;
  }
  .m-mo-x2 {
    margin-left: var(--s-2) !important;
    margin-right: var(--s-2) !important;
  }
  .m-mo-x3 {
    margin-left: var(--s-3) !important;
    margin-right: var(--s-3) !important;
  }
  .m-mo-x4 {
    margin-left: var(--s-4) !important;
    margin-right: var(--s-4) !important;
  }
  .m-mo-x5 {
    margin-left: var(--s-5) !important;
    margin-right: var(--s-5) !important;
  }
  .m-mo-x6 {
    margin-left: var(--s-6) !important;
    margin-right: var(--s-6) !important;
  }
  .m-mo-x7 {
    margin-left: var(--s-7) !important;
    margin-right: var(--s-7) !important;
  }

  .m-mo-t0 {
    margin-top: 0 !important;
  }
  .m-mo-t1 {
    margin-top: var(--s-1) !important;
  }
  .m-mo-t2 {
    margin-top: var(--s-2) !important;
  }
  .m-mo-t3 {
    margin-top: var(--s-3) !important;
  }
  .m-mo-t4 {
    margin-top: var(--s-4) !important;
  }
  .m-mo-t5 {
    margin-top: var(--s-5) !important;
  }
  .m-mo-t6 {
    margin-top: var(--s-6) !important;
  }
  .m-mo-t7 {
    margin-top: var(--s-7) !important;
  }
}

/*
  ----------------------------------------------------------------

  --sm

  ----------------------------------------------------------------
*/

@media (--sm) {
  .p-sm-a0 {
    padding: 0 !important;
  }
  .p-sm-a1 {
    padding: var(--s-1) !important;
  }
  .p-sm-a2 {
    padding: var(--s-2) !important;
  }
  .p-sm-a3 {
    padding: var(--s-3) !important;
  }
  .p-sm-a4 {
    padding: var(--s-4) !important;
  }
  .p-sm-a5 {
    padding: var(--s-5) !important;
  }
  .p-sm-a6 {
    padding: var(--s-6) !important;
  }
  .p-sm-a7 {
    padding: var(--s-7) !important;
  }

  .p-sm-l0 {
    padding-left: 0 !important;
  }
  .p-sm-l1 {
    padding-left: var(--s-1) !important;
  }
  .p-sm-l2 {
    padding-left: var(--s-2) !important;
  }
  .p-sm-l3 {
    padding-left: var(--s-3) !important;
  }
  .p-sm-l4 {
    padding-left: var(--s-4) !important;
  }
  .p-sm-l5 {
    padding-left: var(--s-5) !important;
  }
  .p-sm-l6 {
    padding-left: var(--s-6) !important;
  }
  .p-sm-l7 {
    padding-left: var(--s-7) !important;
  }

  .p-sm-r0 {
    padding-right: 0 !important;
  }
  .p-sm-r1 {
    padding-right: var(--s-1) !important;
  }
  .p-sm-r2 {
    padding-right: var(--s-2) !important;
  }
  .p-sm-r3 {
    padding-right: var(--s-3) !important;
  }
  .p-sm-r4 {
    padding-right: var(--s-4) !important;
  }
  .p-sm-r5 {
    padding-right: var(--s-5) !important;
  }
  .p-sm-r6 {
    padding-right: var(--s-6) !important;
  }
  .p-sm-r7 {
    padding-right: var(--s-7) !important;
  }

  .p-sm-b0 {
    padding-bottom: 0 !important;
  }
  .p-sm-b1 {
    padding-bottom: var(--s-1) !important;
  }
  .p-sm-b2 {
    padding-bottom: var(--s-2) !important;
  }
  .p-sm-b3 {
    padding-bottom: var(--s-3) !important;
  }
  .p-sm-b4 {
    padding-bottom: var(--s-4) !important;
  }
  .p-sm-b5 {
    padding-bottom: var(--s-5) !important;
  }
  .p-sm-b6 {
    padding-bottom: var(--s-6) !important;
  }
  .p-sm-b7 {
    padding-bottom: var(--s-7) !important;
  }

  .p-sm-t0 {
    padding-top: 0 !important;
  }
  .p-sm-t1 {
    padding-top: var(--s-1) !important;
  }
  .p-sm-t2 {
    padding-top: var(--s-2) !important;
  }
  .p-sm-t3 {
    padding-top: var(--s-3) !important;
  }
  .p-sm-t4 {
    padding-top: var(--s-4) !important;
  }
  .p-sm-t5 {
    padding-top: var(--s-5) !important;
  }
  .p-sm-t6 {
    padding-top: var(--s-6) !important;
  }
  .p-sm-t7 {
    padding-top: var(--s-7) !important;
  }

  /* margin */

  .m-sm-a0 {
    margin: 0 !important;
  }
  .m-sm-a1 {
    margin: var(--s-1) !important;
  }
  .m-sm-a2 {
    margin: var(--s-2) !important;
  }
  .m-sm-a3 {
    margin: var(--s-3) !important;
  }
  .m-sm-a4 {
    margin: var(--s-4) !important;
  }
  .m-sm-a5 {
    margin: var(--s-5) !important;
  }
  .m-sm-a6 {
    margin: var(--s-6) !important;
  }
  .m-sm-a7 {
    margin: var(--s-7) !important;
  }

  .m-sm-t0 {
    margin-top: 0 !important;
  }
  .m-sm-t1 {
    margin-top: var(--s-1) !important;
  }
  .m-sm-t2 {
    margin-top: var(--s-2) !important;
  }
  .m-sm-t3 {
    margin-top: var(--s-3) !important;
  }
  .m-sm-t4 {
    margin-top: var(--s-4) !important;
  }
  .m-sm-t5 {
    margin-top: var(--s-5) !important;
  }
  .m-sm-t6 {
    margin-top: var(--s-6) !important;
  }
  .m-sm-t7 {
    margin-top: var(--s-7) !important;
  }

  .m-sm-b0 {
    margin-bottom: 0 !important;
  }
  .m-sm-b1 {
    margin-bottom: var(--s-1) !important;
  }
  .m-sm-b2 {
    margin-bottom: var(--s-2) !important;
  }
  .m-sm-b3 {
    margin-bottom: var(--s-3) !important;
  }
  .m-sm-b4 {
    margin-bottom: var(--s-4) !important;
  }
  .m-sm-b5 {
    margin-bottom: var(--s-5) !important;
  }
  .m-sm-b6 {
    margin-bottom: var(--s-6) !important;
  }
  .m-sm-b7 {
    margin-bottom: var(--s-7) !important;
  }

  .m-sm-l0 {
    margin-left: 0 !important;
  }
  .m-sm-l1 {
    margin-left: var(--s-1) !important;
  }
  .m-sm-l2 {
    margin-left: var(--s-2) !important;
  }
  .m-sm-l3 {
    margin-left: var(--s-3) !important;
  }
  .m-sm-l4 {
    margin-left: var(--s-4) !important;
  }
  .m-sm-l5 {
    margin-left: var(--s-5) !important;
  }
  .m-sm-l6 {
    margin-left: var(--s-6) !important;
  }
  .m-sm-l7 {
    margin-left: var(--s-7) !important;
  }

  .m-sm-r0 {
    margin-right: 0 !important;
  }
  .m-sm-r1 {
    margin-right: var(--s-1) !important;
  }
  .m-sm-r2 {
    margin-right: var(--s-2) !important;
  }
  .m-sm-r3 {
    margin-right: var(--s-3) !important;
  }
  .m-sm-r4 {
    margin-right: var(--s-4) !important;
  }
  .m-sm-r5 {
    margin-right: var(--s-5) !important;
  }
  .m-sm-r6 {
    margin-right: var(--s-6) !important;
  }
  .m-sm-r7 {
    margin-right: var(--s-7) !important;
  }
}





/*
  ----------------------------------------------------------------

  --xl

  ----------------------------------------------------------------
*/

@media (--xl) {

  .m-xl-x0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}