/*

  arrows

 */

.arrow-east {
  border-top: 0.3125em solid transparent;
  border-bottom: 0.3125em solid transparent;
  border-left: 0.4375em solid;
  display: inline-block;
  height: 0;
  margin-left: 0.25em;
  vertical-align: baseline;
  width: 0;
}

.arrow-south {
  border-right: 0.3125em solid transparent;
  border-left: 0.3125em solid transparent;
  border-top: 0.4375em solid;
  display: inline-block;
  height: 0;
  vertical-align: baseline;
  width: 0;
}

/*
 * text helpers
 */

.text-lowercase {
  text-transform: lowercase !important;
}
.text-capitalise {
  text-transform: capitalize !important;
}
.text-noIndent {
  text-indent: 0 !important;
}

/* .u-border {
  border: 1px solid var(--c-text);
} */

/* 
 * positions & layout 
 */

.coverImage {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  // max-height: 600px;
  // max-width: 600px;
}

.pin {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.h100 {
  height: 100% !important;
}

.w100 {
  width: 100% !important;
}

.w50 {
  width: 50% !important;
}

.sm-w50 {
  @media (--sm) {
    width: 50% !important;
  }
}

.wContainer {
  max-width: var(--container);
}
