/*
  Width utilities
  Source: https://github.com/suitcss/utils-size/blob/master/lib/size.css
  Intentional redundancy build into each set x unit classes.
  Supports: 2, 3, 4, 5, 6, 8, 10, 12 part
 */

/* Add this to all size classes  */

[class*="w-"] {
  flex-basis: auto !important;
}

/* Make an element shrink wrap its content. */

.w-fit {
  flex-basis: auto !important;
}

/* Make an element fill the remaining space. */

.w-fill {
  flex: 1 1 0% !important; /* 1 */
}

/* Alt method to make an element fill the remaining space. */

.w-fillAlt {
  flex: 1 1 auto !important;
}

/* Make an element the width of its parent. */

.w-100,
.w-full {
  width: 100% !important;
}

/* All the widths */

.w-1x12 {
  width: calc(100% * 1 / 12) !important;
}

.w-1x10 {
  width: 10% !important;
}

.w-1x8 {
  width: 12.5% !important;
}

.w-1x6,
.w-2x12 {
  width: calc(100% * 1 / 6) !important;
}

.w-1x5,
.w-2x10 {
  width: 20% !important;
}

.w-1x4,
.w-2x8,
.w-3x12 {
  width: 25% !important;
}

.w-3x10 {
  width: 30% !important;
}

.w-1x3,
.w-2x6,
.w-4x12 {
  width: calc(100% * 1 / 3) !important;
}

.w-3x8 {
  width: 37.5% !important;
}

.w-2x5,
.w-4x10 {
  width: 40% !important;
}

.w-5x12 {
  width: calc(100% * 5 / 12) !important;
}

.w-1x2,
.w-2x4,
.w-3x6,
.w-4x8,
.w-5x10,
.w-6x12 {
  width: 50% !important;
}

.w-7x12 {
  width: calc(100% * 7 / 12) !important;
}

.w-3x5,
.w-6x10 {
  width: 60% !important;
}

.w-5x8 {
  width: 62.5% !important;
}

.w-2x3,
.w-4x6,
.w-8x12 {
  width: calc(100% * 2 / 3) !important;
}

.w-7x10 {
  width: 70% !important;
}

.w-3x4,
.w-6x8,
.w-9x12 {
  width: 75% !important;
}

.w-4x5,
.w-8x10 {
  width: 80% !important;
}

.w-5x6,
.w-10x12 {
  width: calc(100% * 5 / 6) !important;
}

.w-7x8 {
  width: 87.5% !important;
}

.w-9x10 {
  width: 90% !important;
}

.w-11x12 {
  width: calc(100% * 11 / 12) !important;
}

/*

  RS sm

*/

@media (--sm) {
  .w-sm-100,
  .w-sm-full {
    width: 100% !important;
  }

  .w-sm-1x12 {
    width: calc(100% * 1 / 12) !important;
  }

  .w-sm-1x10 {
    width: 10% !important;
  }

  .w-sm-1x8 {
    width: 12.5% !important;
  }

  .w-sm-1x6,
  .w-sm-2x12 {
    width: calc(100% * 1 / 6) !important;
  }

  .w-sm-1x5,
  .w-sm-2x10 {
    width: 20% !important;
  }

  .w-sm-1x4,
  .w-sm-2x8,
  .w-sm-3x12 {
    width: 25% !important;
  }

  .w-sm-3x10 {
    width: 30% !important;
  }

  .w-sm-1x3,
  .w-sm-2x6,
  .w-sm-4x12 {
    width: calc(100% * 1 / 3) !important;
  }

  .w-sm-3x8 {
    width: 37.5% !important;
  }

  .w-sm-2x5,
  .w-sm-4x10 {
    width: 40% !important;
  }

  .w-sm-5x12 {
    width: calc(100% * 5 / 12) !important;
  }

  .w-sm-1x2,
  .w-sm-2x4,
  .w-sm-3x6,
  .w-sm-4x8,
  .w-sm-5x10,
  .w-sm-6x12 {
    width: 50% !important;
  }

  .w-sm-7x12 {
    width: calc(100% * 7 / 12) !important;
  }

  .w-sm-3x5,
  .w-sm-6x10 {
    width: 60% !important;
  }

  .w-sm-5x8 {
    width: 62.5% !important;
  }

  .w-sm-2x3,
  .w-sm-4x6,
  .w-sm-8x12 {
    width: calc(100% * 2 / 3) !important;
  }

  .w-sm-7x10 {
    width: 70% !important;
  }

  .w-sm-3x4,
  .w-sm-6x8,
  .w-sm-9x12 {
    width: 75% !important;
  }

  .w-sm-4x5,
  .w-sm-8x10 {
    width: 80% !important;
  }

  .w-sm-5x6,
  .w-sm-10x12 {
    width: calc(100% * 5 / 6) !important;
  }

  .w-sm-7x8 {
    width: 87.5% !important;
  }

  .w-sm-9x10 {
    width: 90% !important;
  }

  .w-sm-11x12 {
    width: calc(100% * 11 / 12) !important;
  }
}

/*

  RS md

*/

@media (--md) {
  .w-md-1x12 {
    width: calc(100% * 1 / 12) !important;
  }

  .w-md-1x10 {
    width: 10% !important;
  }

  .w-md-1x8 {
    width: 12.5% !important;
  }

  .w-md-1x6,
  .w-md-2x12 {
    width: calc(100% * 1 / 6) !important;
  }

  .w-md-1x5,
  .w-md-2x10 {
    width: 20% !important;
  }

  .w-md-1x4,
  .w-md-2x8,
  .w-md-3x12 {
    width: 25% !important;
  }

  .w-md-3x10 {
    width: 30% !important;
  }

  .w-md-1x3,
  .w-md-2x6,
  .w-md-4x12 {
    width: calc(100% * 1 / 3) !important;
  }

  .w-md-3x8 {
    width: 37.5% !important;
  }

  .w-md-2x5,
  .w-md-4x10 {
    width: 40% !important;
  }

  .w-md-5x12 {
    width: calc(100% * 5 / 12) !important;
  }

  .w-md-1x2,
  .w-md-2x4,
  .w-md-3x6,
  .w-md-4x8,
  .w-md-5x10,
  .w-md-6x12 {
    width: 50% !important;
  }

  .w-md-7x12 {
    width: calc(100% * 7 / 12) !important;
  }

  .w-md-3x5,
  .w-md-6x10 {
    width: 60% !important;
  }

  .w-md-5x8 {
    width: 62.5% !important;
  }

  .w-md-2x3,
  .w-md-4x6,
  .w-md-8x12 {
    width: calc(100% * 2 / 3) !important;
  }

  .w-md-7x10 {
    width: 70% !important;
  }

  .w-md-3x4,
  .w-md-6x8,
  .w-md-9x12 {
    width: 75% !important;
  }

  .w-md-4x5,
  .w-md-8x10 {
    width: 80% !important;
  }

  .w-md-5x6,
  .w-md-10x12 {
    width: calc(100% * 5 / 6) !important;
  }

  .w-md-7x8 {
    width: 87.5% !important;
  }

  .w-md-9x10 {
    width: 90% !important;
  }

  .w-md-11x12 {
    width: calc(100% * 11 / 12) !important;
  }
}

/*

  RS lg

*/

@media (--lg) {
  .w-lg-1x12 {
    width: calc(100% * 1 / 12) !important;
  }

  .w-lg-1x10 {
    width: 10% !important;
  }

  .w-lg-1x8 {
    width: 12.5% !important;
  }

  .w-lg-1x6,
  .w-lg-2x12 {
    width: calc(100% * 1 / 6) !important;
  }

  .w-lg-1x5,
  .w-lg-2x10 {
    width: 20% !important;
  }

  .w-lg-1x4,
  .w-lg-2x8,
  .w-lg-3x12 {
    width: 25% !important;
  }

  .w-lg-3x10 {
    width: 30% !important;
  }

  .w-lg-1x3,
  .w-lg-2x6,
  .w-lg-4x12 {
    width: calc(100% * 1 / 3) !important;
  }

  .w-lg-3x8 {
    width: 37.5% !important;
  }

  .w-lg-2x5,
  .w-lg-4x10 {
    width: 40% !important;
  }

  .w-lg-5x12 {
    width: calc(100% * 5 / 12) !important;
  }

  .w-lg-1x2,
  .w-lg-2x4,
  .w-lg-3x6,
  .w-lg-4x8,
  .w-lg-5x10,
  .w-lg-6x12 {
    width: 50% !important;
  }

  .w-lg-7x12 {
    width: calc(100% * 7 / 12) !important;
  }

  .w-lg-3x5,
  .w-lg-6x10 {
    width: 60% !important;
  }

  .w-lg-5x8 {
    width: 62.5% !important;
  }

  .w-lg-2x3,
  .w-lg-4x6,
  .w-lg-8x12 {
    width: calc(100% * 2 / 3) !important;
  }

  .w-lg-7x10 {
    width: 70% !important;
  }

  .w-lg-3x4,
  .w-lg-6x8,
  .w-lg-9x12 {
    width: 75% !important;
  }

  .w-lg-4x5,
  .w-lg-8x10 {
    width: 80% !important;
  }

  .w-lg-5x6,
  .w-lg-10x12 {
    width: calc(100% * 5 / 6) !important;
  }

  .w-lg-7x8 {
    width: 87.5% !important;
  }

  .w-lg-9x10 {
    width: 90% !important;
  }

  .w-lg-11x12 {
    width: calc(100% * 11 / 12) !important;
  }
}
