:root {
  --Arrow-borderWidth: 5px;
  --Arrow-borderStyle: solid;
  --Arrow-borderColor: currentColor;
}

.Arrow {
  border-color: transparent;
  border-style: var(--Arrow-borderStyle);
  border-width: var(--Arrow-borderWidth);
  display: inline-block;
  height: 0;
  width: 0;
}

.Arrow--up {
  border-bottom-color: var(--Arrow-borderColor);
}

.Arrow--down {
  border-top-color: var(--Arrow-borderColor);
}

.Arrow--right {
  border-left-color: var(--Arrow-borderColor);
}

.Arrow--left {
  border-right-color: var(--Arrow-borderColor);
}
