/*

  http://tachyons.io/components/layout/aspect-ratio-16x9/index.html
  http://suitcss.github.io/components-flex-embed/test/

 */

.AspectRatio {
  height: 0;
  padding-bottom: 100%;
  position: relative;
}

.AspectRatio--3x1 {
  padding-bottom: calc(100% / 3);
}

.AspectRatio--10x4 {
  padding-bottom: 40%;
}

.AspectRatio--2x1 {
  padding-bottom: 50%;
}

.AspectRatio--16x9 {
  padding-bottom: 56.25%;
  padding-bottom: calc(9 / 16 * 100%);
}

.AspectRatio--6x4 {
  padding-bottom: 66.6%;
}

.AspectRatio--8x5 {
  padding-bottom: 62.5%;
}

.AspectRatio--7x5 {
  padding-bottom: 71.42%;
}

.AspectRatio--4x3 {
  padding-bottom: 75%;
}

/* Child class pinned to the parent's area */

.AspectRatio-object {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // z-index: 100;

  & figure,
  & img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  & img {
    object-fit: cover;
  }
}
