.Button {
  align-items: center;
  background-color: var(--button-background-color);
  border-color: var(--button-border-color);
  border-radius: var(--button-border-radius);
  border-style: solid;
  border-width: var(--button-border-width);
  box-sizing: border-box;
  color: var(--button-color);
  cursor: pointer;
  display: inline-flex;
  font-family: var(--button-font-family);
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  height: var(--button-height);
  justify-content: center;
  letter-spacing: var(--button-letter-spacing);
  margin: 0;
  padding-left: var(--button-xpadding);
  padding-right: var(--button-xpadding);
  position: relative;
  text-decoration: none;
  text-transform: var(--button-font-case);
  user-select: none;
}

/*
  Remove excess padding and border in Firefox 4+
 */

.Button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
  Work around a Firefox/IE bug where the transparent `button` background
  results in a loss of the default `button` focus styles.
 */

.Button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

/*
  UI states
 */

.Button:hover,
.Button:focus,
.Button:active {
  text-decoration: none;
}

.Button {
  &:hover {
    box-shadow: var(--button-box-shadow-color) 0 0 0 2px;
  }

  &:focus,
  &:active {
    outline: 0;
    box-shadow: var(--button-box-shadow-color) 0 0 0 3px;
  }
}

.Button:disabled,
.Button.is-disabled {
  cursor: default;
  opacity: var(--button-disabled-opacity);
}

/*
  Variations
 */

.Button--alt {
  --button-background-color: var(--c-highlight);
  --button-box-shadow-color: var(--c-highlight);
}

.Button--outline {
  --button-background-color: var(--c-bg);
  --button-border-color: var(--c-brand);
  --button-box-shadow-color: var(--c-brand);
  --button-color: var(--c-brand);

  &:hover {
    border-color: var(--c-bg);
    box-shadow: var(--button-box-shadow-color) 0 0 0 var(--button-box-shadow-stroke-inset) inset,
      var(--button-box-shadow-color) 0 0 0 var(--button-box-shadow-stroke-hover);
  }

  &:focus,
  &:active {
    border-color: var(--c-bg);
    box-shadow: var(--button-box-shadow-color) 0 0 0 var(--button-box-shadow-stroke-inset) inset,
      var(--button-box-shadow-color) 0 0 0 var(--button-box-shadow-stroke-active);
  }
}

.Button--outline-alt {
  --button-background-color: var(--c-bg);
  --button-border-color: var(--c-brand-highlight);
  --button-box-shadow-color: var(--c-brand-highlight);
  --button-color: var(--c-brand-highlight);

  &:hover {
    border-color: var(--c-bg);
    box-shadow: var(--button-box-shadow-color) 0 0 0 var(--button-box-shadow-stroke-inset) inset,
      var(--button-box-shadow-color) 0 0 0 var(--button-box-shadow-stroke-hover);
  }

  &:focus,
  &:active {
    border-color: var(--c-bg);
    box-shadow: var(--button-box-shadow-color) 0 0 0 var(--button-box-shadow-stroke-inset) inset,
      var(--button-box-shadow-color) 0 0 0 var(--button-box-shadow-stroke-active);
  }
}

.Button--transparent {
  --button-background-color: transparent;
  --button-border-color: transparent;
  --button-box-shadow-color: var(--c-text);

  &:hover {
    border-color: none;
    box-shadow: initial;
  }

  &:focus,
  &:active {
    border-color: none;
    box-shadow: initial;
  }
}
