.Button {
  align-items: center;
  background-color: var(--Button-background-color);
  background-image: initial;
  border-color: var(--Button-border-color);
  border-radius: var(--Button-radius);
  border-style: solid;
  border-width: var(--Button-border-width);
  box-sizing: border-box;
  color: var(--Button-color);
  cursor: pointer;
  display: inline-flex;
  font-family: var(--Button-font-family);
  font-size: var(--Button-font-size);
  font-weight: var(--Button-font-weight);
  height: var(--Button-height);
  justify-content: center;
  letter-spacing: var(--Button-letter-spacing);
  line-height: 1;
  margin: 0;
  padding-top: var(--Button-text-alignment);
  padding-left: var(--Button-xpadding);
  padding-right: var(--Button-xpadding);
  position: relative;
  text-decoration: initial;
  text-shadow: initial;
  text-transform: var(--Button-font-case);
  user-select: none;
}

/*
  Remove excess padding and border in Firefox 4+
 */

.Button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
  Work around a Firefox/IE bug where the transparent `button` background
  results in a loss of the default `button` focus styles.
 */

.Button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

/*
  UI states
 */

.Button:hover,
.Button:focus,
.Button:active {
  text-decoration: none;
}

.Button:hover {
  box-shadow: var(--Button-box-shadow-color) 0 0 0 2px;
}

.Button:focus,
.Button:active {
  outline: 0;
  box-shadow: var(--Button-box-shadow-color) 0 0 0 3px;
}

.Button:disabled,
.Button.is-disabled {
  cursor: default;
  opacity: var(--Button-disabled-opacity);
}

/*
  Variations
 */

.Button--alt {
  --Button-background-color: var(--c-brand-highlight);
  --Button-box-shadow-color: var(--c-brand-highlight);
}

.Button--outline {
  --Button-background-color: var(--c-bg);
  --Button-border-color: var(--c-brand);
  --Button-box-shadow-color: var(--c-brand);
  --Button-color: var(--c-brand);

  &:hover {
    border-color: var(--c-bg);
    box-shadow: var(--Button-box-shadow-color) 0 0 0 1px inset,
      var(--Button-box-shadow-color) 0 0 0 2px;
  }

  &:focus,
  &:active {
    border-color: var(--c-bg);
    box-shadow: var(--Button-box-shadow-color) 0 0 0 1px inset,
      var(--Button-box-shadow-color) 0 0 0 3px;
  }
}

.Button--outline-alt {
  --Button-background-color: var(--c-bg);
  --Button-border-color: var(--c-brand-highlight);
  --Button-box-shadow-color: var(--c-brand-highlight);
  --Button-color: var(--c-brand-highlight);

  &:hover {
    border-color: var(--c-bg);
    box-shadow: var(--Button-box-shadow-color) 0 0 0 1px inset,
      var(--Button-box-shadow-color) 0 0 0 2px;
  }

  &:focus,
  &:active {
    border-color: var(--c-bg);
    box-shadow: var(--Button-box-shadow-color) 0 0 0 1px inset,
      var(--Button-box-shadow-color) 0 0 0 3px;
  }
}

.Button--transparent {
  --Button-background-color: transparent;
  --Button-border-color: transparent;
  --Button-box-shadow-color: var(--c-text);
}
