/* 

  Container 

 */

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--container);
  padding-left: calc(1 * var(--grid-gutter));
  padding-right: calc(1 * var(--grid-gutter));
  width: 100%;

  @media (--sm) {
    padding-left: var(--grid-gutter);
    padding-right: var(--grid-gutter);
  }
}

.container--sm {
  max-width: var(--container-sm);
}

.container--md {
  max-width: var(--container-md);
}

.container--lg {
  @media (min-width: 1136px) {
    // left: calc(-45vw + 50%);
    max-width: 90vw;
  }
  @media (min-width: 1840px) {
    // left: calc(-33vw + 50%);
    max-width: 66vw;
  }
}
