/* 

  Container 

 */

.Container {
  height: inherit;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--container-rg);
  padding-left: var(--grid-gutter);
  padding-right: var(--grid-gutter);
  width: 100%;
}

.Container--sm {
  max-width: var(--container-sm);
}

.Container--md {
  max-width: var(--container-md);
}

.Container--lg {
  max-width: var(--container-lg);
}

.Container--xl {
  max-width: var(--container-xl);
}

.Container--su {
  max-width: var(--container-su);
}

.Container--inset {
  max-width: 100%;
  padding: 0;

  @media (--sm) {
    padding: 0 3vw;
  }
}
