/* 

  http://nicolasgallagher.com/flexible-css-cover-images/

*/

.CoverImage {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}

.CoverImage--withScreen:before {
  background-color: var(--cover-image-screen-color);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
