/*

  Flex grid

 */

.FlexGridWrapper {
  /* margin-right: calc(1 * var(--flex-grid-gutter));
  margin-left: calc(1 * var(--flex-grid-gutter)); */
  margin-right: calc(0.5 * var(--grid-gutter));
  margin-left: calc(0.5 * var(--grid-gutter));

  @media (--sm) {
    margin-right: calc(1 * var(--grid-gutter));
    margin-left: calc(1 * var(--grid-gutter));
  }
}

/* use project's container theme */
.mo-FlexGridWrapper {
  @media (--mo) {
    margin-right: calc(0.5 * var(--grid-gutter));
    margin-left: calc(0.5 * var(--grid-gutter));
  }
}

/* 

  --grid-gutter: calc(2 * var(--space));
  --flex-grid-gutter: calc(1.25 * var(--space));

 */

.FlexGrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* margin-right: calc(-1 * var(--flex-grid-gutter));
  margin-left: calc(-1 * var(--flex-grid-gutter)); */
  margin-left: calc(-0.5 * var(--grid-gutter));
  margin-right: calc(-0.5 * var(--grid-gutter));

  /* @media (--md) {
    margin-left: calc(-1 * var(--grid-gutter));
    margin-right: calc(-1 * var(--grid-gutter));
  } */

  & > * {
    flex: 1 1 auto;
    padding-right: calc(0.5 * var(--grid-gutter));
    padding-left: calc(0.5 * var(--grid-gutter));

    /* @media (--md) {
      padding-left: calc(1 * var(--grid-gutter));
      padding-right: calc(1 * var(--grid-gutter));
    } */
  }

  @media (--sm) {
    flex-direction: initial;
  }
}

.FlexGrid--noGrow > * {
  flex-grow: initial;
}

.FlexGrid--noGap {
  margin: 0;

  & > * {
    padding: 0;
  }
}

/* .FlexGrid--sm {
  margin-right: calc(-0.5 * var(--flex-grid-gutter));
  margin-left: calc(-0.5 * var(--flex-grid-gutter));

  & > * {
    padding-right: calc(0.5 * var(--flex-grid-gutter));
    padding-left: calc(0.5 * var(--flex-grid-gutter));
  }
} */

.FlexGrid--sm {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-1 * 1rem);
  margin-left: calc(-1 * 1rem);

  & > * {
    flex: 1 1 auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.sm-FlexGrid {
  flex-wrap: row;
}
