/*

  Flex grid

 */

.FlexGridWrapper {
  margin-right: calc(1 * var(--flex-grid-gutter));
  margin-left: calc(1 * var(--flex-grid-gutter));
}

.mo-FlexGridWrapper {
  @media (--mo) {
    /* use project's container theme */
    margin-right: calc(0.75 * var(--grid-gutter));
    margin-left: calc(0.75 * var(--grid-gutter));
  }
}

.FlexGrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: calc(-1 * var(--flex-grid-gutter));
  margin-left: calc(-1 * var(--flex-grid-gutter));

  & > * {
    flex: 1 1 auto;
    padding-right: var(--flex-grid-gutter);
    padding-left: var(--flex-grid-gutter);
  }

  @media (--sm) {
    flex-direction: initial;
  }
}

.FlexGrid--noGrow > * {
  flex-grow: initial;
}

.FlexGrid--noGap {
  margin: 0;

  & > * {
    padding: 0;
  }
}

.FlexGrid--sm {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-1 * 1rem);
  margin-left: calc(-1 * 1rem);

  & > * {
    flex: 1 1 auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.sm-FlexGrid {
  flex-wrap: row;
}
