/*
 
  Icon
  1. so we can adjust it within <p>s.
     Imported 'svgicon' does the rest.

 */

.svg-icon {
  position: relative; /*1*/
}

.svg-fill {
}

.icon-wrapper {
  cursor: pointer;
  display: inline-block;
  margin: -20px;
  padding: 20px;
}

.icon {
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  position: relative;
  text-align: center;
}

.icon svg {
  fill: currentColor;
  transition: fill 400ms ease;
}

/* THEME */
/* https://css-tricks.com/scale-svg/ */

.icon-toggle svg {
  height: 1.5em;
  width: 1.5em;

  @media (--md) {
    // height: 29px;
    // width: 29px;
  }

  @media (--lg) {
    height: 2rem;
    width: 2rem;
  }
}
