/*
 * Hide element (label) from browser but keep it accessible for aria/screen readers
 * Lighthouse reports labels as missing but this method is documented as working
 */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}
