/* 

  Responsive padding blocks
  
 */

.b-py5 {
  padding-top: var(--rs-5);
  padding-bottom: var(--rs-5);
}
.b-py7 {
  padding-top: var(--rs-7);
  padding-bottom: var(--rs-7);
}

/* singles */

.b-pt7 {
  padding-top: var(--rs-7);
}

.b-pb3 {
  padding-bottom: var(--rs-3);
}
.b-pb5 {
  padding-bottom: var(--rs-5);
}
.b-pb7 {
  padding-bottom: var(--rs-7);
}

/* 

  Responsive margin blocks
  
 */

.b-my3 {
  margin-top: var(--rs-3);
  margin-bottom: var(--rs-3);
}

.b-my4 {
  margin-top: var(--rs-4);
  margin-bottom: var(--rs-4);
}

.b-my5 {
  margin-top: var(--rs-5);
  margin-bottom: var(--rs-5);
}

.b-my6 {
  margin-top: var(--rs-6);
  margin-bottom: var(--rs-6);
}

/* singles */

.b-mt3 {
  margin-top: var(--rs-4);
}

.b-mt5 {
  margin-top: var(--rs-5);
}

.b-mb3 {
  margin-bottom: var(--rs-3);
}

.b-mb4 {
  margin-bottom: var(--rs-4);
}

.b-mb5 {
  margin-bottom: var(--rs-5);
}
