/* 

  Block padding
  
 */

.block--py7 {
  padding-top: var(--s-5);
  padding-bottom: var(--s-5);

  @media (--md) {
    padding-top: var(--s-6);
    padding-bottom: var(--s-6);
  }
  @media (--lg) {
    padding-top: var(--s-7);
    padding-bottom: var(--s-7);
  }
}

.block--py6 {
  padding-top: var(--s-4);
  padding-bottom: var(--s-4);

  @media (--md) {
    padding-top: var(--s-5);
    padding-bottom: var(--s-5);
  }
  @media (--lg) {
    padding-top: var(--s-6);
    padding-bottom: var(--s-6);
  }
}

/* All 5s only have 2 MQs, otherwise too small a gap on mobile */
.block--py5 {
  padding-top: var(--s-4);
  padding-bottom: var(--s-4);

  @media (--lg) {
    padding-top: var(--s-5);
    padding-bottom: var(--s-5);
  }
}

.block--pt7 {
  padding-top: var(--s-5);

  @media (--md) {
    padding-top: var(--s-6);
  }
  @media (--lg) {
    padding-top: var(--s-7);
  }
}

.block--pt6 {
  padding-top: var(--s-4);

  @media (--md) {
    padding-top: var(--s-5);
  }
  @media (--lg) {
    padding-top: var(--s-6);
  }
}

.block--pt5 {
  padding-top: var(--s-4);

  @media (--lg) {
    padding-top: var(--s-5);
  }
}

.block--pb7 {
  padding-bottom: var(--s-5);

  @media (--md) {
    padding-bottom: var(--s-6);
  }
  @media (--lg) {
    padding-bottom: var(--s-7);
  }
}

.block--pb6 {
  padding-bottom: var(--s-4);

  @media (--md) {
    padding-bottom: var(--s-5);
  }
  @media (--lg) {
    padding-bottom: var(--s-6);
  }
}

.block--pb5 {
  padding-bottom: var(--s-4);

  @media (--lg) {
    padding-bottom: var(--s-5);
  }
}

/* manage fixed menu */
.block--matchFixedMenu {
  padding-top: calc(var(--s-5) - 3.75em);

  @media (--md) {
    padding-top: calc(var(--s-6) - 3.75em);
  }
  @media (--lg) {
    padding-top: calc(var(--s-7) - 3.75em);
  }
}

/* 

  Block margin
  
 */

.block--my6 {
  margin-top: var(--s-4);
  margin-bottom: var(--s-4);

  @media (--md) {
    margin-top: var(--s-5);
    margin-bottom: var(--s-5);
  }
  @media (--lg) {
    margin-top: var(--s-6);
    margin-bottom: var(--s-6);
  }
}

.block--mt6 {
  margin-top: var(--s-4);

  @media (--md) {
    margin-top: var(--s-5);
  }

  @media (--lg) {
    margin-top: var(--s-6);
  }
}

.block--mt5 {
  margin-top: var(--s-4);

  @media (--lg) {
    margin-top: var(--s-5);
  }
}

.block--mt4 {
  margin-top: var(--s-3);

  @media (--md) {
    margin-top: var(--s-3b); /* matches paragraph space at this MQ */
  }

  @media (--lg) {
    margin-top: var(--s-4);
  }
}

.block--mb6 {
  margin-bottom: var(--s-4);

  @media (--md) {
    margin-bottom: var(--s-5);
  }

  @media (--lg) {
    margin-bottom: var(--s-6);
  }
}
