/* 

  Block specials
  
 */

.block--header {
  padding-top: var(--s-6);
}

/* 

  Block padding
  
 */

.block--py7 {
  padding-top: var(--s-5);
  padding-bottom: var(--s-5);

  @media (--medium-viewport) {
    padding-top: var(--s-6);
    padding-bottom: var(--s-6);
  }
  @media (--large-viewport) {
    padding-top: var(--s-7);
    padding-bottom: var(--s-7);
  }
}

.block--pt7 {
  padding-top: var(--s-5);

  @media (--medium-viewport) {
    padding-top: var(--s-6);
  }
  @media (--large-viewport) {
    padding-top: var(--s-7);
  }
}

.block--pb5 {
  padding-bottom: var(--s-3);

  @media (--medium-viewport) {
    padding-bottom: var(--s-4);
  }
  @media (--large-viewport) {
    padding-bottom: var(--s-5);
  }
}

.block--pb7 {
  padding-bottom: var(--s-6);

  @media (--medium-viewport) {
    padding-bottom: var(--s-6);
  }
  @media (--large-viewport) {
    padding-bottom: var(--s-7);
  }
}

/* 

  Block margin
  
 */

.block--my6 {
  margin-top: var(--s-4);
  margin-bottom: var(--s-4);

  @media (--medium-viewport) {
    margin-top: var(--s-5);
    margin-bottom: var(--s-5);
  }
  @media (--large-viewport) {
    margin-top: var(--s-6);
    margin-bottom: var(--s-6);
  }
}

.block--mt6 {
  margin-top: var(--s-4);

  @media (--medium-viewport) {
    margin-top: var(--s-5);
  }

  @media (--large-viewport) {
    margin-top: var(--s-6);
  }
}

.block--mt4 {
  margin-top: var(--s-2);

  @media (--medium-viewport) {
    margin-top: var(--s-3);
  }

  @media (--large-viewport) {
    margin-top: var(--s-4);
  }
}

.block--mb6 {
  margin-bottom: var(--s-4);

  @media (--medium-viewport) {
    margin-bottom: var(--s-5);
  }

  @media (--large-viewport) {
    margin-bottom: var(--s-6);
  }
}
