/* 
 * Container 
 */

.Column {
  padding-left: .5rem;
  padding-right: .5rem;

  @media (--small-viewport) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  @media (--large-viewport) {
    padding-left: calc( ( ( ( (100vw - 15rem ) / 12) * 2 ) + (1rem * 1) ) + 1.5rem );
    padding-right: calc(((((100vw - (15rem))/ 12) * 2) + (1rem * 1)) + 1.5rem);
  }
}

.Container {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  // max-width: var(--container-rg);
  padding-left: calc(0.5 * var(--grid-gutter));
  padding-right: calc(0.5 * var(--grid-gutter));
  width: 100%;

  @media (--small-viewport) {
    padding-left: var(--grid-gutter);
    padding-right: var(--grid-gutter);
  }
}

.Inner {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(1120px * 1);
}

.InnerTextColumn > h1,
.InnerTextColumn > h2,
.InnerTextColumn > p,
.InnerTextColumn > blockquote {
  // margin-right: 3vw;
}

.Container--left {
  padding-left: 0;
}

.Container--medium {
  max-width: var(--container-md);
}

.Container--large {
  max-width: var(--container-lg);
}

.Container--hero {
  background-color: white;
  max-width: var(--container-xl);
  padding: var(--s4);

  @media (--medium-viewport) {
    padding: var(--s5);
  }

  @media (--large-viewport) {
    padding: var(--s6);
  }
}

.Figure--tuck,
.Container--tuck {
  margin: 0;
  max-width: initial;
  padding-left: var(--grid-gutter);
  padding-right: var(--grid-gutter);

  @media (--small-viewport) {
    padding-left: var(--tuck);
    padding-right: var(--tuck);
  }
  
  @media (--large-viewport) {
    padding-left: var(--tuck-lg);
    padding-right: var(--tuck-lg);
  }
}