/*

  Figures

 */

.figure {
  margin-top: var(--s-3);
  margin-bottom: var(--s-3);
  position: relative;

  @media (--md) {
    margin-top: var(--s-4);
    margin-bottom: var(--s-4);
  }
  @media (--lg) {
    margin-top: var(--s-5);
    margin-bottom: var(--s-5);
  }

  &:first-child {
    margin-top: 0;
  }

  & img {
    width: 100%;
  }
}

.figure--bottomSpace {
  margin-bottom: var(--s-3);

  @media (--md) {
    margin-bottom: var(--s-4);
  }
  @media (--lg) {
    margin-bottom: var(--s-4a);
  }
}

.figure--frame {
  border: 1px solid var(--c-border);
}

/* 

  break the text column grid 

*/

.figure--project,
.figure--post {
  left: calc(-50vw + 50%);
  width: 100vw;

  @media (--md) {
    left: calc((-0.5 * var(--container-rg-img)) + 50%);
    width: var(--container-rg-img);
  }
}

.figure--project {
  margin-top: var(--s-5);
  margin-bottom: var(--s-5);

  @media (--md) {
    margin-top: var(--s-6);
    margin-bottom: var(--s-6);
  }
}

.figure--large {
  width: 100%;

  @media (min-width: 1136px) {
    left: calc(-40vw + 50%);
    width: 80vw;
  }
  @media (min-width: 1840px) {
    left: calc(-30vw + 50%);
    width: 60vw;
  }
}

.figure--portrait {
  overflow: hidden;
  margin: 0 auto;
}

/* 

  Project hero

*/

.ProjectHero {
  left: calc(-50vw + 50%);
  margin-bottom: var(--s-5);
  min-height: 40vh;
  position: relative;
  width: 100vw;

  @media (--md) {
    margin-bottom: var(--s-6);
    min-height: 45vh;
  }
  @media (--lg) {
    min-height: 64vh;
  }

  & .figure {
    left: auto !important;
    margin: 0 auto !important;
    width: 90vw !important;

    @media (min-width: 1136px) {
      width: 80vw !important;
    }
    @media (min-width: 1840px) {
      width: 60vw !important;
    }
  }

  & img {
    // box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15), 0 9px 50px 0 rgba(0, 0, 0, 0.1);
    // box-shadow: 0 9px 25px 0 rgba(0, 0, 0, 0.25), 0 19px 70px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 9px 50px 0 rgba(0, 0, 0, 0.4), 0 19px 100px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 15px 50px 0 rgba(0, 0, 0, 0.15);
  }
}

.ProjectHero--isDevice {
  background-color: salmon;
  min-height: auto;

  & img {
    box-shadow: initial;
  }
}
