.Figure--medium,
.Figure--large {
  padding-left: var(--grid-gutter);
  padding-right: var(--grid-gutter);
  position: relative;
  left: calc(-50vw + 50%);
  /* max-width: var(--container-xl); */
  width: 100vw;

  @media (--small-viewport) {
    // padding: 0;
    // left: calc(-40vw + 50%);
    // width: 80vw;
  }
}

.Figure--medium {
  @media (min-width: 1024px) {
    left: calc(-512px + 50%);
    width: 1024px;
  }
}

.Figure--large {
  padding: 0;
  @media (min-width: 1440px) {
    // left: calc(-720px + 50%);
    // width: 1440px;
  }
  @media (min-width: 1488px) {
    padding-left: var(--grid-gutter);
    padding-right: var(--grid-gutter);
    left: calc(-50vw + 50%);
    width: 100vw;
  }
  @media (min-width: 1648px) {
    padding-left: var(--grid-gutter);
    padding-right: var(--grid-gutter);
    left: calc(-45vw + 50%);
    width: 90vw;
  }
  @media (min-width: 1840px) {
    padding-left: var(--grid-gutter);
    padding-right: var(--grid-gutter);
    left: calc(-30vw + 50%);
    width: 60vw;
  }
}
