/*

  Figures

 */

.figure {
  margin-top: var(--s-3);
  margin-bottom: var(--s-3);
  position: relative;

  @media (--md) {
    margin-top: var(--s-4);
    margin-bottom: var(--s-4);
  }
  @media (--lg) {
    margin-top: var(--s-5);
    margin-bottom: var(--s-5);
  }

  &:first-child {
    margin-top: 0;
  }

  & img {
    width: 100%;
  }
}

.figure--project {
  margin-top: var(--s-5);
  margin-bottom: var(--s-5);

  @media (--md) {
    margin-top: var(--s-6);
    margin-bottom: var(--s-6);
  }
  @media (--lg) {
    margin-top: var(--s-7);
    margin-bottom: var(--s-7);
  }
}

.figure--large {
  width: 100%;

  @media (min-width: 1136px) {
    left: calc(-45vw + 50%);
    width: 90vw;
  }
  @media (min-width: 1840px) {
    left: calc(-33vw + 50%);
    width: 66vw;
  }
}

.figure--frame {
  border: 1px solid var(--c-border);
}

.figure--portrait {
  overflow: hidden;

  @media (--sm) {
    margin-right: 50%;
    width: 50%;
  }
}
