/*

  Figures

 */

.figure {
  margin: var(--s-5) auto;
  position: relative;

  @media (--medium-viewport) {
    margin: var(--s-6) 0;
  }
  @media (--large-viewport) {
    margin: var(--s-7) auto;
  }

  &:first-child {
    margin-top: 0 !important;
  }

  & img {
    width: 100%;
  }
}

.figure--frame {
  border: 1px solid var(--color-border);
}

.figure--portrait {
  @media (--small-viewport) {
    width: 25%;
    margin-left: 12.5%;
  }
}

.figure--large {
  width: 100%;

  @media (min-width: 1136px) {
    left: calc(-45vw + 50%);
    width: 90vw;
  }
  @media (min-width: 1840px) {
    left: calc(-33vw + 50%);
    width: 66vw;
  }
}
