/*

  Using SuitCSS's .Grid component
  TODO: build Suit again w/ correct vars.

 */

.Grid--withGutter {
  margin: 0 calc(-1 * var(--grid-gutter));
}

.Grid--withGutter > .Grid-cell {
  padding: 0 var(--grid-gutter);
}

.Grid--withFullGutter {
  margin: calc(-1 * var(--grid-gutter));
}

.Grid--withFullGutter > .Grid-cell {
  padding: var(--grid-gutter);
}

.Grid--withLargeGutter {
  margin: 0 calc(-0.5 * var(--s-5));

  @media (--md) {
    margin: 0 calc(-0.5 * var(--s-6));
  }

  @media (--lg) {
    margin: 0 calc(-0.5 * var(--s-7));
  }
}

.Grid--withLargeGutter > .Grid-cell {
  padding: 0 calc(0.5 * var(--s-5));

  @media (--md) {
    padding: 0 calc(0.5 * var(--s-6));
  }

  @media (--xl) {
    padding: 0 calc(0.5 * var(--s-7));
  }
}

.Grid--withSmallGutter {
  margin: 0 calc(-1 * 12px);
}

.Grid--withSmallGutter > .Grid-cell {
  padding: 0 12px;
}

.Grid--withTinyGutter {
  margin: calc(-1 * 2px);
}

.Grid--withTinyGutter > .Grid-cell {
  padding: 2px;
}

.Grid--withProjects {
  margin: 0 calc(-0.5 * var(--s-2));

  @media (--md) {
    margin: 0 calc(-0.5 * var(--s-4));
  }

  @media (--xl) {
    margin: 0 calc(-0.5 * var(--s-7));
  }
}

.Grid--withProjects > .Grid-cell {
  padding: 0 calc(0.5 * var(--s-2));

  @media (--md) {
    padding: 0 calc(0.5 * var(--s-4));
  }

  @media (--xl) {
    padding: 0 calc(0.5 * var(--s-7));
  }
}
