.Button--roundRev {
  --button-background-color: transparent;
  --button-border-color: var(--c-bg);
  --button-border-radius: 999px;
  --button-border-width: 1px;
  --button-box-shadow-color: var(--c-bg);
  --button-box-shadow-stroke-hover: 1px;
  --button-box-shadow-stroke-active: 2px;
  --button-box-shadow-stroke-inset: 1px;
  --button-color: var(--c-bg);
  --button-disabled-opacity: 0.6;
  --button-height: calc(1 * var(--field-height));
  --button-inline-spacing: var(--s-2);
  --button-xpadding: 1.5em;

  /* typography */
  --button-font-case: inherit;
  --button-font-family: inherit;
  --button-font-size: inherit;
  --button-font-weight: inherit;
  --button-letter-spacing: inherit;
}
