/* 

  Extract a div from the .Container

 */

.Extract-edge,
.MarkdownScope figure {
  left: calc(-1 * var(--grid-gutter));
  position: relative;
  width: calc(var(--container));
}

.Extract-large {
  left: calc(
    (var(--container-lg) - var(--container) + (2 * var(--grid-gutter))) * -0.5
  );
  position: relative;
  width: var(--container-lg);
}

.Extract-hero {
  left: calc(
    (var(--container-xl) - var(--container) + (2 * var(--grid-gutter))) * -0.5
  );
  position: relative;
  width: var(--container-xl);
}

.Extract-super {
  left: calc(
    (var(--container-su) - var(--container) + (2 * var(--grid-gutter))) * -0.5
  );
  position: relative;
  width: var(--container-su);

  left: calc(-35vw + 50%);
  width: 70vw;
}

/* UTILS */

.Extract-large-unit {
  display: block;
  width: calc(
    (var(--container-lg) - var(--container) + (2 * var(--grid-gutter))) * 0.5
  );
}

.Extract-large-inset {
  display: block;
  margin-left: calc(
    (var(--container-lg) - var(--container) + (2 * var(--grid-gutter))) * 0.5
  );
}

/* 

  break the text column grid 

*/

/* .figure--project,
.figure--post {
  left: calc(-50vw + 50%);
  width: 100vw;

  @media (--md) {
    left: calc((-0.5 * var(--container-rg-img)) + 50%);
    width: var(--container-rg-img);
  }
}

.figure--project {
  margin-top: var(--s-5);
  margin-bottom: var(--s-5);

  @media (--md) {
    margin-top: var(--s-6);
    margin-bottom: var(--s-6);
  }
} */

.figure--large {
  width: 100%;

  @media (min-width: 1136px) {
    left: calc(-40vw + 50%);
    width: 80vw;
  }
  @media (min-width: 1840px) {
    left: calc(-30vw + 50%);
    width: 60vw;
  }
}

.figure--portrait {
  overflow: hidden;
  margin: 0 auto;
}
