/* 

  Extract a div from the .Container

 */

.Scope-post-figure figure,
.Scope-post figure,
.Extract-edge {
  /* left: calc(-0.75 * var(--grid-gutter)); */
  position: relative;
  /* width: 100vw; */

  @media (--lg) {
    left: calc(-1 * var(--grid-gutter));
    width: calc(var(--container-rg));
  }
}

.Extract-large {
  position: relative;

  @media (--lg) {
    left: calc((var(--container-lg) - var(--container-rg) + (2 * var(--grid-gutter))) * -0.5);
    width: var(--container-lg);
  }
}

.Extract-hero,
.Extract-super {
  left: calc(-50vw + 50%);
  position: relative;
  width: 100vw;

  @media (--lg) {
    /* padding: 0 var(--grid-gutter); */
  }
}

.Extract-hero,
.Extract-super {
  @media (--lg) {
    left: calc((var(--container-xl) - var(--container-rg) + (2 * var(--grid-gutter))) * -0.5);
    padding: 0;
    width: var(--container-xl);
  }
}

.Extract-super {
  /* @media (--md) {
    left: calc(-45vw + 50%);
    padding: 0;
    width: 90vw;
  } */
  /* @media (--lg) {
    left: calc(-40vw + 50%);
    padding: 0;
    width: 80vw;
  } */
  @media (--su) {
    left: calc(-35vw + 50%);
    width: 70vw;
  }
}

/* HELPERS */

.Extract-large-unit {
  display: block;
  margin-right: var(--space);

  @media (--lg) {
    margin-right: 0;
    width: calc((var(--container-lg) - var(--container-rg) + (2 * var(--grid-gutter))) * 0.5);
  }
}

.Extract-large-inset {
  display: block;

  @media (--lg) {
    margin-left: calc((var(--container-lg) - var(--container-rg) + (2 * var(--grid-gutter))) * 0.5);
  }
}
