/*.visualLink,
.Project:hover .Project-visualLink,
a:not(.Button),
h1 a:hover,
h1 a:active,
a:not(.LinkSignal),*/

/* a:not(.Button),
.LinkSignal:hover .LinkSignal-title */

.nuxt-link-active span,
p a:not(.Button),
.Text a:not(.Button),
.Scope-post p a:not(.Button) {
  --underline-bgimg: var(--c-bg);
  --underline: var(--c-gray);
  --underline-hover: currentColor;
  --underline-textshadow: var(--underline-bgimg);

  background-image: linear-gradient(var(--underline-bgimg), var(--underline-bgimg)),
    linear-gradient(var(--underline-bgimg), var(--underline-bgimg)),
    linear-gradient(var(--underline), var(--underline));
  background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  background-repeat: no-repeat, no-repeat, repeat-x;
  text-shadow: 0.03em 0 var(--underline-textshadow), -0.03em 0 var(--underline-textshadow),
    0 0.03em var(--underline-textshadow), 0 -0.03em var(--underline-textshadow),
    0.06em 0 var(--underline-textshadow), -0.06em 0 var(--underline-textshadow),
    0.09em 0 var(--underline-textshadow), -0.09em 0 var(--underline-textshadow),
    0.12em 0 var(--underline-textshadow), -0.12em 0 var(--underline-textshadow),
    0.15em 0 var(--underline-textshadow), -0.15em 0 var(--underline-textshadow);
  background-position: 0% 96%, 100% 96%, 0% 96%;

  /* @media screen and (-webkit-min-device-pixel-ratio: 0) {
    background-position-y: 102%, 102%, 102%;
  } */
}

.nuxt-link-active,
p a:not(.Button),
.Text a:not(.Button),
.Scope-post p a:not(.Button) {
  &:hover {
    background-image: linear-gradient(var(--underline-bgimg), var(--underline-bgimg)),
      linear-gradient(var(--underline-bgimg), var(--underline-bgimg)),
      linear-gradient(var(--underline-hover), var(--underline-hover));
  }
}

p a:not(.Button),
.Text a:not(.Button),
.Scope-post p a:not(.Button) {
  &:hover {
    color: var(--c-link);
  }
}

.nuxt-link-active span {
  --underline: var(--c-text);
  background-position: 0% 92.5%, 100% 92.5%, 0% 92.5%;
}

blockquote p em a {
  background-position: 0% 100%, 100% 100%, 0% 100% !important;
}

.bg-neutral p a:not(.Button),
.bg-neutral .Link,
.bg-neutral .Link-block a,
.bg-neutral .nuxt-link-active span {
  --underline-bgimg: var(--c-neutral);
  --underline-textshadow: var(--c-neutral);
}

/* a:not(.Button) {
  &:hover {
    background-image: linear-gradient(var(--c-bg), var(--c-bg)),
      linear-gradient(var(--c-bg), var(--c-bg)),
      linear-gradient(currentColor, currentColor);
    color: var(--c-link);
  }
} */

h1 a:hover,
h1 a:active,
.LinkSignal:hover .LinkSignal-title {
  background-image: none !important;
  text-shadow: none !important;

  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    background-position-y: 93%, 93%, 93%;
  }
}

/* 

  Arrow signal 

 */

.LinkSignal:hover .LinkSignal-target {
  transform: translateX(1rem);
  transition: all 0.5s ease;
}

.LinkSignal-target {
  display: inline-block;
  font-family: var(--ff-stack-sans);
  // font-size: 60%;
  font-weight: 300;
  transform: translateX(0);
  transition: all 0.1s ease-out;

  vertical-align: top;
  margin-left: 0.25em;
}
