/*.visualLink,
.Project:hover .Project-visualLink,
a:not(.Button),
h1 a:hover,
h1 a:active,
a:not(.LinkSignal),*/

/* a:not(.Button),
.LinkSignal:hover .LinkSignal-title */

.Text a:not(.Button),
.Scope-post p a:not(.Button) {
  background-image: linear-gradient(var(--c-bg), var(--c-bg)), linear-gradient(var(--c-bg), var(--c-bg)),
    linear-gradient(var(--c-gray), var(--c-gray));
  background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  background-repeat: no-repeat, no-repeat, repeat-x;
  text-shadow: 0.03em 0 var(--c-bg), -0.03em 0 var(--c-bg), 0 0.03em var(--c-bg), 0 -0.03em var(--c-bg),
    0.06em 0 var(--c-bg), -0.06em 0 var(--c-bg), 0.09em 0 var(--c-bg), -0.09em 0 var(--c-bg),
    0.12em 0 var(--c-bg), -0.12em 0 var(--c-bg), 0.15em 0 var(--c-bg), -0.15em 0 var(--c-bg);
  background-position: 0% 96%, 100% 96%, 0% 96%;

  /* @media screen and (-webkit-min-device-pixel-ratio: 0) {
    background-position-y: 102%, 102%, 102%;
  } */
}

a:not(.Button),
.Text a:not(.Button),
.Scope-post p a:not(.Button) {
  &:hover {
    background-image: linear-gradient(var(--c-bg), var(--c-bg)), linear-gradient(var(--c-bg), var(--c-bg)),
      linear-gradient(currentColor, currentColor);
    color: var(--c-link);
  }
}

/* a:not(.Button) {
  &:hover {
    background-image: linear-gradient(var(--c-bg), var(--c-bg)),
      linear-gradient(var(--c-bg), var(--c-bg)),
      linear-gradient(currentColor, currentColor);
    color: var(--c-link);
  }
} */

h1 a:hover,
h1 a:active,
.LinkSignal:hover .LinkSignal-title {
  background-image: none !important;
  text-shadow: none !important;

  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    background-position-y: 93%, 93%, 93%;
  }
}

/* 

  Nuxt menu links

 */

/* .link:last-of-type:after {
  content: initial;
}

.link:last-of-type:before {
  width: 100%;
}

.nuxt-link-active span {
  position: relative;
}

.nuxt-link-active span:before {
  background-color: currentColor;
  content: "";
  display: inline-block;
  height: 1px;
  left: 0;
  right: 0;
  bottom: -2px;
  position: absolute;
} */

/* 

  Arrow signal 

 */

.LinkSignal:hover .LinkSignal-target {
  transform: translateX(1rem);
  transition: all 0.5s ease;
}

.LinkSignal-target {
  display: inline-block;
  font-family: var(--ff-stack-sans);
  // font-size: 60%;
  font-weight: 300;
  transform: translateX(0);
  transition: all 0.1s ease-out;

  vertical-align: top;
  margin-left: 0.25em;
}
