/* 

  Littoral icon

 */

.LittoralIcon {
  margin-top: 0.25em;

  & svg {
    @media (--mo) {
      height: 24px;
      width: 24px;
    }

    border-radius: 999px;
    border: 1px solid var(--c-block);
    padding: 4px;
  }
}
