/* 

  Clear fixed nav

 */

.b-clearFixedNav {
  padding-top: var(--nav-height);
}

/* 

  Button theme

 */

.Button--sm {
  @media (--lg) {
    --field-height: 2.75rem;
  }
}

.Button {
  padding-bottom: calc(3 / var(--rfs-text));
  padding-bottom: 0.142857143em;
}

/* 

  Newsletter block 

 */

/* .Block {
  --c-block: var(--c-text);
  --bg-block: var(--c-bg);

  background-color: var(--bg-block);
  border: 1px solid var(--c-block);
  border-left: 0;
  color: var(--c-block);
}

.Block-cell {
  border-left: 1px solid var(--c-block);
} */

/* 

  Separators & misc things 

 */

.b-ptTitle {
  padding-top: 17.5vh;
}

.TextIndent {
  padding-left: var(--text-indent);
}

.MetaSeparator {
  display: inline-block;
  /* letter-spacing: -0.5em; */
  margin-left: calc(0.5 * var(--rs-space));
  margin-right: calc(0.5 * var(--rs-space));
}

.LinkSeparator {
  margin-left: var(--s-3a);
  margin-right: var(--s-3a);
  padding-top: var(--s-3b);
  padding-bottom: var(--s-3b);

  @media (--sm) {
    padding-top: var(--s-4a);
    padding-bottom: var(--s-4a);
  }
}

.ParagraphImage {
  float: left;
  transform: translateY(0.5em);
}

/* 

  Iremono overrides & new utils

 */

.image-multiply {
  mix-blend-mode: multiply;
}

.Text--liningNums {
  font-variant-numeric: lining-nums;
}

.bg-neutral-dark {
  background-color: var(--c-neutral-dark);
}

.bg-contact-block {
  /* background-color: #2242dc;
  background-color: rgb(223, 226, 239);
  background-color: rgb(225, 230, 249);
  background-color: rgb(211, 220, 255);
  background-color: var(--c-contact-block); */
  border: 1px solid var(--c-text);
  border-left: 0;
}

.Extract-md {
  position: relative;

  @media (--lg) {
    left: calc((var(--container-md) - var(--container-rg) + (2 * var(--grid-gutter))) * -0.5);
    width: var(--container-md);
  }
}

.GutterInsetX {
  padding-left: calc(1 * var(--grid-gutter));
  padding-right: calc(1 * var(--grid-gutter));

  /* @media (--lg) {
    padding-left: 12vw;
    padding-right: 12vw;
  }
  @media (--xl) {
    padding-left: 12vw;
    padding-right: 12vw;
  } */
}

@media (--md) {
  .md-AspectRatio--2x1 {
    padding-bottom: 50%;
  }

  .md-AspectRatio--10x4 {
    padding-bottom: 40%;
  }
}

@media (--lg) {
  .lg-AspectRatio--2x1 {
    padding-bottom: 50%;
  }

  .lg-AspectRatio--10x4 {
    padding-bottom: 40%;
  }
}
