/* 

  Page transitions
  https://vuejs.org/v2/guide/transitions.html#Custom-Transition-Classes
  v-enter => v-enter-active => v-enter-to
  v-leave => v-leave-active => v-leave-to

 */

.page-enter-active,
.page-leave-active {
  transition: all 0.15s ease;
  background-color: var(--c-bg);
  /* height: 100vh; */
  /* opacity: 1; */
  /* width: 100vw; */
  z-index: 999;
}

.page-enter-active,
.page-leave-active {
  opacity: 1;
}

.page-leave-active {
  transition: all 0.4s cubic-bezier(1, 0.5, 0.8, 1);
}
.page-enter,
.page-leave-to {
  /* transform: translateX(3px); */
  opacity: 0;
}
