/* 

  Page themes

 */

.Page {
  padding-top: calc((2 * var(--rs-block-space)) + (0.5 * var(--nav-height)));
}

.Page--about {
  padding-top: var(--nav-height);
}

.page-projects {
  background-color: var(--c-neutral);
}

/* 

  Top of the page nav specials

 */

.b-nav {
  padding-top: var(--rs-block-space);
  padding-bottom: calc(1.25 * var(--rs-block-space));
}

.Nav-locator {
  margin-top: 13px;
  margin-top: 1.083333333em;
  margin-bottom: calc(1.1 * var(--rs-space));

  @media (--mo) {
    text-align: right;
  }
}

/* 

  Post: essay drop caps, etc

 */
.Scope-post-dropcap div:first-child > p:first-of-type:first-letter {
  float: left;
  font-family: var(--ff-meta), var(--ff-stack-serif);
  font-family: var(--ff-title), var(--ff-stack-sans);
  font-weight: 400;
  font-size: 2em;
  line-height: 1;
  padding-top: 0;
  padding-top: 3px;
  padding-right: 0.7em;
  padding-bottom: 0.25em;

  @media (--md) {
    /* font-size: 2.75em; */
  }
  @media (--lg) {
    font-size: 3em;
    padding-right: 0.55em;
    padding-bottom: 0.25em;
  }
}

/* .Scope-post-dropcap div > p span:first-of-type {
  font-family: var(--ff-title), var(--ff-stack-sans);
  font-weight: 700;
  letter-spacing: 0.01em;
  text-transform: uppercase;
} */

.Footnote-marker {
  display: inline-block;
  font-size: 60%;
  transform: translateY(-0.666em);
}

/* 

  Post endRule
  Reqs: `.b-mb0.b-mt2`

 */

.Post-endRule {
  background-color: var(--c-text);
  margin-left: 0;
  transform: translateY(-0.25em);
  width: 5%;
}

/* 

  Button theme

 */

.Button--sm {
  @media (--lg) {
    --field-height: 2.75rem;
  }
}

/* 

  Separators & things 

 */

.MetaSeparator {
  display: inline-block;
  /* letter-spacing: -0.5em; */
  margin-left: calc(0.5 * var(--rs-space));
  margin-right: calc(0.5 * var(--rs-space));
}

.LinkSeparator {
  margin-left: var(--s-3a);
  margin-right: var(--s-3a);
  padding-top: var(--s-3b);
  padding-bottom: var(--s-3b);

  @media (--sm) {
    padding-top: var(--s-4a);
    padding-bottom: var(--s-4a);
  }
}

/* 

  Utils, etc (overriding Iremono)

 */

.icon-targetBlank:after {
  top: -0.5em;
}

.Extract-md {
  position: relative;

  @media (--lg) {
    left: calc((var(--container-md) - var(--container-rg) + (2 * var(--grid-gutter))) * -0.5);
    width: var(--container-md);
  }
}

.GutterInsetX {
  @media (--lg) {
    padding-left: 12vw;
    padding-right: 12vw;
  }
  @media (--xl) {
    padding-left: 12vw;
    padding-right: 12vw;
  }
}

@media (--md) {
  .md-AspectRatio--2x1 {
    padding-bottom: 50%;
  }

  .md-AspectRatio--10x4 {
    padding-bottom: 40%;
  }
}

@media (--lg) {
  .lg-AspectRatio--2x1 {
    padding-bottom: 50%;
  }

  .lg-AspectRatio--10x4 {
    padding-bottom: 40%;
  }
}

/* 

  Interesting hero, etc

 */

.NewsletterHero:before {
  /* background-color: rgba(0, 0, 0, 0.55);
  background-color: rgba(0, 0, 0, 0.7);
  background-color: rgba(212, 203, 184, 0.85);
  background-color: rgba(228, 226, 220, 0.9); */
  /* background-color: rgba(239, 236, 229, 0.92); */
  background-color: rgba(254, 224, 2, 1);
  /* content: ""; */
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.NewsletterHero {
  background-color: var(--c-text);
  background-color: rgba(239, 236, 229, 0.92);
  background-color: rgba(255, 203, 5, 0.92);
  background-color: rgba(254, 224, 2, 1);
  /* background-image: url(/images/_slump.jpg);
  background-image: url(/images/_overcast-night.jpg);
  background-image: url(/images/_spys.jpg);
  background-image: url(/images/_kiss.jpg);*/
  /* background-image: url("https://res.cloudinary.com/pw-img-cdn/image/upload/v1531451032/okok/_kiss.jpg"); */
  /* background-position-y: 80%; */
  background-position-y: 0;
  position: relative;
}

.NewsletterHero p,
.NewsletterHero {
  /* color: var(--c-bg); */
}

/* 

  Littoral icon

 */

.LittoralIcon {
  margin-right: 0.25em;
  transform: translateY(3px);

  @media (min-width: 768px) {
    margin-right: 0.2em;
    transform: translateY(2px);
  }
  @media (min-width: 1280px) {
    transform: translateY(4px);
  }
}
