/* 

  Index theme

 */

.page-index {
  --html-bg: var(--c-black);
  --html-c: var(--c-bg);
  --c-indexbg: var(--c-orange);
  --c-indexbg: #2242dc;
  color: var(--c-bg);

  background-color: rgba(0, 0, 0, 0.8);
  background-color: var(--c-indexbg);
  background-blend-mode: multiply;
  background-image: url("/images/_index-1.jpg");
  background-image: url("/images/_overcast-night.jpg");
  background-image: url("/images/_sagatiba-bw-181201A.jpg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  width: 100vw;
}

.page-index .Nav-link {
  color: var(--c-bg);
}

.page-index {
  & .nuxt-link-active span,
  & p a:not(.Button),
  & .Text a:not(.Button),
  & .Scope-post p a:not(.Button) {
    --underline-bgimg: var(--c-indexbg);
    --underline: rgba(255, 255, 255, 0.2);
    --underline-hover: currentColor;
    --underline-textshadow: var(--underline-bgimg);
    /* background-image: initial; */
    text-shadow: initial;
  }
}

/* 

  Interesting hero, etc

 */

.page-the-littoral-line {
  background-color: rgba(254, 224, 2, 1);
  min-height: 100vh;
}

.NewsletterHero:before {
  /* background-color: rgba(0, 0, 0, 0.55);
  background-color: rgba(0, 0, 0, 0.7);
  background-color: rgba(212, 203, 184, 0.85);
  background-color: rgba(228, 226, 220, 0.9); */
  /* background-color: rgba(239, 236, 229, 0.92); */
  background-color: rgba(254, 224, 2, 1);
  /* content: ""; */
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.NewsletterHero {
  background-color: var(--c-text);
  background-color: rgba(239, 236, 229, 0.92);
  background-color: rgba(255, 203, 5, 0.92);
  background-color: rgba(254, 224, 2, 1);
  /* background-image: url(/images/_slump.jpg);
  background-image: url(/images/_overcast-night.jpg);
  background-image: url(/images/_spys.jpg);
  background-image: url(/images/_kiss.jpg);*/
  /* background-image: url("https://res.cloudinary.com/pw-img-cdn/image/upload/v1531451032/okok/_kiss.jpg"); */
  /* background-position-y: 80%; */
  background-position-y: 0;
  position: relative;
}
