.Project,
.Project-filter {
  display: block;
  text-decoration: initial;
}

.Project {
  /* border-top: 1px solid var(--c-rule); */
  /* padding-bottom: var(--s-7); */
  padding-bottom: calc(1 * var(--rs-block-space));
  padding-bottom: calc(2 * var(--rs-block-space));
}

/* 

There is no `.b-pb3` on the .Page for the projects route.
Instead, apply it here.

*/
/* .Project:last-of-type {
  padding-bottom: calc(2 * var(--rs-block-space));
} */

.Project-tags span:first-letter {
  text-transform: capitalize;
}

.Project-filter {
  /* border-bottom: 1px solid var(--c-text);
  padding-top: 0;
  padding-bottom: calc(0.666 * var(--s-3)); */

  & a {
    margin-left: var(--s-3);
  }
}

.Project:hover {
  color: var(--c-text);
}

.Project:hover .Project-tags {
  /* color: var(--c-text); */
}

.Project:hover p {
  color: var(--c-text);
}

.Project img {
  /* filter: grayscale(100%); */
  /* filter: grayscale(1); */
  /* opacity: 0.5; */
  transition: filter 750s ease-in;
}

.Project:hover img {
  /* use the SVG filter that's secreted on work/index */
  /* filter: url("#blur"); */
  /* filter: grayscale(0); */
  transition: filter 3000ms ease-out;
}
