.project {
  display: block;

  &:last-child {
    // margin-bottom: 0 !important;
  }
}

/* use the SVG filter that's secreted on work/index */
/* reused & scoped in LazyImage */
.project:hover img {
  filter: url("#gray");
}

.project-text {
  width: 80%;

  @media (--sm) {
    width: 75%;
  }
}

.project-text h2,
.project-text p {
  width: 100%;
}

.project-subtext {
  color: var(--c-text);
}

.project-divider {
  letter-spacing: -0.2em;
  /* margin-left: -0.1em; */
  margin-right: 0.2em;
}
