.project,
.project-filter {
  display: block;
  text-decoration: initial;
}

.project {
  // border-top: 1px solid var(--c-rule);
  padding-bottom: var(--s-7);
}

.project-filter {
  border-bottom: 1px solid var(--c-text);
  padding-top: 0;
  padding-bottom: calc(0.666 * var(--s-3));

  & a {
    margin-left: var(--s-3);
  }
}

.project:hover h2 {
  /* color: var(--c-highlight); */
}

.project:hover img {
  /* use the SVG filter that's secreted on work/index */
  /* filter: url("#blur"); */
  filter: grayscale(0);
  transition: filter 250ms ease-out;
}

.project img {
  filter: grayscale(100%);
  transition: filter 750s ease-in;
}
