.project,
.project-filter {
  border-top: 1px solid var(--c-rule);
  display: block;
  padding: var(--s-3) 0;

  &:first-of-type {
    // border-top-color: var(--c-text);
  }
}

.project-filter {
  border-top: 2px solid var(--c-text);
  padding-top: calc(0.75 * var(--s-3));

  & a {
    margin-left: var(--s-3);
  }
}

/* use the SVG filter that's secreted on work/index */
/* reused & scoped in LazyImage */
.project:hover img {
  filter: url("#gray");
}
