/*
  -------------------------------------------------

  Text

  -------------------------------------------------
 */

p,
ul,
.Text,
.Text--sm,
blockquote p em {
  font-size: var(--rfs-text);
  font-weight: 400;
  letter-spacing: var(--fls-text);
  line-height: var(--flh-regular);
}

p em,
.Text--italic {
  font-style: italic;
}

/* 
  -------------------------------------------------
  
  Meta & logo

  -------------------------------------------------
 */

/* .Text--meta {
  font-family: var(--ff-text-title-light), var(--ff-stack-sans);
  font-family: var(--ff-text), var(--ff-stack-serif);
  font-size: var(--rfs-meta);
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: 1;
  text-transform: uppercase;
} */

.Scope-post h2,
.Meta {
  font-family: var(--ff-text), var(--ff-stack-serif);
  font-family: var(--ff-title), var(--ff-stack-sans);
  font-family: var(--ff-meta), var(--ff-stack-sans);
  font-size: var(--rfs-text-xs);
  font-weight: 400;
  /* letter-spacing: var(--fls-loose); */
  letter-spacing: 0.0125em;
  line-height: 1;
  /* text-transform: uppercase; */
}

.Meta--text,
.Scope-post h2 {
  font-size: var(--rfs-text);
  letter-spacing: 0 !important;
  line-height: var(--flh-regular);
}

.Scope-post h2 {
  font-weight: 500 !important;
}

.Logo {
  font-family: var(--ff-title), var(--ff-stack-sans);
  font-weight: 700;
  font-size: 12px;
  font-size: var(--rfs-meta);
  line-height: 1;
  letter-spacing: 0.666em;

  & a:hover {
    color: var(--c-link);
  }
}

/* 
  -------------------------------------------------
  
  Headings
  
  Tufte CSS uses h1 for the document title, p with class subtitle for the document subtitle, h2 for section headings, and h3 for low-level headings. More specific headings are not supported. If you feel the urge to reach for a heading of level 4 or greater, consider redesigning your document.

  -------------------------------------------------
 */

.Minorheading,
.Scope-post h3,
.nl-content h3 {
  font-family: var(--ff-text), var(--ff-stack-serif);
  /* resetting ems before applying font sizing: */
  /* font-size: calc((16 / (var(--rfs-text-unit) * 16)) * var(--rfs-text)) !important; */
  font-size: var(--rfs-subheading);
  font-weight: 600;
  /* letter-spacing: 0.05em;
  line-height: var(--flh-regular);
  text-transform: uppercase; */
}

/* 
  -------------------------------------------------

  Ginto

  -------------------------------------------------
*/

.Scope-post h2,
.Subheading,
.Heading,
.Subtitle,
.Title,
.Supertitle {
  font-family: var(--ff-title), var(--ff-stack-sans);
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: -0.0125em;

  & a:hover {
    color: var(--c-link);
  }
}

/* .Scope-post h2, */
.Subheading {
  font-family: var(--ff-text), var(--ff-stack-sans);
  font-size: var(--rfs-text-sm);
  font-weight: 600;
  letter-spacing: var(--fls-touch-loose);
  line-height: var(--flh-regular);
  text-transform: uppercase;
}

.Heading {
  font-size: var(--rfs-heading);
  /* line-height: 1.25; */
}

.Subtitle,
.Title,
.Supertitle {
  /* letter-spacing: -0.02em; */
}

.Subtitle {
  font-size: var(--rfs-subtitle);
  font-weight: 500;
  /* letter-spacing: var(--fls-touch-positive); */
}

.Title {
  font-size: var(--rfs-title);
  font-weight: 500;
}

.Supertitle {
  font-size: var(--rfs-supertitle);
  line-height: 1.05;
}

.Subtitle--lede,
.Title--lede {
  font-family: var(--ff-lede), var(--ff-stack-serif);
  /* font-size: var(--rfs-subtitle); */
  font-weight: 300;
  letter-spacing: var(--fls-touch-positive);
  line-height: var(--flh-regular);
}

/*
  -------------------------------------------------

  blockquote (not incl. spacing)

  -------------------------------------------------
 */

blockquote p {
  border-left: 1px solid var(--c-rule);
  font-family: var(--ff-text), var(--ff-stack-serif);
  font-style: italic;
  padding-left: var(--s-3a);

  @media (--mo) {
  }

  @media (--sm) {
    padding-left: var(--s-3b);
  }

  /* &:before {
    content: "“";
    display: block;
    position: absolute;
    transform: translate3d(-100%, 0, 0);
  } */

  & p {
    border: initial;
    padding: initial;
  }
}

.Blockquote-author,
blockquote p em {
  /* resetting ems before applying font sizing: */
  /* font-size: calc((18 / (var(--rfs-text-unit) * 16 * 1)) * var(--rfs-text-xs)) !important; */
  /* font-size: var(--rfs-text-xs); */
  font-size: calc(14 / 19 / 16 * 16 * 1em) !important;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.075em;
  letter-spacing: var(--fls-touch-loose);
  text-transform: uppercase;
}

blockquote p em {
  display: table;
  margin-top: 5px;
  margin-top: 0.125em;
}

/* blockquote em {
  margin-top: 3px;

  @media (--lg) {
    margin-top: 6px;
  }
} */

/*
  -------------------------------------------------

  Iremono font-spacing overrides

  -------------------------------------------------
 */

.Scope-post figure + h2,
.Scope-post figure + h3 {
  margin-top: 0 !important;
  padding-top: calc(0.125 * var(--s-headline));
}
