/*
  -------------------------------------------------

  Text
  1. https://developer.mozilla.org/en-US/docs/Web/CSS/font-variant-numeric

  -------------------------------------------------
 */

p,
ul,
ol,
.Text,
.Text--sm,
.Scope-post h3,
blockquote p em {
  font-size: var(--rfs-text);
  font-weight: 400;
  letter-spacing: var(--fls-text);
  line-height: var(--flh-regular);
  font-variant-numeric: oldstyle-nums; /* 1 */
}

p em {
  font-style: italic;
}

.fs-text-lg {
  font-size: calc(var(--rfs-text-lg) - 2px) !important;
}

/*
  -------------------------------------------------

  Meta & logo

  -------------------------------------------------
 */

.Meta {
  /* font-family: var(--ff-meta), var(--ff-stack-sans); */
  font-family: var(--ff-stack-sans);
  font-family: var(--ff-title), var(--ff-stack-sans);
  font-size: var(--rfs-text-xs);
  font-weight: 400;
  letter-spacing: 0.0125em;
  line-height: 1;
}

.Button.Meta {
  font-weight: 700;
}

/*
  -------------------------------------------------

  Headings & titles

  Tufte CSS uses h1 for the document title, p with class subtitle for the document subtitle, h2 for section headings, and h3 for low-level headings. More specific headings are not supported. If you feel the urge to reach for a heading of level 4 or greater, consider redesigning your document.

  -------------------------------------------------
 */

/* guyot-italics */
.Scope-post h2,
.Scope-post h3,
.Heading {
  font-family: var(--ff-text), var(--ff-stack-serif);
  font-size: var(--rfs-text-lg);
  font-style: italic;
  font-variant-numeric: tabular-nums;
  letter-spacing: var(--fls-text);
  line-height: var(--flh-regular);
}

.Scope-post h3 {
  font-size: calc(var(--rfs-text) + 1px);
}

.Scope-post h3:not(:first-child) {
  margin-top: calc(1.5 * var(--rs-space));
}

/* ginto */
.Subtitle,
.Title,
.Supertitle {
  font-family: var(--ff-stack-sans);
  font-family: var(--ff-title), var(--ff-stack-sans);
  font-weight: 700;
  line-height: 1.1;
  line-height: 1.25;
  letter-spacing: -0.015em;
  text-transform: uppercase;

  & a:hover {
    color: var(--c-link);
  }
}

.Subtitle {
  font-size: var(--rfs-text-meta);
  letter-spacing: 0.025em;
}

.Title {
  font-size: var(--rfs-text-lg);
}

.Supertitle {
  font-size: var(--rfs-supertitle);
  letter-spacing: -0.03em;
  line-height: 1.05;
}

/*
  -------------------------------------------------

  Post: markdown styling

  -------------------------------------------------
 */

.Scope-post {
  & p,
  & ol,
  & ul {
    &:last-child {
      margin-bottom: 0;
    }
  }

  & strong {
    font-size: calc(var(--rfs-text) - 2px);
    font-size: calc(var(--rfs-text-sm) + 0.075em);
    font-weight: 700;
    /* font-style: italic; */
    letter-spacing: 0.075em;
    text-transform: uppercase;
  }

  & ol {
    list-style-type: decimal;
    /* padding-left: calc(3 * var(--rs-space)); */
  }

  /* & p + p {
    text-indent: var(--text-indent);
  } */

  & ol,
  & ul {
    margin: var(--s-blockquote) 0;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

/*
  -------------------------------------------------

  Post: markdown highlighting

  -------------------------------------------------
 */

.Scope-post {
  & em {
    /* background-color: var(--c-highlight); */
    font-style: normal;
  }
  & em a:not(.Button) {
    /* --underline-bgimg: var(--c-highlight);
    --underline: var(--c-gray);
    --underline-hover: currentColor;
    --underline-textshadow: var(--underline-bgimg); */
    /* background-color: initial !important;
    text-shadow: initial !important; */
  }
}

/*
  -------------------------------------------------

  Blockquote (not incl. spacing)

  -------------------------------------------------
 */

blockquote p {
  /* border-left: 1px solid var(--c-rule); */
  font-family: var(--ff-text), var(--ff-stack-serif);
  font-style: italic;
  padding-left: var(--text-indent);

  /* &:before {
    content: "“";
    display: block;
    position: absolute;
    transform: translate3d(-100%, 0, 0);
  } */

  & em {
    background-color: none !important;
    font-style: italic !important;
  }

  & p {
    border: initial;
    padding: initial;
  }
}

.Blockquote-author,
.Scope-post blockquote p strong {
  display: table;
  font-style: normal;
  font-size: calc(var(--rfs-text-sm) + 0.15em);
  font-weight: 400;
  letter-spacing: 0.075em;
  margin-top: 0.25em;
  text-transform: uppercase;
}

/* reset PS highlight at .Scope-post em */
/* .Blockquote-author,
blockquote p em,
blockquote p em a:not(.Button) {
  background-color: initial !important;
  text-shadow: initial !important;
} */

/* .Scope-post-dropcap div:first-child > p:first-of-type:first-letter {
  float: left;
  font-family: var(--ff-meta), var(--ff-stack-serif);
  font-family: var(--ff-title), var(--ff-stack-sans);
  font-weight: 400;
  font-size: 2em;
  font-size: calc(2 * var(--rfs-text));
  line-height: 1;
  padding-top: 0;
  padding-top: 3px;
  padding-right: 0.7em;
  padding-bottom: 0.25em;

  @media (--md) {
    font-size: 2.75em;
  }
  @media (--lg) {
    font-size: 3em;
    padding-right: 0.55em;
    padding-bottom: 0.25em;
  }
} */

/* .Scope-post-dropcap div > p span:first-of-type {
  font-family: var(--ff-title), var(--ff-stack-sans);
  font-weight: 700;
  letter-spacing: 0.01em;
  text-transform: uppercase;
} */

.Footnote-marker {
  display: inline-block;
  font-size: 60%;
  text-indent: 0;
  transform: translateY(-0.666em);
}

/* Reqs: `.b-mb0.b-mt2` */
.Post-endRule {
  background-color: var(--c-text);
  margin-left: 0;
  transform: translateY(-0.25em);
  width: 5%;
}

.Post-intro-quote p {
  border: none;
  color: var(--c-text-light);
  padding-left: 0;
}

.Post-intro-rule {
  background-color: var(--c-text-underline);
  margin-left: 0;
  width: 10%;
}

/*
  -------------------------------------------------

  Iremono figure font-spacing overrides

  -------------------------------------------------
 */

.Scope-post figure + h2,
.Scope-post figure + h3 {
  margin-top: 0 !important;
  padding-top: calc(0.125 * var(--s-heading));
}

figure {
  padding: 0;
  margin: var(--figure-space-align-within-text) 0;
}

/*
  -------------------------------------------------

  Code blocks

  -------------------------------------------------
 */

pre {
  border: 1px solid #e6e6e6;
  border-left-width: 5px;
  /* font-size: .88888em; */
  margin: 0 0 12px;
  overflow-x: auto;
  padding: 1.25em;
  white-space: pre;
}

code {
  color: #EB5757;
  color: #111;
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  font-size: 75%;
  font-weight: 500;
}

p code {
  background: rgba(135,131,120,0.15);
  line-height: normal;
  border-radius: 3px;
  padding: 0.2em 0.4em;
}
