/* font families */

@define-mixin is-f-light {
  font-family: var(--ff-sans), var(--ff-stack-sans);
  font-weight: 300;
}

@define-mixin is-f-base {
  font-family: var(--ff-sans), var(--ff-stack-sans);
  font-weight: 400;
}

@define-mixin is-f-medium {
  font-family: var(--ff-sans), var(--ff-stack-sans);
  font-weight: 500;
}

@define-mixin is-f-bold {
  font-family: var(--ff-sans), var(--ff-stack-sans);
  font-weight: 700;
}

.is-f-light {
  @mixin is-f-light;
}

p,
.is-f-base {
  @mixin is-f-base;
}

.is-f-medium {
  @mixin is-f-medium;
}

h1,
.is-f-bold {
  @mixin is-f-bold;
}


