ul,
ol {
  list-style-type: square;
  margin: 0;
  padding-left: 2rem;

  & ol,
  & ul {
    margin-bottom: 0;
  }
}

li {
  margin: 0;
  padding: 0;
}

@define-mixin listUnstyled {
  padding-left: 0;
  list-style: none;
}

.u-listUnstyled {
  @mixin listUnstyled;
}

