
/*
 * Base HTML elements
 */

html,
body {
}

html {
}

body {
}

img {
  max-width: 100%;
  vertical-align: middle;
}

hr {
  border: 0;
  border-bottom: 2px solid var(--color-text);
  margin: 0;
}
