
/*
 * Base HTML elements
 */

html,
body {
}

html {
}

body {
  background-color: #f9f4dd !important; /* about */
  background-color: #fdfdfd !important;
  background-color: var(--color-neutral) !important;
}

img {
  max-width: 100%;
  vertical-align: middle;
}


