/* 
 * Sticking images to ratio
 */

/* ALT

.project-image {
  @apply --stick;
  background-color: var(--c-hilight);
  height: 100%;
  left: 50%;
  max-width: initial;
  transform: translateX(-50%);
} 

*/

.coverimage {
  @apply --stick;
  background-color: var(--c-hilight);
  max-width: initial;
}

.coverimage--byWidth {
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.coverimage--byHeight {
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

/* use in conjunction with var(--sticky) */
.coverimage--bg {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 100%;
  margin: 0 auto;
  width: 100%;
}
