/* 

  Post page

 */

.page-journal-page .Footer hr {
  @media (--medium-viewport) {
    width: calc(100% * 2/3);
  }
}

/* 

  Nav modal

 */

.modal {
  background-color: #ff8900;
  background-color: var(--color-text);
  background-color: var(--color-metal);
}
.modal .container {
  height: 100vh;
}

.modal .title,
.modal .text,
.modal .text--meta {
  // margin: 0;
  // text-align: right;
  width: 100%;
}

.modal hr {
  display: none;
}

