/*
 * Type
 * --------------------
 */

@font-face {
  font-family: var(--font-serif-regular);
  src: url("~static/fonts/PortraitText-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: var(--font-serif-italic);
  src: url("~static/fonts/PortraitText-RegularItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: var(--font-serif-heading-medium);
  src: url("~static/fonts/Portrait-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: var(--font-serif-heading-bold);
  src: url("~static/fonts/Portrait-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* 
  
  Headings
  --------
  Tufte CSS uses h1 for the document title, p with class subtitle for the document subtitle, h2 for section headings, and h3 for low-level headings. More specific headings are not supported. If you feel the urge to reach for a heading of level 4 or greater, consider redesigning your document.

 */

h1,
h2,
h3 {
  font-weight: normal;
}

.Meta {
  font-family: var(--font-serif-heading-bold);
  font-size: var(--s-heading-sm-3);
  letter-spacing: 0.1em;
  line-height: 1;
  text-transform: uppercase;

  &.--medium {
    font-family: var(--font-serif-heading-medium);
  }
}

h1,
.Title {
  font-family: var(--font-serif-heading-medium);
  font-size: var(--s-title-1);
  letter-spacing: 0.01em;
  line-height: var(--lh-heading);
  text-align: center;
  text-transform: uppercase;

  @media (--medium-viewport) {
    font-size: var(--s-title-2);
  }

  @media (--large-viewport) {
    font-size: var(--s-title-3);
  }
}

h2,
.Subheading {
  font-family: var(--font-serif-italic);
  font-size: var(--s-lede-1);
  letter-spacing: 0.01em;
  line-height: var(--lh-heading);

  @media (--medium-viewport) {
    font-size: var(--s-lede-2);
  }

  @media (--large-viewport) {
    font-size: var(--s-lede-3);
  }
}

/* 
 * Texts
 */

html {
  font-size: 16px;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-serif-regular);
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: var(--ls-text);
  line-height: var(--lh-text);

  /* reset things */
  text-rendering: geometricPrecision;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

p,
ol,
ul,
.Text {
  font-family: var(--font-serif-regular);
  font-size: var(--s-text-1);
  line-height: var(--lh-text);
  margin: 0;
  text-transform: initial;

  & .--italic {
    font-family: var(--font-serif-italic);
  }

  @media (--medium-viewport) {
    font-size: var(--s-text-2);
  }
  @media (--large-viewport) {
    font-size: var(--s-text-3);
  }
}

blockquote, 
.Markdown blockquote p {
  border-left: 1px solid var(--color-text-light);
  color: var(--color-text-light);
  font-family: var(--font-serif-italic);
  padding-left: var(--s3);
}

/* 
 * spaces 
 */

p,
ol,
ul,
.u-pSpace {
  // margin-bottom: 2rem;
  margin-bottom: var(--s4);
}

blockquote {
  margin: var(--s4) 0;
}

blockquote + h2,
p + h2 {
  margin-top: var(--s5);
  margin-bottom: var(--s4);
}

p:last-child {
  margin-bottom: 0;
}

ol,
ul {
  & ol,
  & ul {
    margin-bottom: 0;
  }
}

/* 
 * lists 
 */

ul,
ol {
  font-family: inherit;
  margin: 0 0 var(--s4);
  padding-left: 0;
}

ol {
  /* list-style-type: upper-roman;
  list-style-type: decimal; */
}

li {
  margin-bottom: 0;
}

/*
 * Link
 */

a,
button {
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  text-decoration: none;
}

p a:not(.Button) {
  background-image: 
    linear-gradient(#fffff8, #fffff8), 
    linear-gradient(#fffff8, #fffff8), 
    linear-gradient(#333, #333);
  background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  background-repeat: no-repeat, no-repeat, repeat-x;
  text-shadow: 
    0.03em 0 #fffff8, 
    -0.03em 0 #fffff8, 
    0 0.03em #fffff8, 
    0 -0.03em #fffff8, 
    0.06em 0 #fffff8, 
    -0.06em 0 #fffff8, 
    0.09em 0 #fffff8, 
    -0.09em 0 #fffff8, 
    0.12em 0 #fffff8, 
    -0.12em 0 #fffff8, 
    0.15em 0 #fffff8, 
    -0.15em 0 #fffff8;
  background-position: 0% 93%, 100% 93%, 0% 93%;

  @media screen and (-webkit-min-device-pixel-ratio: 0) {
      background-position-y: 87%, 87%, 87%;
  }
}
