/*

  arrows

 */

.arrow-east {
  border-top: 0.3125em solid transparent;
  border-bottom: 0.3125em solid transparent;
  border-left: 0.4375em solid;
  display: inline-block;
  height: 0;
  margin-left: 0.25em;
  vertical-align: baseline;
  width: 0;
}

.arrow-south {
  border-right: 0.3125em solid transparent;
  border-left: 0.3125em solid transparent;
  border-top: 0.4375em solid;
  display: inline-block;
  height: 0;
  vertical-align: baseline;
  width: 0;
}

/*

  colors

 */

.color-brand {
  color: var(--color-brand) !important;
}
.color-highlight {
  color: var(--color-highlight) !important;
}
.color-title {
  color: var(--color-title) !important;
}
.color-text {
  color: var(--color-text) !important;
}
.color-border {
  color: var(--color-border) !important;
}
.color-neutral {
  color: var(--color-neutral) !important;
}
.color-white {
  color: var(--color-bg) !important;
}
.color-textBlock > * {
  color: var(--color-text-light) !important;
}

/*

  bg colors

 */ 

.bgcolor-title {
  background-color: var(--color-title) !important;
}
.bgcolor-text {
  background-color: var(--color-text) !important;
}
.bgcolor-brand {
  background-color: var(--color-brand) !important;
}
.bgcolor-border {
  background-color: var(--color-border) !important;
}
.bgcolor-neutral {
  background-color: var(--color-neutral) !important;
}
.bgcolor-white {
  background-color: var(--color-bg) !important;
}
.bgcolor-transparent {
  background-color: transparent !important;
}


/*
 * font sizes
 */

/* .u-fontSizeSans {
  font-size: var(--s-text-1);
  @media (--medium-viewport) { font-size: var(--s-text-2); }
  @media (--large-viewport)  { font-size: var(--s-text-3); }
} */

/*
 * font weights
 */

/* .u-fontWeightSansRegular {
  font-family: var(--sans-regular);
  font-weight: 400;
}

.u-fontWeightSansMedium {
  font-family: var(--sans-medium);
  font-weight: 500;
} */

/*
 * Text helpers
 */

.text-lowercase {
  text-transform: lowercase !important;
}
.text-capitalise {
  text-transform: capitalize !important;
}
.u-noIndent {
  text-indent: 0 !important;
}

/* .u-border {
  border: 1px solid var(--color-text);
} */

/* 
 * positions & layout 
 */

.coverImage {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  // max-height: 600px;
  // max-width: 600px;
}

.pin {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.h100 {
  height: 100% !important;
}

.w100 {
  width: 100% !important;
}

.w50 {
  width: 50% !important;
}

.sm-w50 {
  @media (--small-viewport) {
    width: 50% !important;
  }
}

.wContainer {
  max-width: var(--container);
}