/*
 * arrows
 */

.u-arrowEast {
  border-top: 0.3125em solid transparent;
  border-bottom: 0.3125em solid transparent;
  border-left: 0.4375em solid;
  display: inline-block;
  height: 0;
  margin-left: 0.25em;
  vertical-align: baseline;
  width: 0;
}

.u-arrowSouth {
  border-right: 0.3125em solid transparent;
  border-left: 0.3125em solid transparent;
  border-top: 0.4375em solid;
  display: inline-block;
  height: 0;
  vertical-align: baseline;
  width: 0;
}

/*
 * colors
 */

.u-colorBrand {
  color: var(--color-brand) !important;
}
.u-colorHighlight {
  color: var(--color-highlight) !important;
}
.u-colorText {
  color: var(--color-text) !important;
}
.u-colorTextLight {
  color: var(--color-text-light) !important;
}
.u-colorBorder {
  color: var(--color-border) !important;
}
.u-colorNeutral {
  color: var(--color-neutral) !important;
}
.u-colorWhite {
  color: var(--color-bg) !important;
}

.u-colorTextLightBlock * {
  color: var(--color-text-light) !important;
}


/*
 * bg colors
 */ 

.u-bgColorText {
  background-color: var(--color-text) !important;
}
.u-bgColorBrand {
  background-color: var(--color-brand) !important;
}
.u-bgColorBorder {
  background-color: var(--color-border) !important;
}
.u-bgColorNeutral {
  background-color: var(--color-neutral) !important;
}
.u-bgColorWhite {
  background-color: white !important;
}
.u-bgColorTransparent {
  background-color: transparent !important;
}

/*
 * hr rules
 */


/*
 * font sizes
 */

/* .u-fontSizeSans {
  font-size: var(--s-text-1);
  @media (--medium-viewport) { font-size: var(--s-text-2); }
  @media (--large-viewport)  { font-size: var(--s-text-3); }
} */

/*
 * font weights
 */

/* .u-fontWeightSansRegular {
  font-family: var(--sans-regular);
  font-weight: 400;
}

.u-fontWeightSansMedium {
  font-family: var(--sans-medium);
  font-weight: 500;
} */

/*
 * Text helpers
 */

.u-textLowercase {
  text-transform: lowercase !important;
}
.u-textCapitalise {
  text-transform: capitalize !important;
}

/* .u-border {
  border: 1px solid var(--color-text);
} */

/* 
 * positions & layout 
 */

.u-coverImage {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  // max-height: 600px;
  // max-width: 600px;
}

.u-posPin {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.u-height100 {
  height: 100% !important;
}

.u-width100 {
  width: 100% !important;
}

.u-width50 {
  width: 50% !important;
}

.u-sm-width50 {
  @media (--small-viewport) {
    width: 50% !important;
  }
}

/*
 * container & block utils
 */

.u-containerWidth {
  max-width: var(--container-rg);
}

.u-containerWidthLarge {
  max-width: var(--container-lg);
}

.u-blockInset {
  padding: 30px 24px;
}
