/*
  
  Variables

  Notes on css custom properties & postcss-custom-properties:
  Single variables within media queries are a great idea:
  https://philipwalton.com/articles/why-im-excited-about-native-css-variables/
  …but postcss-custom-properties limits vars to the `:root`:
  "Since we do not know the DOM in the context of this plugin, we cannot produce safe output." —> https://github.com/postcss/postcss-custom-properties
  
  :root { --s-title: 20px; }

  @media (min-width: 80em) {
    :root { --s-title: 40px; }
  }

*/

/* eslint-disable */
/* prettier-ignore */

:root {
  @custom-media --sm (min-width: 512px);
  @custom-media --md (min-width: 768px);
  @custom-media --lg (min-width: 1280px);
  @custom-media --xl (min-width: 1600px);

 /*

    Sizes

  */

  --space: 1.5rem;
  --grid-gutter: calc(2 * var(--space));

  --container: calc(704px + (2 * var(--grid-gutter)));
  --container: calc(704px + 6rem);
  --container-sm: calc(480px + (2 * var(--grid-gutter)));
  --container-md: calc(960px + (2 * var(--grid-gutter)));
  --container-lg: calc(902px + (2 * var(--grid-gutter)));
  --container-xl: calc(1200px + (2 * var(--grid-gutter)));
  --container-su: calc(1344px + (2 * var(--grid-gutter)));
  --container-rg-img: 800px;
  
  --s-0: 0;
  --s-1: 0.25rem;
  --s-2: 0.5rem;
  --s-2a: 0.75rem;
  --s-3: 1rem;
  --s-3a: 1.25rem;
  --s-3b: 1.5rem;
  --s-4: 2rem;
  --s-4a: 2.15rem;
  --s-5: 2.5rem;
  --s-6: 4rem;
  --s-7: 6rem;
  
  --rs-1: 0.25rem;
  --rs-2: 0.5rem;
  --rs-3: 1rem;
  --rs-3a: 1.25rem;
  --rs-4: 2.5rem;
  --rs-5: 5rem;
  --rs-6: 9rem;
  --rs-7: 13rem;
  
  --border-radius: 2px;
  --field-spacing: 1rem 1.25rem;
  --inlineBlockChildrenSpace: var(--space);

  /* 
    
    Colors
  
   */
   
  --c-brand: #00ffff;
  --c-brandHover: #00ffff;
  --c-brandLight: #00ffff;
  --c-highlight: rgba(255, 235, 0, 0.25);
  --c-highlight: #FCF7C9;
  --c-highlight: #47caf5;
  --c-link: #bd0a20;
  --c-link: #f53813;
  --c-link: #f51713;
  --c-link: #f52b13;
  --c-link: #9411c5;
  --c-link: #e4b830; /* yellow */
  --c-link: #e62f0d; /* red */
  --c-highlight: var(--c-link);

  --c-black: black;
  --c-dark: #171515;
  --c-ash: #24292e;
  --c-text: var(--c-ash);
  --c-text: #050505;
  --c-textLight: #999;
  --c-textUnderline: rgba(5, 5, 5, 0.5);
  
  --c-gray: #aaa;
  --c-border: #ccc;
  --c-rule: rgba(0,0,0,0.125);
  --c-device: #e7e7e7;

  --c-neutral: #eee;
  --c-neutral: #fae592;
  --c-neutral: #fae592;
  --c-neutral: hsl(48, 36%, 86%);
  --c-neutral: hsl(48, 44%, 87%);
  --c-neutral: hsl(48, 16%, 91%);
  --c-neutral: var(--c-bg);

  --c-bg: #fafafa;
  --c-bg: #f2f2f2;
  --c-bg: #f7f7f7;
  --c-white: white;
  
  --c-success: #ff3700;
  --c-warning: #ff3700;
  --c-danger: #ff3700;

  /* 
  
    Typefaces
  
   */

  --ff-text: "TiemposText";
  --ff-text-regular: "Regular";
  --ff-text-regular-italic: "RegularItalic";
  --ff-text-medium: "Medium";
  --ff-text-bold: "Bold";
  
  --ff-lede: "TiemposHeadline";
  --ff-text-meta: var(--ff-title);
  --ff-text-subheading: var(--ff-title);
  --ff-text-subheading: var(--ff-text-bold);

  --ff-heading: "GintoNord";
  --ff-title: "GintoNord";
  
  --ff-button: var(--ff-text-regular);

  --ff-stack-serif: Georgia, "Times New Roman", Times, serif;
  --ff-stack-sans: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Arial, sans-serif;

  --ff-stack-text: var(--ff-stack-serif);
  --ff-stack-heading: var(--ff-stack-sans);

  /* 
  
    Font sizes
    For your thoughts: http://type-scale.com/
   
   */

  --rfs-0: 0.833333333rem; /* 12pt if fs-text = 1em or 16px */
  --rfs-1: 0.888888889rem; /* 13pt */
  --rfs-2: 0.944444444rem; /* 14pt */
  --rfs-3: 0.9375rem; /* 15pt */
  --rfs-4: 1rem; /* 16pt */

  --fs-text-unit: 1.1875; /* 19pt */

  --fs-text-xs: calc(1em * var(--fs-text-unit));
  --fs-text-sm: calc(0.894736842em * var(--fs-text-unit));
  --fs-text: calc(1em * var(--fs-text-unit));
  --fs-text-md: calc(1em * var(--fs-text-unit));
  --fs-text-lg: calc(1em * var(--fs-text-unit));
  --fs-meta: calc(0.789473684em * var(--fs-text-unit)); /* 15 */
  --fs-meta: calc(0.736842105em * var(--fs-text-unit)); /* 14 */
  --fs-meta: calc(0.684210526em * var(--fs-text-unit)); /* 13 */

  --fs-lede: calc(1.3333em * var(--fs-text-unit));
  --fs-subheading: calc(1.263157895 * var(--fs-text-unit));
  --fs-subheading: 20px;
  --fs-heading: calc(1.421052632em * var(--fs-text-unit)); /* 27 */
  --fs-subtitle: calc(1.684210526em * var(--fs-text-unit)); /* 32 */
  --fs-title: calc(2.105263158em * var(--fs-text-unit)); /* 40/19/16 * 16 */
  --fs-super: calc(2.526315789em * var(--fs-text-unit)); /* 48/19/16 * 16 */
  --fs-super: calc(3.157894737em * var(--fs-text-unit)); /* 60/19/16 * 16 */
  --fs-super: calc(2.842105263em * var(--fs-text-unit)); /* 54/19/16 * 16 */

  /* 

    Font weights

   */

  --fw-heirline: 100;
  --fw-light: 200;
  --fw-book: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-heavy: 800;
  --fw-black: 900;

  /* 
  
    Font leading (line-height) and font tracking (letter-spacing)
   
   */
  
  --fls-text: -0.001em;
  --fls-meta: 0.00625em;
  --fls-caps: 0.1em;
  --fls-heading: -0.0025em;
  --fls-super: -0.005em;


  --fls-tight: -0.005em;
  --fls-regular: 0;
  --fls-touch: 0.02em;
  --fls-loose: 0.15em;

  --flh-super: 1;
  --flh-tight: 1.15;
  --flh-reduced: 1.3333;
  --flh-regular: 1.45;
  --flh-loose: 1.55;

  /* 

    Transitions

   */

  --speed: 0.15s;
  --easing: ease-out;
  --cubic-static: cubic-bezier(0, -0.1, 1, -0.1);
  --cubic-state: cubic-bezier(0, 1.1, 1, 1.1);
  --thisalso: cubic-bezier(0.19, 1, 0.22, 1);

  /* 

    Utility variables

   */

  --field-height: 3rem;
  
  --figure-space: calc(2 * var(--space));
  --figcaption-margin-top: 0.5rem;
  --figcaption-font-weight: var(--fw-regular);
  --figcaption-text-color: var(--c-text-light);
  
  --border-radius: 4px;
  --inline-block-children-space: calc(1.25 * var(--s-3));
  --progress-height: 32px;

  /* 

    Theme

   */

  --fixedMenuHeight: 89px;
}
