/*
  -------------------------------------------------
  
  Variables

  Notes on css custom properties & postcss-custom-properties:

  Single variables within media queries are a great idea:
  https://philipwalton.com/articles/why-im-excited-about-native-css-variables/

  But postcss-custom-properties limits vars to the :root:
  "Since we do not know the DOM in the context of this plugin, we cannot produce safe output."
  https://github.com/postcss/postcss-custom-properties
  
  :root { --s-title: 20px; }

  @media (min-width: 80em) {
    :root { --s-title: 40px; }
  }

  -------------------------------------------------
*/

/* eslint-disable */
/* prettier-ignore */

:root {
  @custom-media --small-viewport (min-width: 512px);
  @custom-media --medium-viewport (min-width: 768px);
  @custom-media --large-viewport (min-width: 1280px);
  @custom-media --xlarge-viewport (min-width: 1600px);

  /*
   * sizes
   */ 

  --grid-gutter: 3rem;
  --spacer: 24px;
  --spacer-large: 0.75rem;

  --container: calc(72.5em + 6rem);
  --container-rg: 72.5em;
  
  --container-sm: 400px;
  --container-md: 808px;
  --container-lg: 1120px;
  --container-xl: 1600px;

  --s1: 0.25rem;
  --s2: 0.5rem;
  --s3: 1rem;
  --s4: 2.5rem;
  --s5: 5rem;
  --s6: 10rem;
  --s7: 15rem;
  
  --tuck: 6vw;
  --tuck-lg: 9vw;

  --border-radius: 4px;

  /* 
   * Colors
   */
   
  --color-brand: #00ffff;
  --color-highlight: #bee8fb;
  --color-highlight: #47bbff;
  --color-highlight: #b32273;
  --color-highlight: #44729c;
  --color-red: #ff3700;
  --color-title: #0a0a0a;
  --color-text: #8a8a8a;
  --color-border: #ccc;
  --color-neutral: #eee;
  --color-bg: #fdfdfd;
  --color-bg: #f8f8f8;
  --color-bg-blue: #cdd8e2;
  --color-metal: #cdd8e2;

  /* 
   * Typefaces
   */

  --font-regular: "Regular";
  --font-italic: var(--font-regular);
  --font-medium: "Medium";
  --font-bold: "Bold";
  --font-title: "Title";
  --font-massive: "Massive";
  --font-button: var(--font-medium);

  --font-stack-serif: Georgia, "Times New Roman", Times, serif;
  --font-stack-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

  /* 
   * Font sizes
   * For your thoughts: http://type-scale.com/
   */

  --s-massive: 3em;
  --s-title: 1.125em;
  --s-subtitle: 3em;
  --s-heading: var(--s-title);
  --s-subheading: 1.5em;
  --s-text: 1.5625em;
  --s-text-meta: 1.125em;
  --s-text-sm: 0.875em;
  
  --s-text-unit: 1.5;

  /* 
   * ls & lh 
   */
  
  --ls-heading: -0.0225em;
  --ls-heading-sm: -0.005em;
  --ls-body: -0.005em;
  --ls-text: -0.025em;
  --ls-meta: -0.0125em; /*0.075em*/

  --lh-heading: 1;
  --lh-subheading: 1.2;
  --lh-text: 1.4; /*1.347826087*/
  --lh-meta: 1.3;

  /* 
   * Transitions 
   */

  --transition-duration: 0.2s;
  --transition-delayed: 0.4s;
  --transition-debounce: 2.5s;
}
