/* 

  The web is typography.

  1. font-feature-settings from http://fadeyev.net 

*/

html {
  background-color: var(--c-dark);
  color: var(--c-text);
  font-family: var(--ff-text-regular), var(--ff-stack-sans);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: var(--ft-text);
  line-height: var(--fl-text);
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/*
  <size you want>/(16*1.375)
  17/(16*1.375) = .772727273
 */

body,
.TypeScope-reset {
  font-size: 0.818181818rem !important;
  font-size: 0.772727273rem !important;

  @media (--sm) {
    font-size: 0.847826087rem !important;
    // font-size: 0.875rem !important;
  }
  @media (--md) {
    // font-size: 0.9375rem !important;
  }
  @media (--lg) {
    font-size: 1rem !important;
  }
}
