/* 

  The web is typography.

  1. font-feature-settings from http://fadeyev.net 

*/

html {
  background-color: var(--c-dark);
  color: var(--c-text);
  font-family: var(--ff-text-regular), var(--ff-stack-sans);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: var(--ft-text);
  line-height: var(--fl-text);
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/*
  <size you want>/(16*1.125)
  Example: 18/(16*1.125) = x
 */

body,
.TypeScope-reset {
  font-size: 0.833333333rem !important; /*15pt*/

  @media (--sm) {
    font-size: 0.888888889rem !important; /*16pt*/
  }
  @media (--md) {
    font-size: 0.944444444rem !important; /*17pt*/
  }
  @media (--lg) {
    font-size: 1rem !important; /*18pt*/
  }
}
