/* 

  Responsive typography with ems.

  The maths:

  <desired-pt-size>/<text-unit>/16 * 16
  48/19/16 * 16 = 2.526315789

  <text-unit> * 16 * 1
  1.1875 * 16 * 1 = 19pt

  Applied to first child of <nuxt>.

*/

.fs-scale-reset {
  font-size: var(--rfs-0) !important;

  @media (--sm) {
    font-size: var(--rfs-1) !important;
  }
  @media (--md) {
    font-size: var(--rfs-2) !important;
  }
  @media (--md-landscape) {
    font-size: var(--rfs-3) !important;
  }
  @media (--lg) {
    font-size: var(--rfs-4) !important;
  }
}

/* 
  Font families
 */

.ff-text {
  font-family: var(--ff-text), var(--ff-stack-text) !important;
}
.ff-title {
  font-family: var(--ff-title), var(--ff-stack-heading) !important;
}

/* 
  Font sizes
 */

.fs-text-xs {
  font-size: var(--fs-text-xs) !important;
}
.fs-text-sm {
  font-size: var(--fs-text-sm) !important;
}
.fs-text {
  font-size: var(--fs-text) !important;
}
.fs-text-md {
  font-size: var(--fs-text-md) !important;
}
.fs-text-lg {
  font-size: var(--fs-text-lg) !important;
}
.fs-subheading {
  font-size: var(--fs-subheading) !important;
}
.fs-heading {
  font-size: var(--fs-heading) !important;
}
.fs-subtitle {
  font-size: var(--fs-subtitle) !important;
}
.fs-title {
  font-size: var(--fs-title) !important;
}
.fs-supertitle {
  font-size: var(--fs-supertitle) !important;
}

/* 
  Font line-height
 */

.flh-super {
  line-height: var(--flh-super) !important;
}
.flh-tight {
  line-height: var(--flh-tight) !important;
}
.flh-reduced {
  line-height: var(--flh-reduced) !important;
}
.flh-regular {
  line-height: var(--flh-regular) !important;
}
.flh-loose {
  line-height: var(--flh-loose) !important;
}

/* 
  Font letter-spacing
 */

.fls-tight {
  letter-spacing: var(--fls-tight) !important;
}
.fls-regular {
  letter-spacing: var(--fls-regular) !important;
}
.fls-loose {
  letter-spacing: var(--fls-loose) !important;
}

/* 
  Font weights
 */

.fw-hairline {
  font-weight: 100 !important;
}
.fw-thin {
  font-weight: 200 !important;
}
.fw-light {
  font-weight: 300 !important;
}
.fw-regular {
  font-weight: 400 !important;
}
.fw-medium {
  font-weight: 500 !important;
}
.fw-semibold {
  font-weight: 600 !important;
}
.fw-bold {
  font-weight: 700 !important;
}
.fw-heavy {
  font-weight: 800 !important;
}
.fw-black {
  font-weight: 900 !important;
}

/*

  Font style blocks

 */

.fs-block {
  & > p,
  & > ul,
  & > li {
    font-family: var(--fs-text);
  }
}

.fs-block-sm {
  & > p,
  & > ul,
  & > li {
    font-family: var(--fs-text-sm);
  }
}

.fs-block-md {
  & > p,
  & > ul,
  & > li {
    font-family: var(--fs-text-md);
    line-height: var(--flh-reduced);
  }
}

.fs-block-lg {
  & > p,
  & > ul,
  & > li {
    font-family: var(--fs-text-lg);
    font-weight: 200;
  }
}
