/*
 * Font-faces
 * ----------
 */

@font-face {
  font-family: var(--font-regular);
  src: url("~static/fonts/UntitledSansWeb-Regular.woff") format("woff");
  src: url("~static/fonts/Graphik-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: var(--font-medium);
  src: url("~static/fonts/UntitledSansWeb-Medium.woff") format("woff");
  src: url("~static/fonts/Graphik-Semibold.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: var(--font-bold);
  src: url("~static/fonts/UntitledSansWeb-Bold.woff") format("woff");
  src: url("~static/fonts/Graphik-Bold.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: var(--font-title);
  src: url("~static/fonts/d-cond.ttf") format("woff");
  src: url("~static/fonts/DrukWide-Medium.woff2") format("woff");
  src: url("~static/fonts/DrukWide-Bold-Reduced.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: var(--font-massive);
  src: url("~static/fonts/UntitledSansWeb-Regular.woff") format("woff");
  src: url("~static/fonts/DrukWide-Medium.woff2") format("woff");
  src: url("~static/fonts/d-cond.ttf") format("woff");
  src: url("~static/fonts/Druk-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}