/*

  Font-faces

 */

@font-face {
  font-family: var(--ff-text-regular);
  src: url("~static/fonts/TiemposText-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: var(--ff-text-regular-italic);
  src: url("~static/fonts/TiemposText-RegularItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: var(--ff-text-bold);
  src: url("~static/fonts/TiemposText-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: var(--ff-text-lede);
  src: url("~static/fonts/TiemposText-Medium.otf") format("woff");
  src: url("~static/fonts/TiemposHeadline-Regular.otf") format("woff");
  src: url("~static/fonts/TiemposHeadline-Light.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: var(--ff-text-meta);
  src: url("~static/fonts/AttenNew-Bold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: var(--ff-text-subheading);
  src: url("~static/fonts/AttenNew-Extrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: var(--ff-title);
  src: url("~static/fonts/AttenNew-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
