/* 

  https://github.com/jonathanharrell/hiq/blob/master/pcss/typography/horizontal-rules.pcss

*/

hr {
  background-color: var(--c-rule);
  border: 0;
  box-sizing: content-box;
  height: 1px;
  margin-top: var(--space);
  margin-bottom: var(--space);
  overflow: visible;
  padding: 0;
}
