/*

  Link

 */

a,
button {
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  text-decoration: none;
}

p a:not(.Button),
p a:not(.LinkSignal),
.textscope a:not(.Button),
.title--sub.is-active .title-visualLink,
.title--sub:hover .title-visualLink {
  background-image: 
    linear-gradient(var(--color-bg), var(--color-bg)), 
    linear-gradient(var(--color-bg), var(--color-bg)), 
    linear-gradient(currentColor, currentColor);
  background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  background-repeat: no-repeat, no-repeat, repeat-x;
  text-shadow: 
    0.03em 0 var(--color-bg), 
    -0.03em 0 var(--color-bg), 
    0 0.03em var(--color-bg), 
    0 -0.03em var(--color-bg), 
    0.06em 0 var(--color-bg), 
    -0.06em 0 var(--color-bg), 
    0.09em 0 var(--color-bg), 
    -0.09em 0 var(--color-bg), 
    0.12em 0 var(--color-bg), 
    -0.12em 0 var(--color-bg), 
    0.15em 0 var(--color-bg), 
    -0.15em 0 var(--color-bg);
  background-position: 0% 93%, 100% 93%, 0% 93%;

  @media screen and (-webkit-min-device-pixel-ratio: 0) {
      background-position-y: 96%, 96%, 96%;
  }
}




/* Title links */ 

/*.link.is-active*/
/*.nuxt-link-active span,*/
.project:hover .project-visualLink {
  background-image: linear-gradient(currentColor, currentColor);
  background-size: 2px 2px;
  background-repeat: repeat-x;
  background-position: 0% 100%;
  padding-bottom: 4px;

  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    // background-position-y: 96%;
  }
}

.modal .nuxt-link-active span {
  // background-image: linear-gradient(var(--color-bg), var(--color-bg));
}

/* no visual link */ 

.u-noVisualLink {
  background-image: initial !important;
  text-decoration: initial !important;
  text-shadow: initial !important;
}

/* arrow signal */ 

.LinkSignal:hover .LinkSignal-target {
  transform: translateX(1rem);
  transition: all 0.5s ease;
}

.LinkSignal-target {
  display: inline-block;
  transform: translateX(0);
  transition: all 0.1s ease-out;
}