/*

  Link

 */

a,
button {
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  text-decoration: none;
}

.visualLink,
p a:not(.Button),
p a:not(.linkSignal),
.project-scope a:not(.Button),
.project:hover .project-visualLink {
  background-image: linear-gradient(var(--c-bg), var(--c-bg)),
    linear-gradient(var(--c-bg), var(--c-bg)),
    linear-gradient(currentColor, currentColor);
  background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  background-repeat: no-repeat, no-repeat, repeat-x;
  text-shadow: 0.03em 0 var(--c-bg), -0.03em 0 var(--c-bg), 0 0.03em var(--c-bg),
    0 -0.03em var(--c-bg), 0.06em 0 var(--c-bg), -0.06em 0 var(--c-bg),
    0.09em 0 var(--c-bg), -0.09em 0 var(--c-bg), 0.12em 0 var(--c-bg),
    -0.12em 0 var(--c-bg), 0.15em 0 var(--c-bg), -0.15em 0 var(--c-bg);
  background-position: 0% 93%, 100% 93%, 0% 93%;

  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    background-position-y: 102%, 102%, 102%;
    background-position-y: 90%, 90%, 90%;
  }
}

/* headings */
.project-link a,
.project:hover .project-visualLink {
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    background-position: 0% 93%, 100% 93%, 0% 93% !important;
  }
}

.page-journal-page strong a {
  text-shadow: 0.03em 0 var(--c-highlight), -0.03em 0 var(--c-highlight),
    0 0.03em var(--c-highlight), 0 -0.03em var(--c-highlight),
    0.06em 0 var(--c-highlight), -0.06em 0 var(--c-highlight),
    0.09em 0 var(--c-highlight), -0.09em 0 var(--c-highlight),
    0.12em 0 var(--c-highlight), -0.12em 0 var(--c-highlight),
    0.15em 0 var(--c-highlight), -0.15em 0 var(--c-highlight);
}

.icon-targetblank {
  position: relative;
  // margin-right: 2px;
}

/* 

  target blank icon

 */

.icon-targetblank:after {
  content: "→";
  display: inline-block;
  font-family: var(--ff-stack-sans);
  font-weight: 400;
  font-size: 60%;
  position: absolute;
  transform: rotate(-45deg);
  vertical-align: top;
  right: -1em;
  top: -0.25em;
}

/* 

  no visual link 

 */

.noVisualLink {
  background-image: initial !important;
  text-decoration: initial !important;
  text-shadow: initial !important;
}

/* 

  arrow signal 

 */

.linkSignal:hover .linkSignal-target {
  transform: translate(1rem, -0.2em);
  transition: all 0.5s ease;
}

.linkSignal-target {
  display: inline-block;
  font-family: var(--ff-stack-sans);
  // font-size: 60%;
  font-weight: 400;
  transform: translate(0, -0.2em);
  transition: all 0.1s ease-out;

  vertical-align: top;
  margin-left: 0.25em;
}
