/*

  Link

 */

a,
button {
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  text-decoration: none;
}

/*.visualLink,
.project:hover .project-visualLink,
a:not(.Button),*/
a:not(.Button),
a:not(.LinkSignal),
h1 a:hover,
h1 a:active,
.LinkSignal:hover .LinkSignal-title {
  background-image: linear-gradient(var(--c-bg), var(--c-bg)),
    linear-gradient(var(--c-bg), var(--c-bg)),
    linear-gradient(currentColor, currentColor);
  background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  background-repeat: no-repeat, no-repeat, repeat-x;
  text-shadow: 0.03em 0 var(--c-bg), -0.03em 0 var(--c-bg), 0 0.03em var(--c-bg),
    0 -0.03em var(--c-bg), 0.06em 0 var(--c-bg), -0.06em 0 var(--c-bg),
    0.09em 0 var(--c-bg), -0.09em 0 var(--c-bg), 0.12em 0 var(--c-bg),
    -0.12em 0 var(--c-bg), 0.15em 0 var(--c-bg), -0.15em 0 var(--c-bg);
  background-position: 0% 93%, 100% 93%, 0% 93%;

  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    background-position-y: 102%, 102%, 102%;
  }
}

h1 a:hover,
h1 a:active,
.LinkSignal:hover .LinkSignal-title {
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    background-position-y: 93%, 93%, 93%;
  }
}

/* 

  target blank icon

 */

.icon-targetblank {
  position: relative;
}

.icon-targetblank:after {
  content: "→";
  display: inline-block;
  font-family: var(--ff-stack-sans);
  font-weight: 400;
  font-size: 60%;
  position: absolute;
  transform: rotate(-45deg);
  vertical-align: top;
  right: -1em;
  top: 0.25em;
}

/* 

  no visual link 

 */

.u-noVisualLink {
  background-image: initial !important;
  text-decoration: initial !important;
  text-shadow: initial !important;
}

/* 

  arrow signal 

 */

.LinkSignal:hover .LinkSignal-target {
  transform: translateX(1rem);
  transition: all 0.5s ease;
}

.LinkSignal-target {
  display: inline-block;
  font-family: var(--ff-stack-sans);
  // font-size: 60%;
  font-weight: 300;
  transform: translateX(0);
  transition: all 0.1s ease-out;

  vertical-align: top;
  margin-left: 0.25em;
}
