/* 
 * custom counter
 */

.Counter {
  list-style-type: none;
}

.Counter li {
  counter-increment: step-counter;
  padding-left: 3rem;
  position: relative;
}

.Counter li::before {
  content: counter(step-counter, upper-roman);
  left: 0;
  position: absolute;
  top: 0;
}

.Counter--large {
  margin-top: 2.5rem;
}

.Counter--large li {
  border-top: 1px solid var(--c-border);
  border-bottom: 1px solid var(--c-border);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.Counter--large li:before {
  /* left: 0; */
  top: 1.5rem;
}

.Counter--large li + li {
  margin-top: -1px;
}
