/* 
  -------------------------------------------------

  Spaces

  -------------------------------------------------
 */

p + p,
ul + p {
  // text-indent: 3rem;

  @media (--large-viewport) {
    // text-indent: 4rem;
  }
}

p:last-child {
  margin-bottom: 0;
}

.u-pSpace,
.TextScope h1,
.TextScope h2,
.TextScope p + .Button,
.TextScope ul + .Button,
.TextScope p + blockquote,
.TextScope ul + blockquote {
  // margin-top: calc(var(--s4));

  @media (--small-viewport) {
    // margin-top: var(--s5);
  }
}

.u-pSpace--half {
  margin-top: var(--s3);

  @media (--small-viewport) {
    margin-top: var(--s4);
  }
}

/*.TextScope blockquote:first-child p,*/
h1 + ul,
h2 + ul,
p + ul,
.TextScope blockquote + h1,
.TextScope blockquote + h2,
.TextScope h1 + blockquote,
.TextScope h2 + blockquote,
.TextScope figure + blockquote,
.Text--large:first-child {
  @media (--small-viewport) {
    margin-top: 0 !important;
  }
}

.TextScope figure + blockquote {
  margin-bottom: 0 !important;
}

.Text--large,
.TextScope blockquote {
  margin-top: var(--s4);
  margin-bottom: var(--s4);
  
  @media (--small-viewport) {
    margin-top: var(--s3) !important;
    margin-bottom: var(--s3) !important;
  }
}

.TextScope blockquote:first-child,
.Text--large:first-child {
  margin-top: 0 !important;
}

.TextScope p,
.TextScope ul, 
.TextScope blockquote {
  margin-bottom: calc(var(--s3));

  @media (--small-viewport) {
    margin-bottom: calc(1.5 * var(--s3));
  }
}