/* 
  -------------------------------------------------

  Body
  …which is all the typography this site uses.

  -------------------------------------------------
 */

body {
  background-color: var(--color-metal);
  color: var(--color-text);
  font-family: var(--font-regular), var(--font-stack-sans);
  font-weight: 400;
  letter-spacing: var(--ls-text);
  line-height: var(--lh-text);
  text-rendering: geometricPrecision;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

/* 
  -------------------------------------------------

  Responsive sizing 

  -------------------------------------------------
 */

body,
blockquote p em,
.textscope-reset,
.text--small {
  font-size: 0.75rem !important;

  @media (--small-viewport) {
    font-size: 0.875rem !important;
  }
  @media (--medium-viewport) {
    font-size: 0.9375rem !important;
  }
  @media (--large-viewport) {
    font-size: 1rem !important;
  }
}

/*
  -------------------------------------------------

  Text variations

  -------------------------------------------------
 */

p,
ul,
.text {
  font-size: var(--s-text);
}

.text--meta {
  font-size: var(--s-text-meta) !important;
}

/* 
  -------------------------------------------------
  
  Headings
  --------
  Tufte CSS uses h1 for the document title, p with class subtitle for the document subtitle, h2 for section headings, and h3 for low-level headings. More specific headings are not supported. If you feel the urge to reach for a heading of level 4 or greater, consider redesigning your document.

  -------------------------------------------------
 */

.title,
h2 {
  color: var(--color-title);
  font-size: var(--s-text);
  font-weight: 400;
}

a.title,
.title > a {
  background-image: none !important;
}

/*.title-ruled {
  position: relative;

  & a {
    background: var(--color-bg);
    padding-right: 1rem;
    position: relative;
  }

  &:before {
    background-color: var(--color-title);
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: calc(0.375 * 1.5625em);
    width: 100%;
  }
}*/

.title-ruled {
  border-top: 1px solid var(--color-title);
  margin-top: calc(1.25 * var(--s5));
  padding-top: var(--s2);
}


/*
  -------------------------------------------------

  Text scope

  -------------------------------------------------
 */

p,
ol,
ul,
blockquote,
h2 {
  @media (--medium-viewport) {
    width: 50%;
  }
}

blockquote p {
  width: 100%;
}

p,
ol,
ul,
h2 {
  @media (--medium-viewport) {
    padding-right: calc(0.5 * var(--grid-gutter));
  }
}

p + p {
  text-indent: 4rem;
}

.intro + p {
  text-indent: 0;
}

/*
  -------------------------------------------------

  blockquote

  -------------------------------------------------
 */

.intro,
blockquote {
  @media (--medium-viewport) {
    margin-left: 50%;
    padding-left: calc(0.5 * var(--grid-gutter));
  }
}

.intro,
.post p,
blockquote p {
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: rgba(138, 138, 138, 0.5);
  padding: calc(2 * var(--s3)) 0 calc(2.166 * var(--s3));
  width: auto;

  & p {
    border: initial;
    padding: initial;
  }
}

/* quote */
blockquote p {
  &:before {
    content: "“";
    left: 1.4375rem;
    display: block;
    position: absolute;
    transform: translate3d(-100%, 0, 0);
  }
}

.no-quote p:before {
  content: none !important;
}

.intro em,
blockquote p em {
  display: table;
  /* method for resetting ems:
  font-size: calc( (19 / (var(--s-text-unit) * 16)) * 1em);*/
  font-size: var(--s-text-meta);
  margin-top: var(--s1);

  @media (--large-viewport) {
    margin-top: var(--s2);
  }
}

/* 
  -------------------------------------------------

  Spaces

  -------------------------------------------------
 */

p:last-child,
ul:last-child,
blockquote:last-child {
  margin-bottom: 0;
}

h1,
h2,
h3 {
  margin-bottom: var(--s2);

  @media (--small-viewport) {
    margin-bottom: var(--s3);
  }

  &:not(:first-child) {
    margin-top: var(--s4);

    @media (--small-viewport) {
      margin-top: var(--s5);
    }
  }
}

blockquote {
  margin-top: var(--s3);
  margin-bottom: var(--s3);
  
  @media (--small-viewport) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

blockquote:first-child,
blockquote + h2,
.text--large:first-child {
  margin-top: 0 !important;
}

* + .Button {
  margin-top: var(--s3);

  @media (--small-viewport) {
    margin-top: calc(2 * var(--s3));
  }
}

/* 

  Post & about themes 

 */

.textscope-post {
  @media (--medium-viewport) {
    width: calc(100% * 2/3);
  }
}

.textscope-post p strong,
.textscope-post p em,
.textscope-post blockquote {
  font-size: calc( (21 / (var(--s-text-unit) * 16)) * 1em);
}

.textscope-post p strong {
  color: var(--color-text-light);
}

.textscope-post .intro,
.textscope-post blockquote {
  @media (--medium-viewport) {
    padding-left: 0;
    padding-right: 0;
    left: 0;
  }
}

.textscope-post blockquote {
  @media (--small-viewport) {
    margin-top: calc(2 * var(--s3));
    margin-bottom: calc(2 * var(--s3));
  }
}

.textscope-post p + blockquote {
  @media (--small-viewport) {
    margin-top: calc(2 * var(--s3));
  }
}

.textscope-post blockquote p {
  border: initial;
  border-left: 1px solid currentColor;
  margin-right: 7.5%;
  padding: initial;
  padding-left: calc(1.5 * var(--s3));
}

.textscope-post blockquote p em {
  display: table;
  font-size: 1em;
  margin-top: var(--s1);
}

.textscope-post .intro {
  margin-bottom: var(--s4);

  @media (--small-viewport) {
    margin-bottom: var(--s5);
  }
}

.textscope-post hr {
  margin: var(--s5)) 0 !important;

  @media (--small-viewport) {
    margin: var(--s6) 0 !important;
  }
}

.textscope-post hr {
  background-color: transparent;

  &:after {
    content: "* * *";
    display: block;
    font-size: var(--s-text);
    letter-spacing: 0.025em;
    line-height: 1;
    margin: auto;
    text-align: center;
    transform: translateY(-0.175em);
  }
}