/*
  -------------------------------------------------

  Text

  -------------------------------------------------
 */

p,
ul,
.text,
.project-scope h2 {
  font-size: var(--s-text);
  font-weight: 400;
}

.text--meta {
  font-family: var(--ff-meta), var(--ff-stack-sans);
  font-size: var(--s-text-meta) !important;
  font-weight: 400;
  letter-spacing: var(--ls-meta);
}

/* 
  -------------------------------------------------
  
  Headings
  
  Tufte CSS uses h1 for the document title, p with class subtitle for the document subtitle, h2 for section headings, and h3 for low-level headings. More specific headings are not supported. If you feel the urge to reach for a heading of level 4 or greater, consider redesigning your document.

  -------------------------------------------------
 */

.super,
.heading {
  font-family: var(--ff-serif-heading), var(--ff-stack-serif);
  font-size: var(--s-heading);
  font-weight: 400;
  letter-spacing: var(--ls-heading);
}

.heading--inLede {
  font-size: calc((16 / (var(--s-text-unit) * 16)) * var(--s-heading)) !important;
}

.super {
  // font-family: var(--ff-italic), var(--ff-stack-serif);
  // font-style: italic;
  // font-size: calc(3 * var(--s-text));
  font-size: calc(3 * var(--s-heading));
  line-height: 1.1;
  letter-spacing: -0.005em;
  text-transform: uppercase;
}

.subheading,
.journal-scope h2,
.project-scope h2 {
  font-family: var(--ff-italic), var(--ff-stack-serif);
  font-size: var(--s-text);
  font-style: italic;
  font-weight: 400;
  letter-spacing: var(--ls-heading);
}

.italic {
  font-family: var(--ff-italic), var(--ff-stack-serif);
  font-style: italic;
}

.caps {
  font-family: var(--ff-sans-regular), var(--ff-stack-serif);
  font-family: var(--ff-serif-heading), var(--ff-stack-serif);
  font-size: calc((16 / (var(--s-text-unit) * 16)) * var(--s-caps));
  text-transform: uppercase;
}

/*.journal-scope h3 {
  font-family: var(--ff-serif-caps), var(--ff-stack-serif);
  font-size: calc(1 * var(--s-text-meta));
  font-weight: 500;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}*/

blockquote p em,
.journal-scope h3,
.project-scope h3 {
  font-family: var(--ff-caps), var(--ff-stack-serif);
  font-size: var(--s-text-meta) !important;
  font-style: normal;
  // font-weight: 400;
  font-weight: 700;
  letter-spacing: var(--ls-caps);
  text-transform: uppercase;
}

/* 
  -------------------------------------------------

  Spaces

  -------------------------------------------------
 */

p,
ul,
ol,
blockquote,
h1,
h2,
h3,
h4,
h6 {
  margin-bottom: var(--s-3);

  @media (--md) {
    margin-bottom: var(--s-3b);
  }

  &:last-child {
    margin-bottom: 0;
  }
}

/* h6 is used to define a markdown section */
h1,
h2,
h3,
h4,
h6 {
  &:not(:first-child) {
    margin-top: calc(3 * var(--s-3));

    @media (--md) {
      margin-top: calc(3 * var(--s-3b));
    }
  }
}

.post:not(:first-child) {
  margin-top: var(--s-4);
  margin-bottom: var(--s-4);

  @media (--md) {
    margin-top: var(--s-5);
    margin-bottom: var(--s-5);
  }
}

* + .Button,
* + .project-link {
  margin-top: var(--s-3);

  @media (--lg) {
    margin-top: var(--s-4);
  }
}

.Button + .Button,
.project-link + .project-link {
  margin-top: var(--s-2);

  @media (--lg) {
    margin-top: var(--s-2);
  }
}

/* 
  -------------------------------------------------

  Journal theme

  -------------------------------------------------
 */

.journal-scope {
  // width: 96%;

  @media (--md) {
    // width: 75%;
  }
}

.journal-scope strong {
  // font-family: var(--ff-sans-bold), var(--ff-stack-sans);
  // font-weight: 500;
  // background-color: var(--c-highlight);
}

.journal-scope hr {
  background-color: transparent;

  &:after {
    content: "* * *";
    display: block;
    font-size: var(--s-text);
    letter-spacing: 0.025em;
    line-height: 1;
    margin: auto;
    text-align: center;
    transform: translateY(-0.175em);
  }
}

/* h6 is used in markdown sections ??? */
h6 {
  font-size: var(--s-text);
  margin-bottom: 0;
}

/*
  -------------------------------------------------

  blockquote (incl. spacing)

  -------------------------------------------------
 */

blockquote p {
  border-left: 1px solid;
  border-color: var(--c-textLight);
  color: var(--c-textLight);
  font-family: var(--ff-italic), var(--ff-stack-sans);
  padding-left: var(--s-3);

  @media (--sm) {
    padding-left: var(--s-3a);
  }

  &:before {
    // content: "“";
    display: block;
    position: absolute;
    transform: translate3d(-100%, 0, 0);
  }

  & p {
    border: initial;
    padding: initial;
  }
}

blockquote p em {
  display: table;
  font-family: var(--ff-sans-regular), var(--ff-stack-serif);
  /* method for resetting ems, then apply text--meta sizing: */
  font-size: calc((16 / (var(--s-text-unit) * 16)) * 1em);
  font-size: calc((16 / (var(--s-text-unit) * 16)) * var(--s-text-meta)) !important;
  font-style: normal;
  font-weight: 700;
  margin-top: var(--s-2);
  letter-spacing: var(--ls-caps);
  text-transform: uppercase;

  @media (--lg) {
    margin-top: var(--s-3);
  }
}
