/* 
  
  Headings
  --------
  Tufte CSS uses h1 for the document title, p with class subtitle for the document subtitle, h2 for section headings, and h3 for low-level headings. More specific headings are not supported. If you feel the urge to reach for a heading of level 4 or greater, consider redesigning your document.

 */

h1,
h2,
h3 {
  font-weight: normal;
}

.Meta {
  font-family: var(--font-heading-bold), var(--font-stack-sans);
  font-size: var(--s-heading-meta);
  font-style: normal;
  font-weight: 700;
  letter-spacing: var(--ls-meta);
  line-height: 1;
  text-transform: uppercase;

  &.--medium {
    font-family: var(--font-heading-bold);
  }
}

h1,
.Title {
  font-family: var(--font-heading-medium), var(--font-stack-sans);
  font-size: var(--s-title);
  font-weight: 500;
  letter-spacing: 0.015em;
  line-height: var(--lh-heading);
  text-transform: uppercase;
}

.Title--sub {
  font-family: var(--font-heading-medium), var(--font-stack-sans);
  text-transform: initial;
}

/*.Heading {
  font-family: var(--font-heading-bold);
  font-size: var(--s-lede);
  letter-spacing: 0.02em;
  line-height: 1.1;
  text-transform: uppercase;
}*/

.TypeScope h2 {
  font-family: var(--font-heading-bold), var(--font-stack-sans);
}

.Subheading,
.TypeScope h2, 
.TypeScope blockquote p,
.TypeScope blockquote p em {
  font-family: var(--font-heading-medium), var(--font-stack-sans);
  font-size: var(--s-lede);
  font-style: normal;
  letter-spacing: 0;
  line-height: var(--lh-subheading);
}


/* 
 * Texts
 */

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-serif-regular), var(--font-stack-serif);
  font-weight: 400;
  letter-spacing: var(--ls-text);
  line-height: var(--lh-text);

  /* reset things */
  text-rendering: geometricPrecision;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

/* 
 * Responsive sizing 
 */ 
body,
.TypeScope-reset {
  font-size: 0.75rem;
  
  @media (--small-viewport) {
    font-size: 0.8125rem;
  }
  @media (--large-viewport) {
    font-size: 1rem;
  }
}

/*
 * Markdown scope
 */ 

.TypeScope p,
.TypeScope ol,
.TypeScope ul,
.Text {
  font-family: var(--font-serif-regular), var(--font-stack-serif);
  font-size: var(--s-text);
  font-style: normal;
  font-weight: 400;
  line-height: var(--lh-text);
  text-transform: initial;
}

.TypeScope p em,
.Text--italic {
  font-family: var(--font-serif-italic), var(--font-stack-serif);
  font-style: normal;
}

.TypeScope p em {
  color: var(--color-text-light);
}

.TypeScope p strong,
.Newthought {
  font-family: var(--font-heading-bold), var(--font-stack-sans);
  font-variant: small-caps;
  font-size: 1;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: lowercase;
}

.TypeScope ul {
  list-style-type: disc;
  /*margin-top: calc(-1 * var(--s4));*/
  padding-left: var(--s4);
}

.TypeScope blockquote p {
  border: 0;
  border-top: 1px solid var(--color-text);
  border-bottom: 1px solid var(--color-text);
  color: var(--color-text);
  padding: var(--s2) 0;
  position: relative;

  @media (--large-viewport) {
    padding: var(--s4) 0;
  }

  /*&::first-line {
    transform: translateX(-1em);
  }*/

  /*&:before {
    content: "“";
    left: -2px;
    display: block;
    position: absolute;
    transform: translate3d(-100%,0,0);
  }*/
}

.TypeScope blockquote p em {
  color: var(--color-text);
  display: table;
  font-family: var(--font-heading-bold), var(--font-stack-sans);
  font-size: 0.9em;
  font-variant: small-caps;
  letter-spacing: 0.05em;
  margin-top: var(--s2);
  text-transform: lowercase;
}


.Drop > p:first-of-type:first-letter {
  float: left;
  font-size: 2.5em;
  font-family: var(--font-heading-medium), var(--font-stack-sans);
  line-height: 1;
  margin-left: 0;
  padding-right: 0.666667em;
  padding-bottom: 0.25em;
  transform: translateY(-0.1em);
  
  font-size: 2em;
  padding-right: 0.8em;
  padding-bottom: 0.5em;
}

/* 
 * lists 
 */

ul,
ol {
  font-family: inherit;
  list-style-type: none;
  margin: var(--s3) 0;
  padding-left: 0;

  @media (--large--viewport) {
    margin: var(--s4) 0;
  }
}

li {
  margin-bottom: 0;
}

.u-noNegativeTopAlign {
  /*margin-top: 0 !important;*/
}

.u-noVisualList {
  list-style-type: none !important;
  padding-left: 0 !important;
}


/* 
 * spaces 
 */

.u-pSpace {
  margin-bottom: var(--s3);

  @media (--large-viewport) {
    margin-bottom: var(--s4);
  }
}

p + p,
ul + p, 
p + .Button {
  margin-top: var(--s3);

  @media (--large-viewport) {
    margin-top: var(--s4);
  }
}

blockquote {
  margin: var(--s3) 0;

  @media (--large-viewport) {
    margin-: var(--s4) 0;
  }
}

.TypeScope > blockquote:first-child {
  margin-top: 0;
}

ul + h2,
blockquote + h2,
p + h2 {
  margin-top: var(--s4);

  @media (--large-viewport) {
    margin-top: var(--s5);
  }
}

h2 {
  margin-bottom: var(--s2);

  @media (--large-viewport) {
    margin-bottom: var(--s3);
  }
}

p:last-child {
  margin-bottom: 0;
}

ol,
ul {
}

ol,
ul {
  & ol,
  & ul {
    margin-bottom: 0;
  }
}
