/* basic form elements from hi-q */

fieldset {
  min-width: 0;
  margin: 0 0 var(--space);
  padding: 0;
  border: 0 solid transparent;
}

legend {
  color: inherit;
  display: block;
  font-weight: 400;
  line-height: inherit;
  max-width: 100%;
  margin: 0 0 var(--s-2);
  padding: 0;
  white-space: normal;
  width: 100%;
}

label {
  display: block;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

output {
  display: inline-block;
}
