/* color inputs from hi-q */

input[type='color'] {
  cursor: pointer;
  &:focus {
    box-shadow: 0 0 0 0.2rem var(--c-border);
    outline: 0;
  }
  &:disabled,
  &[aria-disabled] {
    cursor: not-allowed;
  }
}
