/* file inputs from hi-q */

input[type='file'] {
  cursor: pointer;
  display: block;
  font-size: inherit;
  line-height: inherit;
  
  &:focus {
    box-shadow: 0 0 0 0.2rem var(--c-border);
    outline: 0;
  }
  
  &:disabled,
  &[aria-disabled] {
    cursor: not-allowed;
  }
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}
