.Nav {
  /*border-bottom: 1px solid var(--c-border);*/
}

.Nav--purple {
  background-color: var(--c-brand);
  border-bottom: initial;

  & a {
    color: var(--c-white);
  }
}

.Nav-links {
  margin-bottom: 0;
}

/* center links vertically */
.Nav-links,
.Nav-links li,
.Nav-mobileTrigger {
  align-items: stretch;
  display: flex;
}

.Nav-links li a {
  align-items: center;
  color: var(--c-text);
  display: flex;
  font-size: var(--fs-text);
}

.Nav-memberTrigger {
  border: 1px solid var(--c-text);
  border-radius: 50%;
  fill: var(--c-text);
  height: 36px;
  padding: 0;
  transform: translateY(3px);
  vertical-align: middle;
  width: 36px;

  & span {
    transform: translateY(-1px);
  }
}

.Nav-mobileTrigger {
  &:before {
    content: '\2630';
    margin-right: 6px;
  }
}

/*

  footer

*/

footer .Nav-links a {
  color: var(--c-white);
}
