.Profile {
}

.Profile-avatar {
  border-radius: 50%;
  height: 5rem;
  overflow: hidden;
  width: 5rem;

  img {
    max-width: 5rem;
  }
}

.Profile-detail p {
}

.Profile-links {
  @mixin fs-text;
  color: var(--c-text);
  border-left: 1px solid var(--c-text);
  margin-left: var(--space);
  padding-left: var(--space);

  & a {
    display: block;

    &:not(:last-child) {
      margin-bottom: var(--s-1);
    }
  }
}
