/*

  https://philipwalton.com/articles/why-im-excited-about-native-css-variables/

*/

:root {
  --responsive-space: 1.25rem;
}

@media (--tablet) {
  :root {
    --responsive-space: 2rem;
  }
}
@media (--desktop) {
  :root {
    --responsive-space: 4rem;
  }
}

/* 

  Responsive margin blocks
  
 */

.x {
  margin: var(--responsive-space) auto;
}
.x-mb1 {
  margin-bottom: calc(0.5 * var(--responsive-space));
}
.x-mb2 {
  margin-bottom: var(--responsive-space);
}
.x-mb3 {
  margin-bottom: calc(2 * var(--responsive-space));
}

.x-pb2 {
  padding-bottom: var(--responsive-space);
}
.x-pb3 {
  padding-bottom: calc(2 * var(--responsive-space));
}
