.Tab-controls {
  @apply flex;
  /* @apply border-b border-text; */
  /* @apply text-gray-500; */
}

.Tab-controls li + li {
  @apply ml-4;
}

/* newsletter */
/* .Tab-controls li:last-of-type {
  @apply ml-auto;
} */

/* 1. remove height above the button for better alignment
      of header typography when using padding */
.Tab-controls--button {
  @apply border-b-4 border-transparent;
  @apply inline-flex;
  /* @apply items-center; */
  border-bottom-width: 3px;
  /* height: calc(theme(spacing.16) * var(--space-ratio)); */
  padding-bottom: calc(theme(spacing.5) * var(--space-ratio)); /* 1 */
  transform: translateY(1px);
}

.Tab-controls button {
  @apply text-gray-500;
  /* @apply border border-transparent;
  @apply inline-flex;
  transform: translateY(1px); */
}

.Tab-controls button:hover,
.Tab-controls button:active,
.Tab-controls button.is-active {
  @apply text-black outline-none;
}
