/*

  LINK
  Todo: think this thru…

*/

.Link a:not(.Button),
.Markdown a:not(.Button) {
  transition: all 150ms cubic-bezier(.7, 0, .3, 1);
  box-shadow: inset 0 -1px 0 #bbb;
  /* text-decoration: underline; */
}

/* p a:hover:not(.Button),
ul a:hover:not(.Button),
ol a:hover:not(.Button), */
.Link a:hover:not(.Button),
.Markdown a:hover:not(.Button) {
  /* @apply bg-brand-highlight; */
  box-shadow: inset 0 -25px 0 theme(colors.brand.highlight);
}

/* VARS */

.Link--underline {
  @apply inline-block border-b border-gray-500;
  text-decoration: none !important;
}

/* denotes target="_blank" using &#8599; */
.Link--blank {
  @apply inline-block;
  font-size: 60%;
  margin-left: 0.125em;
  transform: translateY(-0.75em);
}

/* LINK BLOCKS */

.Link-block a:not(.Button) {
  transition: color 250ms ease;
}
.Link-block a:not(.Button):hover {
  @apply text-black;
}

.Link-underline-block a:not(.Button) {
  @apply inline-block border-b border-gray-400;
  text-decoration: none !important;
  transition: all 250ms ease;
}
.Link-underline-block a:not(.Button):hover {
  @apply text-black border-text;
}
