/*

  Text: customisable starter pack

  Uses the responsiveScale settings from `typography-scale`

*/

html {
  @apply bg-brand-bg;
}

/* font-feature-settings from http://design.byform.co/ */
body {
  @apply antialiased text-text leading-normal;
  @apply font-sans;
  @apply bg-brand-bg;
  /* font-feature-settings: "kern" 1,'ss01' 1,'ss02' 1,'ss03' 1,'ss04' 1; */
  font-kerning: normal;
  /* hyphens: auto; */
  -webkit-tap-highlight-color: transparent;
}

::selection {
  @apply bg-text text-white;
}

p,
ul,
ol {
  @apply tracking-text;
}

.Text--xs {
  font-size: calc(theme(fontSize.xs) * var(--text-ratio));
}
.Nav-link,
.Text--sm {
  @apply tracking-wide;
  font-size: calc(theme(fontSize.sm) * var(--text-ratio));
}
.Button,
.Input,
.Text--base {
  font-size: calc(theme(fontSize.base) * var(--text-ratio));
}
.Text--xl {
  font-size: calc(theme(fontSize.xl) * var(--text-ratio));
}
p,
ul,
ol,
.Markdown > *,
.Text,
.Text--lg {
  font-size: calc(theme(fontSize.lg) * var(--text-ratio));
}

/*

  Meta

 */

.Meta,
.Markdown blockquote p strong {
  @apply font-sans font-medium uppercase tracking-wider;
  font-size: calc(theme(fontSize.xxs) * var(--text-ratio));
}

.Meta--year {
  @apply font-medium border-b;
  margin-bottom: calc(theme(spacing.1) * var(--space-ratio));
  padding-bottom: calc(theme(spacing.2) * var(--space-ratio));
}

/*

  Nav

*/

.Nav-link {
  @apply font-medium inline-flex items-center;
  height: calc(theme(spacing.16) * var(--space-ratio));
}

/*

  Utils

*/

.text-gray {
  color: theme(colors.gray.600);
}

/*

  Markdown theme

*/

.Markdown ul,
.Markdown ol {
  @apply pl-6;
}

.Markdown ul {
  list-style: disc;
  list-style: none;
}

.Markdown ol {
  list-style: decimal;
}

.Markdown ul + ul {
  list-style: disc;
}

.Markdown li {
  @apply relative;
}

.Markdown li:before {
  @apply absolute inline-block bg-text h-px;
  content: "";
  width: 1em;
  top: 0.6em;
  left: -1.25em;
}

/* doesn't work when purge is active? */
.Markdown em {
  @apply not-italic;
}

.Markdown strong {
  @apply font-medium;
}

.Markdown blockquote p {
  @apply border-l border-gray-500;
  @apply text-gray-600;
  padding-left: calc(theme(spacing.4) * var(--grid-ratio));
}

.Markdown blockquote p p {
  border: initial;
  padding: initial;
}

/* same as Meta font style */
.Markdown blockquote p strong {
  @apply table mt-1 tracking-wider;
  @apply text-gray-600;
}

.Markdown sup {
  font-size: 66%;
  left: 0.05em;
}

/*

  Post specials

*/

.Note {
  @apply text-gray-600 tracking-wide pt-2 border-t border-gray-400;
}
.Note,
.Note p {
  font-size: calc(theme(fontSize.sm) * var(--text-ratio));
}
.Note:first-of-type {
  margin-top: calc(theme(spacing.8) * var(--space-ratio));
}
.Note:before {
  content: none !important;
}
.Note + .Note {
  @apply border-transparent;
}
