/*

  Headings: customisable starter pack
  …uses the responsiveScale settings from `typography-scale`

  Default heading

 */

.Heading {
  @apply font-sans;
  @apply font-normal;
  @apply leading-tight;
  font-size: calc(theme(fontSize.4xl) * var(--heading-ratio));
}

/*

  Serif

*/

/* .Heading-serif {
  @apply font-serif italic leading-snug tracking-wide;
} */

/*

  Smaller size: --text-ratio

 */

.Heading-xl {
  font-size: calc(theme(fontSize.xl) * var(--text-ratio));
}
.Heading-2xl {
  font-size: calc(theme(fontSize.2xl) * var(--text-ratio));
}
.Heading-3xl {
  font-size: calc(theme(fontSize.3xl) * var(--text-ratio));
}
/* .Heading-lg,
.Heading-xl,
.Heading-2xl,
.Heading-3xl {
  font-size: calc(theme(fontSize.lg) * var(--text-ratio));
} */
/* @screen lg {
  .Heading-xl {
    font-size: calc(theme(fontSize.xl) * var(--text-ratio));
  }
  .Heading-2xl {
    font-size: calc(theme(fontSize.2xl) * var(--text-ratio));
  }
  .Heading-3xl {
    font-size: calc(theme(fontSize.3xl) * var(--text-ratio));
  }
} */

/*

  Larger sizes: --heading-ratio

*/

.Heading-4xl {
  font-size: calc(theme(fontSize.4xl) * var(--text-ratio));
}
.Heading-45xl {
  font-size: calc(theme(fontSize.45xl) * var(--text-ratio));
}
.Heading-5xl {
  font-size: calc(theme(fontSize.5xl) * var(--text-ratio));
}
.Heading-6xl {
  font-size: calc(theme(fontSize.6xl) * var(--text-ratio));
}
.Heading-7xl {
  font-size: calc(theme(fontSize.7xl) * var(--text-ratio));
}
/* .Heading-8xl {
  font-size: calc(theme(fontSize.8xl) * var(--heading-ratio));
} */

/*

  Tracking + leading at sizes

 */

.Heading-xl,
.Heading-2xl,
.Heading-3xl {
  @apply leading-snug;
  @apply tracking-tight;
}
.Heading-5xl,
.Heading-6xl,
.Heading-7xl,
.Heading-8xl {
  @apply leading-title;
  @apply tracking-tight;
}

/*

  Markdown theme

 */
.Markdown h2 {
  @apply font-medium;
  font-size: calc(theme(fontSize.2xl) * var(--heading-ratio));
}
.Markdown h3 {
  @apply font-medium;
  /* font-size: calc(theme(fontSize.xl) * var(--heading-ratio)); */
}
