/*

  Spacing between typographic elements.

  Meta spacing
  Need smaller spacing? Use mb-px or mb-1.
  It's ok that they're unresponsive b/c they're small enough.

*/

.s-block-m:not(:last-child),
.s-m {
  margin-bottom: calc(theme(spacing.3) * var(--space-ratio));
}
.st-m {
  margin-top: calc(theme(spacing.3) * var(--space-ratio));
}
.sy-m {
  margin-top: calc(theme(spacing.3) * var(--space-ratio));
  margin-bottom: calc(theme(spacing.3) * var(--space-ratio));
}

/*

  Paragraph spacing

*/

/* .Markdown figure,*/
.Markdown p:not(:last-child),
.s-block-p:not(:last-child),
.s-p {
  margin-bottom: calc(theme(spacing.4) * var(--space-ratio));
}
.st-p {
  margin-top: calc(theme(spacing.4) * var(--space-ratio));
}
.Markdown ul:not(:last-child),
.Markdown ol:not(:last-child),
.Markdown blockquote,
.sy-p {
  margin-top: calc(theme(spacing.4) * var(--space-ratio));
  margin-bottom: calc(theme(spacing.4) * var(--space-ratio));
}

/*

  Heading spacing

*/

.Markdown h2:not(:last-child),
.Markdown h3:not(:last-child) {
  margin-bottom: calc(theme(spacing.1) * var(--space-ratio));
}

.Markdown p + h2,
.Markdown ul + h2,
.Markdown blockquote + h2 {
  margin-top: calc(theme(spacing.10) * var(--space-ratio));
}
.Markdown p + h3,
.Markdown ul + h3,
.Markdown blockquote + h3 {
  margin-top: calc(theme(spacing.6) * var(--space-ratio));
}

.s-block-h:not(:last-child),
.s-h {
  margin-bottom: calc(theme(spacing.4) * var(--space-ratio));
}
.st-h {
  margin-top: calc(theme(spacing.4) * var(--space-ratio));
}
.sy-h {
  margin-top: calc(theme(spacing.4) * var(--space-ratio));
  margin-bottom: calc(theme(spacing.4) * var(--space-ratio));
}

.s-2xh {
  margin-bottom: calc(theme(spacing.8) * var(--space-ratio));
}
.st-2xh {
  margin-top: calc(theme(spacing.8) * var(--space-ratio));
}
.sy-2xh {
  margin-top: calc(theme(spacing.8) * var(--space-ratio));
  margin-bottom: calc(theme(spacing.8) * var(--space-ratio));
}

/*

  Input & hr spacing

 */

.sy-hr {
  margin-top: calc(theme(spacing.5) * var(--space-ratio));
  margin-bottom: calc(theme(spacing.5) * var(--space-ratio));
}

.s-input {
  margin-bottom: calc(theme(spacing.5) * var(--space-ratio));
}
