/*

  Text: customisable starter pack

  Uses the responsiveScale settings from `typography-scale`

*/

html {
  @apply bg-brand-bg;
}

/* font-feature-settings from http://design.byform.co/ */
body {
  @apply antialiased text-text leading-normal;
  @apply font-sans;
  @apply bg-brand-bg;
  /* font-feature-settings: "kern" 1,'ss01' 1,'ss02' 1,'ss03' 1,'ss04' 1; */
  font-kerning: normal;
  /* hyphens: auto; */
}

::selection {
  @apply bg-brand-highlight;
}

p,
ul,
ol {
  @apply tracking-text;
}

.Meta,
.Markdown blockquote p strong {
  @apply font-sans font-medium uppercase tracking-wide;
  font-size: calc(theme(fontSize.xxs) * var(--text-ratio));
}

.Text--xs {
  font-size: calc(theme(fontSize.xs) * var(--text-ratio));
}
.Button,
.Input,
.Text--sm {
  font-size: calc(theme(fontSize.sm) * var(--text-ratio));
}
.Text--lg {
  font-size: calc(theme(fontSize.lg) * var(--text-ratio));
}
.Text--xl {
  font-size: calc(theme(fontSize.xl) * var(--text-ratio));
}

p,
ul,
ol,
.Markdown > *,
.Text,
.Text--base {
  font-size: calc(theme(fontSize.base) * var(--text-ratio));
}

.Markdown > * {
  /* @apply text-gray-600; */
}

/*

  Utils

*/

.text-gray {
  color: theme(colors.gray.600);
}

/*

  Markdown theme

*/

.Markdown ul,
.Markdown ol {
  padding-left: theme(spacing.6);
}

.Markdown ul {
  list-style: disc;
  list-style: none;
}

.Markdown ol {
  list-style: decimal;
}

.Markdown ul + ul {
  list-style: disc;
}

/* doesn't work when purge is active? */
.Markdown em {
  @apply not-italic;
}

.Markdown strong {
  @apply text-black font-medium;
}

.Markdown a:not(.Button) {
  text-decoration: underline;
  text-decoration-line: underline;
}

.Markdown blockquote p {
  @apply pl-4 border-l border-gray-400;
  @apply text-gray-500;
  /* @apply italic; */
}

.Markdown blockquote p em {
  /* @apply bg-transparent; */
  /* font-style: italic !important; */
}

.Markdown blockquote p p {
  border: initial;
  padding: initial;
}

.Markdown blockquote p strong {
  @apply table font-medium not-italic mt-1;
  @apply text-gray-500;
}
