/*

  Headings: customisable starter pack

  Uses the responsiveScale settings from `typography-scale`

 */

.Heading,
.Subheading
.Markdown h2,
.Markdown h3,
.Metaheading {
  @apply font-sans text-text;
}

.Markdown h3,
.Metaheading {
  /* @apply font-normal leading-normal italic; */
  @apply font-sans leading-normal tracking-wider;
  @apply font-medium;
  @apply uppercase;
  font-size: calc((theme(fontSize.base) - 2px) * var(--text-ratio));
  font-size: calc(theme(fontSize.sm) * var(--text-ratio));
}

.Markdown h2 {
  /* @apply font-title font-bold leading-normal tracking-wide uppercase; */
  @apply font-sans font-medium leading-normal tracking-text;
  font-size: calc(theme(fontSize.2xl) * var(--text-ratio));
}

.Subheading {
  @apply font-bold leading-snug;
  font-size: calc(theme(fontSize.xl) * var(--text-ratio));
}

.Heading {
  @apply leading-snug uppercase;
  font-size: calc(theme(fontSize.3xl) * var(--text-ratio));
}

/* Markdown theme example */
/* .Markdown h2 {} */

/*

  Titles
  Requires adding a font.title key:value in tailwind.config

 */

.Display,
.Title {
  @apply font-title font-medium tracking-text;
}

.Title {
  @apply leading-tight;
  font-size: calc(theme(fontSize.xl) * var(--title-ratio));
}
.Title .Link--blank {
  font-size: 55%;
  margin-left: 0;
  transform: translateY(-0.75em);
}

.Display {
  @apply font-medium tracking-tight leading-none;
  font-size: calc(theme(fontSize.4xl) * var(--title-ratio));
}
