/* eslint-disable */
/* prettier-ignore */

:root {
  /* 

    Media queries 

   */

  @custom-media --mobile-only (max-width: 35rem);
  @custom-media --tablet (min-width: 35rem);
  @custom-media --tablet-only (min-width: 35rem) and (max-width: 54rem);
  @custom-media --tablet-down (max-width: 54rem);
  @custom-media --desktop (min-width: 54rem);
  @custom-media --super (min-width: 100rem);

  @custom-media --sm (min-width: 512px);
  @custom-media --md (min-width: 768px);
  @custom-media --lg (min-width: 1280px);
  @custom-media --xl (min-width: 1600px);

  /* 

    Space scale

   */
  
  --space: 1rem;
  
  --s-0: 0;
  --s-1: 0.25rem;
  --s-2: 0.5rem;
  --s-3: 1rem;
  --s-4: 2rem;
  --s-5: 4rem;
  --s-6: 8rem;
  --s-7: 16rem;

  /* 

    Colors

   */

  --c-brand: hsl(294, 66%, 25%);
  --c-brandHover: hsl(294, 66%, 15%);
  --c-brandMedium: hsl(294, 66%, 66%);
  --c-brandLight: hsl(294, 66%, 98%);

  --c-black: hsl(0, 0%, 3%);
  --c-ash: hsl(213, 11%, 8%);
  --c-text: hsl(0, 0%, 5%);
  --c-textLight: hsl(0, 0%, 50%);
  --c-gray: hsl(0, 0%, 50%);
  --c-rule: hsl(0, 0%, 85%);
  --c-border: hsl(0, 0%, 93%);
  --c-neutral: hsl(0, 0%, 87%);
  --c-bg: hsl(0, 0%, 100%);
  --c-white: white;

  --initialBlendColor: rgba(97, 22, 106, 0.7);
  /*--darkBlendColor: rgba( palette(black), 0.5 );
  --greyBlendColor: rgba( palette(text), 0.15 );
  --lightBlendColor: rgba( palette(white), 0.4 );
  --whiteBlendColor: rgba( palette(white), 0.85 );
  --brandBlendColor: rgba( palette(brand), 0.7 );
  --brandLightBlendColor: rgba( palette(brand), 0.1 );*/

  /* 
  
    Border
  
   */

  --border-radius: 4px;

  /* 
  
    Fonts
  
   */

  --ff-sans: "Camphor";
  --ff-stack-serif: Georgia, "Times New Roman", Times, serif;
  --ff-stack-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;  

  /* 

    Font sizes

   */

  --fs-text-unit: 1;
  --fs-text: 1em;
  
  --fs-textMeta: calc(var(--fs-text-unit) * 0.8125em);
  --fs-textLarge: calc(var(--fs-text-unit) * 1.3125em);
  --fs-subheading: calc(var(--fs-text-unit) * 1.75em);
  --fs-heading: calc(var(--fs-text-unit) * 2.5em);

  /* 

    Font weights

   */

  --fw-light: 200;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;

  /* 

    Font tracking & leading

   */

  --ft-tight: -0.005em;
  --ft-regular: 0;
  --ft-loose: 0.01em;

  --fl-tight: 1.15;
  --fl-regular: 1.4;
  --fl-loose: 1.7;

  /* 

    Utility vars

   */

  --inlineBlockChildrenSpace: calc(1.25 * var(--s-3));
  --cardRadius: 6px;
  --progressHeight: 32px;


  /* button variables */
  --hiq-button-height: 2.25rem;
  --hiq-button-vertical-padding: 0;
  --hiq-button-horizontal-padding: 1rem;
  --hiq-button-border-width: 1px;
  --hiq-button-border-radius: var(--hiq-border-radius);
  --hiq-button-font-weight: var(--hiq-font-weight-medium);

  /* ORIG var(--hiq-color-primary): hsl(210, 100%, 50%) */
  /* var(--hiq-color-primary): hsl(294, 66%, 25%) */
  /* var(--hiq-color-primary-hover): hsl(294, 66%, 12.5%) */

  /* static colors */
  --hiq-button-border-color: var(--hiq-color-primary);
  --hiq-button-background-color: var(--hiq-color-primary);
  --hiq-button-text-color: white;

  /* hover colors */
  --hiq-button-hover-border-color: hsl(294, 66%, 15%);
  --hiq-button-hover-background-color: hsl(294, 66%, 15%);
  --hiq-button-hover-text-color: white;

  /* focus colors */
  --hiq-button-focus-border-color: hsl(294, 66%, 50%);
  --hiq-button-focus-background-color: hsl(294, 66%, 50%);
  --hiq-button-focus-text-color: white;

  /* active colors */
  --hiq-button-active-border-color: hsl(294, 66%, 30%);
  --hiq-button-active-background-color: hsl(294, 66%, 30%);
  --hiq-button-active-text-color: white;


}
