/* 
  
  https://github.com/jonathanharrell/hiq/blob/master/pcss/utility/display.pcss
  https://github.com/suitcss/utils-layout/
  https://github.com/suitcss/utils-position

 */

/* 
 * positions & layout 
 */

.has-center-child {
  align-items: center;
  display: flex;
  justify-content: center;
}


.has-pointer {
  cursor: pointer;
}

.u-imgResponsive {
  display: block;
  height: auto;
  max-width: 100%;
}


/*

  Widths

 */ 

/* makes element full width of its parent */
@define-mixin is-full-width {
  width: 100%;
}

.is-full-width {
  @mixin is-full-width;
}

/* makes element max width of 100% of its parent */
@define-mixin is-max-full-width {
  max-width: 100%;
}

.is-max-full-width {
  @mixin is-max-full-width;
}

/* centers element as a block element */
@define-mixin is-centered $max-width: auto {
  max-width: $max-width;
  margin-right: auto;
  margin-left: auto;
}

.is-centered {
  margin-right: auto;
  margin-left: auto;
}







/* truncate text and show ellipsis */
@define-mixin has-text-truncated {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.has-text-truncated {
  @mixin has-text-truncated;
}

/* overflow content hidden */
@define-mixin is-clipped {
  overflow: hidden !important;
}

.is-clipped {
  @mixin is-clipped;
}





/* 

  reset of all properties…
  1. to initial values 
  2. to inheritable values, or else initial values

*/
@define-mixin is-initial {
  all: initial;
}

@define-mixin is-unset {
  all: unset;
}