/*

  Icon

 */

.u-iconWrapper {
  cursor: pointer;
  display: inline-block;
  margin: calc(-1 * var(--space));
  padding: var(--space);
}

.u-icon {
  display: inline-block;
  fill: currentColor;
  // height: var(--s-4);
  height: 1.5rem;
  line-height: 1;
  max-width: 100%;
  position: relative;
  text-align: center;
  user-select: none;
  // vertical-align: text-bottom;
  width: 1.5rem;

  & > svg {
    fill: currentColor;
    transition: fill 400ms ease;
  }
}


/* THEME */
/* https://css-tricks.com/scale-svg/ */

.u-icon--logo {
  height: 36px;
  transform: translateY(5px);
  width: 95px;
}

.u-icon--sm,
.u-icon--sm svg {
  height: 1rem;
  width: 1rem;
}

.u-icon--sm {
  transform: translateY(2px);
}

.u-icon--tiny,
.u-icon--tiny svg {
  height: 0.75rem;
  width: 0.75rem;
}

.u-icon-toggle svg {
  height: 1.5em;
  width: 1.5em;

  @media (--tablet) {
    height: 2rem;
    width: 2rem;
  }
}
