.Button {
  appearance: none;
  background-color: var(--color-text);
  border: 0;
  border-radius: 0;
  color: white;
  cursor: pointer;
  padding: 0.5rem 1rem;
  transition: background-color 0.1s, color 0.1s, opacity 0.2s ease-out;
  vertical-align: middle;
  white-space: nowrap;

  /* theme */
  box-shadow: inset 0 0 0 1px var(--color-text);
  font-weight: inherit;
  letter-spacing: 0;
  line-height: inherit;
  padding: 1rem 2rem 0.9rem;
  text-transform: inherit;

  /* pseudos */
  &:hover {
    // background-color: var(--color-highlight);
    // box-shadow: inset 0 0 0 999px var(--color-text);
    color: white;
  }

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 2px var(--color-neutral);
  }

  &:active {
    background-color: var(--color-neutral);
    box-shadow: inset 0 0 16px var(--color-text);
  }

  &:disabled {
    opacity: 0.25;
  }
}

/* 
 * outline variation
 */

.Button--outline {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px;
  color: var(--color-text);

  &:hover {
    background-color: var(--color-text);
    color: var(--color-neutral);
  }

  &:focus {
    box-shadow: inset 0 0 0 2px, 0 0 0 2px;
  }

  &:active {
    background-color: var(--color-text);
    box-shadow: inset 0 0 0 1px var(--color-text),
      inset 0 0 16px var(--color-text);
    color: var(--color-bg);
  }

  @media (--small-viewport) {
    box-shadow: inset 0 0 0 2px;
  }
}

/* 
 * transparent variation
 */

.Button--transparent {
  background-color: transparent;
  box-shadow: initial;
  color: var(--color-text);
  padding: 1rem 1rem 0.666rem;

  &:hover {
    box-shadow: inset 0 0 0 2px var(--color-text);
    color: var(--color-text);
  }

  &:focus {
    box-shadow: inset 0 0 0 2px, 0 0 0 2px;
  }

  &:active {
    background-color: var(--color-text);
    /*box-shadow: inset 0 0 0 2px var(--color-text),
      inset 0 0 16px var(--color-text);*/
    color: var(--color-neutral);
  }
}

/* 
 * disabled variation
 */

.Button.is-disabled {
  opacity: 0.4;
}

/* 
 * small
 */

/*.Button--small {
  font-size: var(--s-text-1);
  letter-spacing: 0.025em;
  @media (--medium-viewport) {
    font-size: var(--s-text-2);
  }
  @media (--large-viewport) {
    font-size: var(--s-text-3);
  }
}*/
