/*
 * Forms
 */

.Form {
}

.Form-group {
  display: flex;
  flex-direction: column;

  & * + * {
    margin: 0 !important;
    margin-left: -1px;
  }

  @media (--small-viewport) {
    flex-direction: row;
  }
}

input:not([type-file]),
textarea,
button {
  border: 0;
}

input:not([type-file]),
textarea {
  /* font-family: inherit;
  font-size: inherit; */
  background-color: white;
}

input:not([type-file]),
select,
textarea {
  letter-spacing: inherit;
  text-transform: inherit;
  width: 100%;
}

/* REBASS */

input {
  appearance: none;
  border: 0;
  box-shadow: inset 0 0 0 1px var(--color-text);
  display: inline-block;
  font-family: inherit;
  line-height: inherit;
  vertical-align: middle;

  &:focus {
    outline: none;
    box-shadow: inset 0 0 0 1px var(--color-text);
  }
}

input {
  margin: 0px;
  padding: 4px;
  width: 100%;
  font-size: inherit;
  color: inherit;
  background-color: transparent;

  /* theme */
  padding: 1rem 2rem;
}
