/*
 * Icon
 * 1. so we can adjust it within <p>s.
 *    Imported 'svgicon' does the rest.
 */

.svg-icon {
  position: relative; /*1*/
}

.svg-fill {
}

.icon-wrap {
  cursor: pointer;
  display: inline-block;
  margin: -20px;
  padding: 20px;
}

.icon {
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  position: relative;
  text-align: center;
}

.icon-logo {
  height: 34px;
  width: 34px;
}

.icon-logo {
  transform: translateY(1px);

  @media (--small-viewport) {
    transform: translateY(2px);
  }
}

.icon-at {
  height: calc(0.85 * 34px);
  width: calc(0.85 * 28px);
}

.icon svg {
  fill: currentColor;
  transition: fill 400ms ease;
}

.icon-logo svg {
  transform: rotate(36deg);
}