html {
  @apply bg-brand-bg;
}

/* 1. Apple kerning, from http://design.byform.co/ */
body {
  @apply font-sans;
  @apply bg-brand-bg;
  font-feature-settings: "kern" 1,'ss01' 1,'ss02' 1,'ss03' 1,'ss04' 1; /* 1 */
}

::selection {
  background-color: theme(colors.brand.highlight);
}

.text-gray {
  color: theme(colors.gray.600);
}

p,
ul,
ol {
  @apply tracking-text;
}

.Meta {
  @apply font-sans font-semibold uppercase tracking-normal;
}

.Title {
  font-size: calc(theme(fontSize.3xl) * var(--text-ratio));
}
