.Grid-extract--edge {
  left: calc(-50vw + 50%);
  position: relative;
  width: 100vw;
}

@screen md {
  .Grid-extract--post {
    --width: calc(theme(screens.sm) + 4rem);
    /* left: calc((-0.5 * 744px) + 50%);
    position: relative;
    width: 744px !important; */
    left: calc((-0.5 * var(--width)) + 50%);
    position: relative;
    width: var(--width) !important;
  }
}

@screen xl {
  .Grid-extract--card {
    /* --width: calc(theme(screens.sm) + 16px);
    left: calc((-0.5 * var(--width)) + 50% - 8px); */
    --width: calc(theme(screens.sm) + 2rem);
    left: calc((-0.5 * var(--width)) + 50% );
    position: relative;
    width: var(--width) !important;
  }
}
