/*

  Page transitions
  https://vuejs.org/v2/guide/transitions.html#Custom-Transition-Classes
  v-enter => v-enter-active => v-enter-to
  v-leave => v-leave-active => v-leave-to

 */

.page-enter-active,
.page-leave-active {
  transition: all 333ms cubic-bezier(1, 0.5, 0.8, 1);
  /* background-color: var(--c-bg); */
  /* height: 100vh; */
  /* opacity: 1; */
  /* width: 100vw; */
  /* z-index: 999; */
}

/* .page-leave-active {
  transition: all 5.3s cubic-bezier(1, 0.5, 0.8, 1);
} */

/* .page-enter, */
.page-leave-to {
  transform: translateX(5px);
  opacity: 0;
}

.page-leave {
  /* transform: translateX(0); */
  /* opacity: 1; */
}
