/*

  Sans

 */

@font-face {
  font-family: "Text";
  src: url("/../../fonts/neue-haas-unica-pro-light.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Text";
  src: url("/../../fonts/neue-haas-unica-pro-regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Text";
  src: url("/../../fonts/neue-haas-unica-pro-medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}
/* @font-face {
  font-family: "Text";
  src: url("/../../fonts/neue-haas-unica-pro-bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
} */
