/*

  Modal transitions example.

  Mostly these shoudl reside within a Vue component.
  Keeping here as a refenence…

 */

.Modal-enter-active .Modal-nav /deep/ .Nav-link,
.Modal-leave-active .Modal-nav /deep/ .Nav-link {
  transition: opacity 250ms cubic-bezier(0.19, 1, 0.22, 1),
    transform 250ms cubic-bezier(0.19, 1, 0.22, 1);
}
.Modal-enter .Modal-nav /deep/ .Nav-link,
.Modal-leave-to .Modal-nav /deep/ .Nav-link {
  opacity: 0;
  transform: scale(1.05) translateY(-20px);
}

.Modal-enter-active .Modal-nav /deep/ .Nav-link:nth-child(1) {
  transition-delay: 250ms;
}
.Modal-enter-active .Modal-nav /deep/ .Nav-link:nth-child(2) {
  transition-delay: 300ms;
}
.Modal-enter-active .Modal-nav /deep/ .Nav-link:nth-child(3) {
  transition-delay: 350ms;
}
.Modal-enter-active .Modal-nav /deep/ .Nav-link:nth-child(4) {
  transition-delay: 400ms;
}
.Modal-enter-active .Modal-nav /deep/ .Nav-link:nth-child(5) {
  transition-delay: 450ms;
}
.Modal-enter-active .Modal-nav /deep/ .Nav-link:nth-child(6) {
  transition-delay: 500ms;
}